@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h1, h2, h3, h4, .h1, .h2, .h3, .main-title, .main-subtitle {
  font-family: Lato;
  font-weight: normal;
  color: #4d4d4d;
}

a {
    color: #47a3a9;
    text-decoration: none;
}

a:hover {
  color: #076064;
}

body { font-family: Roboto; }

.navbar {
  background: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.15);
  border: none;
  min-height: 40px;
}

.navbar.bg-primary {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff) !important;
  /*background-image: linear-gradient(#93d6d6, #78CCCC 60%, #6cb7b7);*/
}

.navbar-brand {
    color: #F064A4;
}

.navbar-brand:hover {
    color: #999999;
}

.navbar-dark .navbar-brand:hover {
    color: #999999;
}

.navbar-nav .nav-link {
    color: #4d4d4d;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .nav-link:focus {
    color: #d7eaf7;
    background-color: #076064!important;
}

.navbar-nav .active>.nav-link {
  background-color: #999999;
  color: #4d4d4d;
}

.nav-item:selection {
  background-color: #707070;
}

.nav-item:hover {
  background-color: #707070;
}

.dropdown-item:hover {
  background-color: #707070;
}

.navlink:hover {
  background-color: #707070;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus .navbar-nav>.drop>a:hover{
    color: #ffffff;
    background-color: #707070;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-color: #707070;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #707070;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #707070;
}

.row>main, .row>aside {
  margin-top: 100px;
}

pre {
    background-color: #f8fcfc;
}


.text-muted {
  color: #78CCCC!important;
}

.dropdown-menu {
  --bs-dropdown-bg: #d7eaf7;
}

/*
.text-muted {
  color: #f5b2d0!important;
}
/*
/*.navbar a:active, .dropdown:active .dropbtn {
  background-color: #003A70;
  background: #003A70;
}

.dropdown > li > a:hover {
  background-color: #003A70;
  background: #003A70;
}

.dropdown-toggle:hover {
  background-color: #003A70;
  background: #003A70;
}

.li:active {
  background: #003A70;
  background-color: #003A70;
}*/