http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Wurmbea%20dioica
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Wurmbea dioica","scientificNameAuthorship":"(R.Br.)
        F.Muell.","taxonConceptID":"https://id.biodiversity.org.au/node/apni/2892003","rank":"species","rankID":7000,"lft":642665,"rgt":642675,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Liliales","orderID":"https://id.biodiversity.org.au/taxon/apni/51300364","family":"Colchicaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51300365","genus":"Wurmbea","genusID":"https://id.biodiversity.org.au/node/apni/2914376","species":"Wurmbea
        dioica","speciesID":"https://id.biodiversity.org.au/node/apni/2892003","speciesGroup":["Plants"],"issues":["matchedToMisappliedName"]}'
  recorded_at: 2021-08-02 00:15:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2892003%29&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":9184,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2892003)","urlParameters":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2892003)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''https://id.biodiversity.org.au/node/apni/2892003''>species:
        Wurmbea dioica</span>)","value":"https://id.biodiversity.org.au/node/apni/2892003)"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"(<span
        class=''lsid'' id=''https://id.biodiversity.org.au/node/apni/2892003''>species:
        Wurmbea dioica</span>)","value":"(lsid:https://id.biodiversity.org.au/node/apni/2892003)"}]}}'
  recorded_at: 2021-08-02 00:15:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/offline/download?fq=%28lsid%3Ahttps%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2892003%29&disableAllQualityFilters=true&fields=decimalLatitude%2CdecimalLongitude%2CeventDate%2CscientificName%2CtaxonConceptID%2CrecordID%2CdataResourceName&qa=none&emailNotify=false&sourceTypeId=2004&reasonTypeId=10&email=test%40test.org.au&dwcHeaders=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      content-language: en
      content-type: text/html;charset=utf-8
      status: 'HTTP/1.1 403 '
    body:
      encoding: UTF-8
      file: no
      string: <!doctype html><html lang="en"><head><title>HTTP Status 403 – Forbidden</title><style
        type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b
        {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-size:16px;}
        h3 {font-size:14px;} p {font-size:12px;} a {color:black;} .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP
        Status 403 – Forbidden</h1><hr class="line" /><p><b>Type</b> Status Report</p><p><b>Message</b>
        Unable to perform an offline download, unable to verify user details</p><p><b>Description</b>
        The server understood the request but refuses to authorize it.</p><hr class="line"
        /><h3>Apache Tomcat/9.0.31 (Ubuntu)</h3></body></html>
  recorded_at: 2021-08-02 00:15:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
