http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type:
      - application/json;charset=UTF-8
      - application/json
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":519119,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2021-08-03 02:10:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/offline/download?fields=decimalLatitude%2CdecimalLongitude%2CeventDate%2CscientificName%2CtaxonConceptID%2CrecordID%2CdataResourceName&qa=none&email=ala4r%40ala.org.au&dwcHeaders=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"inQueue","queueSize":1,"statusUrl":"https://biocache-ws.biodiversityatlas.at/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1627956607832","searchUrl":"https://biocache.biodiversityatlas.at/occurrences/search?&q=*%3A*"}'
  recorded_at: 2021-08-03 02:10:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1627956607832
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"running","records":0,"totalRecords":519119,"statusUrl":"https://biocache-ws.biodiversityatlas.at/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1627956607832"}'
  recorded_at: 2021-08-03 02:10:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
