http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Microseris%20lanceolata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Microseris lanceolata","scientificNameAuthorship":"(Walp.)
        Sch.Bip.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51268659","rank":"species","rankID":7000,"lft":612914,"rgt":612914,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Asterales","orderID":"https://id.biodiversity.org.au/taxon/apni/51369484","family":"Asteraceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51369485","genus":"Microseris","genusID":"https://id.biodiversity.org.au/taxon/apni/51268656","species":"Microseris
        lanceolata","speciesID":"https://id.biodiversity.org.au/taxon/apni/51268659","vernacularName":"Murnong","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2022-09-06 03:16:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2058,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2057,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionCode","institutionID","ownerInstitutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2044,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/offline/download?disableAllQualityFilters=true&fields=decimalLatitude%2CdecimalLongitude%2CeventDate%2CscientificName%2CtaxonConceptID%2CrecordID%2CdataResourceName%2Cmultimedia%2CmultimediaLicence%2Cimages%2Cvideos%2Csounds&qa=none&emailNotify=false&sourceTypeId=2004&reasonTypeId=4&email=ala4r%40ala.org.au&dwcHeaders=true&fq=(lsid:https://id.biodiversity.org.au/taxon/apni/51268659)&fq=(year:%222019%22)%20AND%20(multimedia:%22Image%22%20OR%20multimedia:%22Sound%22%20OR%20multimedia:%22Video%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"message":"Already in queue.","status":"inQueue","queueSize":1,"statusUrl":"https://biocache-ws.ala.org.au/ws/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1662434204111","searchUrl":"https://biocache.ala.org.au/occurrences/search?&q=*%3A*&fq=%28lsid%3Ahttps%3A%2F%2Fid.biodiversity.org.au%2Ftaxon%2Fapni%2F51268659%29&fq=%28year%3A%222019%22%29+AND+%28multimedia%3A%22Image%22+OR+multimedia%3A%22Sound%22+OR+multimedia%3A%22Video%22%29&disableAllQualityFilters=true"}'
  recorded_at: 2022-09-06 03:16:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1662434204111
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"finished","downloadUrl":"https://biocache.ala.org.au/biocache-download/6a784afe-b089-30b4-ac31-6e64e82dffc5/1662434204111/data.zip"}'
  recorded_at: 2022-09-06 03:16:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
