http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=cacatuidae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"CACATUIDAE","taxonConceptID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","rank":"family","rankID":5000,"lft":45350,"rgt":45474,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"https://biodiversity.org.au/afd/taxa/65625205-db74-4a87-b566-ca387b119974","order":"Psittaciformes","orderID":"https://biodiversity.org.au/afd/taxa/dc1a2f10-1110-4365-a7b6-2edf17c70505","family":"Cacatuidae","familyID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","speciesGroup":["Animals","Birds"],"speciesSubgroup":["Parrots"],"issues":["noIssue"]}'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2059,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionCode","collectionID"]},{"name":"AMBIGUOUS_INSTITUTION","code":2058,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["ownerInstitutionCode","institutionID","institutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2045,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&disableAllQualityFilters=true&facets=biome&facets=year&facets=basisOfRecord&facets=stateProvince&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":503637,"fq":"biome:\"TERRESTRIAL\""}],"count":2},{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":260461,"fq":"year:\"2021\""}],"count":2},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":502237,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""}],"count":2},{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":145094,"fq":"stateProvince:\"Victoria\""}],"count":2}]'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22HUMAN_OBSERVATION%22%29%20AND%20%28stateProvince%3A%22Victoria%22%29%20AND%20%28year%3A%222021%22%29%29&disableAllQualityFilters=true&facets=biome&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":76707,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22OCCURRENCE%22%29%20AND%20%28stateProvince%3A%22Victoria%22%29%20AND%20%28year%3A%222021%22%29%29&disableAllQualityFilters=true&facets=biome&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":106,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22HUMAN_OBSERVATION%22%29%20AND%20%28stateProvince%3A%22New%20South%20Wales%22%29%20AND%20%28year%3A%222021%22%29%29&disableAllQualityFilters=true&facets=biome&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":65349,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22OCCURRENCE%22%29%20AND%20%28stateProvince%3A%22New%20South%20Wales%22%29%20AND%20%28year%3A%222021%22%29%29&disableAllQualityFilters=true&facets=biome&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":3,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2023-01-10 05:34:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
