http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":112998157,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&disableAllQualityFilters=true","urlParameters":"?q=*%3A*&disableAllQualityFilters=true","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2023-01-06 01:24:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
