http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/offline/download?disableAllQualityFilters=true&fields=decimalLatitude%2CdecimalLongitude%2CeventDate%2CscientificName%2CtaxonConceptID%2CrecordID%2CdataResourceName&qa=none&emailNotify=false&sourceTypeId=2004&reasonTypeId=10&email=ala4r%40ala.org.au&dwcHeaders=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"downloadUrl":"https://biocache.ala.org.au/biocache-download","status":"skipped","message":"Too
        many records requested. Bulk download files for Lifeforms are available.","error":"Requested
        to many records (101752080). The maximum is (50000000)","searchUrl":"https://biocache.ala.org.au/occurrences/search?&q=*%3A*&disableAllQualityFilters=true"}'
  recorded_at: 2022-01-04 01:10:29 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
