http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Microseris%20lanceolata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Microseris lanceolata","scientificNameAuthorship":"(Walp.)
        Sch.Bip.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51268659","rank":"species","rankID":7000,"lft":612914,"rgt":612914,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Asterales","orderID":"https://id.biodiversity.org.au/taxon/apni/51369484","family":"Asteraceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51369485","genus":"Microseris","genusID":"https://id.biodiversity.org.au/taxon/apni/51268656","species":"Microseris
        lanceolata","speciesID":"https://id.biodiversity.org.au/taxon/apni/51268659","vernacularName":"Murnong","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2022-10-09 23:44:21 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
