http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type:
      - application/json;charset=UTF-8
      - application/json
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":519119,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2021-08-06 02:11:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bild
        URLs für diesen Eintrag","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Warnung","info":"Liste
        aller Bemerkungen (Benutzer und System) für einen Eintrag, welcher aus dem
        Datenqualitäts-Test resultiert","jsonName":"assertions","downloadName":"assertions","i18nValues":false},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt dass Werte zu diesem Eintrag fehlen. Z.B. fehlende Grundlage des Eintrages","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt, dass ein Datenqualitäts Test von diesem Eintrag gemacht wurde","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt an, dass ein Qualitäts-Test nicht ausgeführt wurde, dies ist meist der
        Fall wenn ein Feld welches für den Test benötigt wird nicht vorhanden ist.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"The
        specific nature of the data record.","info":"Grundlage des Vorkommens, z.B.
        Sammlungsobjekt, Beobachtung http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Grundlage
        des Eintrages","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"An
        identifier (preferably unique) for the record within the data set or collection.","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Katalognummer","classs":"Occurrence"},{"name":"cl10032","dataType":"string","indexed":true,"stored":true,"multivalue":fal[...]
- request:
    method: get
    uri: https://spatial.biodiversityatlas.at/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_link":"https://www.eea.europa.eu/data-and-maps/data/eea-reference-grids-2#tab-gis-data","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"","displayname":"EEA
        reference grid - 1km","id":10057,"grid":false,"path_orig":"layer/eeareferencegridat_1km","minlongitude":9.32623,"maxlatitude":49.15712,"licence_link":"https://www.eea.europa.eu/legal/copyright","mddatest":"2013","maxlongitude":17.37259,"dt_added":1583943043931,"minlatitude":46.23479,"displaypath":"https://spatial.biodiversityatlas.at/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:eeareferencegridat_1km&format=image/png&styles=","name":"eeareferencegridat_1km","metadatapath":"https://www.eea.europa.eu/data-and-maps/data/eea-reference-grids-2#tab-metadata","type":"Contextual","notes":"Der
        Originaldatensatz basiert auf \"ETRS89 Lambert Azimuthal Equal Area projection
        with parameters: latitude of origin 52° N, longitude of origin 10° E, false
        northing 3 210 000.0 m, false easting 4 321 000.0 m. The grid origin is at
        0 m N, 0 m E.\" Das Koordinatenreferenzsystem wurde von EPSG:3035 in EPSG:4326
        (WGS84) umgewandelt.","keywords":"Referenzgitter, Natura 2000, FFH-Richtlinie,
        Monitoring, Biodiversität, Raster","licence_notes":"EEA standard re-use policy:
        unless otherwise indicated, re-use of content on the EEA website for commercial
        or non-commercial purposes is permitted free of charge, provided that the
        source is acknowledged (https://www.eea.europa.eu/legal/copyright). Copyright
        holder: European Environment Agency (EEA).","environmentalvaluemax":"","classification1":"Umwelt","environmentalvalueunits":"","enabled":true,"domain":"Terrestrial","description":"Referenzgitter
        der Europäischen Umweltagentur (EEA - European Evironment Agency) mit der
        Auflösung von 1km. Das Referenzgitter wird unter anderem für die Berichtspflichten
        der Europäischen Staaten zu Artikel 17 (Habitat Directive / FFH-Richtlinie)
        herangezogen.","licence_level":"1","source":"European Environment Agency (EEA)","citation_date":"2013"},{"source_link":"https://www.data.gv.at/katalog/dataset/4653e957-f84b-4c79-9060-42ade2de1c76","datalang":"ger","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"","displayname":"Raster
        floristische Kartierung (Quadranten)","id":10055,"grid":false,"path_orig":"layer/rasterflorkart","minlongitude":9.33305,"maxlatitude":49.09942,"licence_link":"https://creativecommons.org/licenses/by/4.0/deed.de","mddatest":"2019-06-25","maxlongitude":17.16551,"dt_added":[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Ungültiges
        Sammeldatum","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Gelieferte
        Koordinaten sind Null","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        nicht angegeben","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Unvollständiges
        Sammeldatum","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,[...]
[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2020","i18nCode":"year.2020","count":63963,"fq":"year:\"2020\""},{"label":"2021","i18nCode":"year.2021","count":33587,"fq":"year:\"2021\""},{"label":"1977","i18nCode":"year.1977","count":26167,"fq":"year:\"1977\""},{"label":"2019","i18nCode":"year.2019","count":23726,"fq":"year:\"2019\""},{"label":"2018","i18nCode":"year.2018","count":12919,"fq":"year:\"2018\""},{"label":"1985","i18nCode":"year.1985","count":12258,"fq":"year:\"1985\""},{"label":"2017","i18nCode":"year.2017","count":7772,"fq":"year:\"2017\""},{"label":"1972","i18nCode":"year.1[...]
