http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type:
      - application/json;charset=UTF-8
      - application/json
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":7034683,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2022-01-10 21:33:02 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bild
        URLs für diesen Eintrag","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Warnung","info":"Liste
        aller Bemerkungen (Benutzer und System) für einen Eintrag, welcher aus dem
        Datenqualitäts-Test resultiert","jsonName":"assertions","downloadName":"assertions","i18nValues":false},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt dass Werte zu diesem Eintrag fehlen. Z.B. fehlende Grundlage des Eintrages","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt, dass ein Datenqualitäts Test von diesem Eintrag gemacht wurde","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Bemerkung
        zeigt an, dass ein Qualitäts-Test nicht ausgeführt wurde, dies ist meist der
        Fall wenn ein Feld welches für den Test benötigt wird nicht vorhanden ist.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"The
        specific nature of the data record.","info":"Grundlage des Vorkommens, z.B.
        Sammlungsobjekt, Beobachtung http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Grundlage
        des Eintrages","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"An
        identifier (preferably unique) for the record within the data set or collection.","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Katalognummer","classs":"Occurrence"},{"name":"cl10032","dataType":"string","indexed":true,"stored":true,"multivalue":fal[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2020","i18nCode":"year.2020","count":207248,"fq":"year:\"2020\""},{"label":"1987","i18nCode":"year.1987","count":184116,"fq":"year:\"1987\""},{"label":"1998","i18nCode":"year.1998","count":165708,"fq":"year:\"1998\""},{"label":"2007","i18nCode":"year.2007","count":150473,"fq":"year:\"2007\""},{"label":"2019","i18nCode":"year.2019","count":146435,"fq":"year:\"2019\""},{"label":"2021","i18nCode":"year.2021","count":141212,"fq":"year:\"2021\""},{"label":"1999","i18nCode":"year.1999","count":134118,"fq":"year:\"1999\""},{"label":"2005","i18nCode":[...]
