http_interactions:
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=&disableAllQualityFilters=true&facets=year&flimit=101
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17RpGrSSwMFrdw=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:27 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 81ca3486-2650-4d85-982a-36316cf8861f
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":7534834,"fq":"year:\"2021\""},{"label":"2020","i18nCode":"year.2020","count":6716484,"fq":"year:\"2020\""},{"label":"2019","i18nCode":"year.2019","count":5960121,"fq":"year:\"2019\""},{"label":"2018","i18nCode":"year.2018","count":5871441,"fq":"year:\"2018\""},{"label":"2017","i18nCode":"year.2017","count":5057650,"fq":"year:\"2017\""},{"label":"2016","i18nCode":"year.2016","count":4088792,"fq":"year:\"2016\""},{"label":"2014","i18nCode":"year.2014","count":3895220,"fq":"year:\"2014\""},{"label":"2015","i18n[...]
