http_interactions:
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=&disableAllQualityFilters=true&flimit=1&facets=speciesID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17RZGY5ywMF6CQ=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:25 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: d0b0baaa-a30b-4cec-b889-9bc7a3fc7e78
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"speciesID","fieldResult":[{"label":"https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5","i18nCode":"speciesID.https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5","count":1657324,"fq":"speciesID:\"https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5\""}],"count":152897}]'
  recorded_at: 2023-06-21 00:07:25 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
