http_interactions:
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G176JGuySwMF3Yw=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:11:44 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 5b7837d6-8225-4f95-b959-a292322c71a7
    body:
      encoding: ''
      file: no
      string: '[{"name":"abcdTypeStatus","downloadName":"abcdTypeStatus","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"info":"ABCD
        field in use by herbaria"},{"name":"acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage"},{"name":"acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage ID","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID"},{"name":"accessRights","dwcTerm":"dcterms:accessRights","downloadName":"accessRights","dataType":"string","classs":"Record","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Access
        rights"},{"name":"assertionUserId","downloadName":"assertionUserId","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record"},{"name":"assertions","jsonName":"assertions","downloadName":"assertions","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"i18nValues":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions"},{"name":"associatedMedia","dwcTerm":"associatedMedia","downloadName":"associatedMedia","dataType":"string","classs":"Occurrence","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Associated
        Media","info":"http://rs.tdwg.org/dwc/terms/associatedMedia"},{"name":"associatedOccurrences","dwcTerm":"associatedOccurrences","downloadName":"associatedOccurrences","dataType":"string","classs":[...]
- request:
    method: get
    uri: https://api.ala.org.au/spatial-service/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      x-amzn-requestid: a0aedf3a-f785-41b7-9862-ae0140fec196
      x-amz-apigw-id: G176KHzxSwMF8fw=
    body:
      encoding: ''
      file: no
      string: '[{"sname":"Name","sid":"Name","defaultlayer":true,"id":"cl3","layerbranch":false,"last_update":1526502095700,"spid":"3","indb":true,"intersect":false,"name":"Western
        Australian Biodiversity Science Research Priority Regions","desc":"WABSI Regions","type":"c","analysis":true,"addtomap":true,"namesearch":true,"enabled":true},{"sname":"NAME","sid":"NAME","defaultlayer":true,"id":"cl10956","layerbranch":false,"spid":"10956","indb":true,"intersect":false,"name":"Native
        Title Determinations (13/7/2020)","desc":"Native Title Determinations (13/7/2020)","type":"c","analysis":true,"addtomap":true,"sdesc":"DETOUTCOME","namesearch":true,"enabled":false},{"defaultlayer":true,"id":"cl2125","layerbranch":false,"last_update":1448542800000,"spid":"2125","indb":true,"intersect":true,"name":"NVIS
        4.1 Major Vegetation Groups","desc":"NVIS 4.1 MVG","type":"a","analysis":true,"addtomap":true,"namesearch":true,"enabled":true},{"defaultlayer":true,"id":"cl2124","layerbranch":false,"last_update":1448542800000,"spid":"2124","indb":true,"intersect":true,"name":"NVIS
        4.1 Major Vegetation Subgroups[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2059,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2058,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionID","ownerInstitutionCode","institutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2045,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=&disableAllQualityFilters=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G176MEQOSwMF1Gw=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:11:45 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: a08b1808-6b1a-4b8f-ba73-122ab827b42b
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2023-06-21 00:11:45 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
