http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=dasyurus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Dasyurus","scientificNameAuthorship":"Geoffroy,
        1796","taxonConceptID":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85","rank":"genus","rankID":6000,"lft":67520,"rgt":67542,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Dasyuromorphia","orderID":"https://biodiversity.org.au/afd/taxa/54c4f0b1-45cd-49f0-91fc-0d48bd7f0a5e","family":"Dasyuridae","familyID":"https://biodiversity.org.au/afd/taxa/13cd5615-5d0c-426e-96c9-b8a7cb8651a2","genus":"Dasyurus","genusID":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Carnivorous
        Marsupials"],"issues":["noIssue"]}'
  recorded_at: 2023-06-21 00:07:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17SmFC_SwMFx5w=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:31 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 5634e67f-9bb4-44da-a538-c5c0bbc0cced
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":851,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year%3A%5B2020%20TO%20*%5D)","urlParameters":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year%3A%5B2020%20TO%20*%5D)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85''>genus:
        Dasyurus</span>)AND(year:[2020 TO *])","value":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year:[2020
        TO *])"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"(<span class=''lsid''
        id=''https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85''>genus:
        Dasyurus</span>)AND(year:[2020 TO *])","value":"(lsid:https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year:[2020
        TO *])"}]}}'
  recorded_at: 2023-06-21 00:07:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&wkt=MULTIPOLYGON%20%28%28%28146.5425%20-43.13203%2C%20147.6972%20-43.13203%2C%20147.6972%20-42.13203%2C%20146.5425%20-42.13203%2C%20146.5425%20-43.13203%29%29%29&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  respons[...]
