http_interactions:
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=year%3A%5B2018%20TO%20%2A%5D&disableAllQualityFilters=true&facets=year&facets=basisOfRecord&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17R8HggSwMFcGQ=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:28 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: c2b0c2b8-2a69-45ab-8730-981a38b31536
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":7534834,"fq":"year:\"2021\""},{"label":"2020","i18nCode":"year.2020","count":6716484,"fq":"year:\"2020\""},{"label":"2019","i18nCode":"year.2019","count":5960121,"fq":"year:\"2019\""},{"label":"2018","i18nCode":"year.2018","count":5871441,"fq":"year:\"2018\""},{"label":"2022","i18nCode":"year.2022","count":1783575,"fq":"year:\"2022\""},{"label":"2023","i18nCode":"year.2023","count":778713,"fq":"year:\"2023\""}],"count":6},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":26795011,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""},{"label":"OCCURRENCE","i18nCode":"basisOfRecord.OCCURRENCE","count":1216548,"fq":"basisOfRecord:\"OCCURRENCE\""},{"label":"Observation","i18nCode":"basisOfRecord.OBSERVATION","count":291813,"fq":"basisOfRecord:\"OBSERVATION\""},{"label":"Preserved
        specimen","i18nCode":"basisOfRecord.PRESERVED_SPECIMEN","count":198046,"fq":"basisOfRecord:\"PRESERVED_SPECIMEN\""},{"label":"Machine
        observation","i18nCode":"basisOfRecord.MACHINE_OBSERVATION","count":130219,"fq":"basisOfRecord:\"MACHINE_OBSERVATION\""},{"label":"Material
        Sample","i18nCode":"basisOfRecord.MATERIAL_SAMPLE","count":13191,"fq":"basisOfRecord:\"MATERIAL_SAMPLE\""},{"label":"Living
        specimen","i18nCode":"basisOfRecord.LIVING_SPECIMEN","count":281,"fq":"basisOfRecord:\"LIVING_SPECIMEN\""}],"count":6}]'
  recorded_at: 2023-06-21 00:07:29 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28year%3A%5B2018%20TO%20%2A%5D%20AND%20year%3A%222021%22%29&facets=basisOfRecord&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17[...]
[...]
