http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Litoria
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Litoria","scientificNameAuthorship":"Tschudi,
        1838","taxonConceptID":"https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b","rank":"genus","rankID":6000,"lft":39196,"rgt":39352,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Amphibia","classID":"https://biodiversity.org.au/afd/taxa/0490a9ba-0d08-473d-a709-6c42e354f118","order":"Anura","orderID":"https://biodiversity.org.au/afd/taxa/de0edaae-fd4a-4d37-8c7d-fb4899c81ef7","family":"Hylidae","familyID":"https://biodiversity.org.au/afd/taxa/e57fcee2-be79-4d84-b632-d61843e7c3d9","genus":"Litoria","genusID":"https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b","speciesGroup":["Animals","Amphibians"],"speciesSubgroup":["Tree
        Frogs"],"issues":["noIssue"]}'
  recorded_at: 2022-11-30 05:29:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F0df99ece-1982-4605-a2b3-4fcb7660ee2b%29&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":467568,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F0df99ece-1982-4605-a2b3-4fcb7660ee2b)","urlParameters":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F0df99ece-1982-4605-a2b3-4fcb7660ee2b)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b''>genus:
        Litoria</span>)","value":"https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b)"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"(<span
        class=''lsid'' id=''https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b''>genus:
        Litoria</span>)","value":"(lsid:https://biodiversity.org.au/afd/taxa/0df99ece-1982-4605-a2b3-4fcb7660ee2b)"}]}}'
  recorded_at: 2022-11-30 05:29:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
