http_interactions:
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28year%3A%5B2018%20TO%20%2A%5D%29&disableAllQualityFilters=true&facets=year
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17SdGJFSwMFVVg=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:31 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 0f31b6b0-e200-4bda-b82a-15b33ae9bdaa
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":7534834,"fq":"year:\"2021\""},{"label":"2020","i18nCode":"year.2020","count":6716484,"fq":"year:\"2020\""},{"label":"2019","i18nCode":"year.2019","count":5960121,"fq":"year:\"2019\""},{"label":"2018","i18nCode":"year.2018","count":5871441,"fq":"year:\"2018\""},{"label":"2022","i18nCode":"year.2022","count":1783575,"fq":"year:\"2022\""},{"label":"2023","i18nCode":"year.2023","count":778713,"fq":"year:\"2023\""}],"count":6}]'
  recorded_at: 2023-06-21 00:07:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
