http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=perameles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Perameles","scientificNameAuthorship":"Geoffroy,
        1803","taxonConceptID":"https://biodiversity.org.au/afd/taxa/91e23087-ef6f-4d94-9cb4-bf438b2831b2","rank":"genus","rankID":6000,"lft":68239,"rgt":68263,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Peramelemorphia","orderID":"https://biodiversity.org.au/afd/taxa/94032c42-8ed7-4bf1-bff6-952262dab315","family":"Peramelidae","familyID":"https://biodiversity.org.au/afd/taxa/359987d0-2904-445a-9d56-ea3a87d415e0","genus":"Perameles","genusID":"https://biodiversity.org.au/afd/taxa/91e23087-ef6f-4d94-9cb4-bf438b2831b2","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Bandicoots,
        Bilbies"],"issues":["noIssue"]}'
  recorded_at: 2023-06-21 00:07:29 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29AND%28year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%29&disableAllQualityFilters=true&facets=species&facets=year&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17STFN2SwMFhKw=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:29 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 9329ff02-9082-4e57-a85a-e86e1b5081b3
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"species","fieldResult":[{"label":"Perameles nasuta","i18nCode":"species.Perameles
        nasuta","count":28596,"fq":"species:\"Perameles nasuta\""},{"label":"Perameles
        gunnii","i18nCode":"species.Perameles gunnii","count":368,"fq":"species:\"Perameles
        gunnii\""},{"label":"Perameles pallescens","i18nCode":"species.Perameles pallescens","count":258,"fq":"species:\"Perameles
        pallescens\""},{"label":"Perameles bougainville","i18nCode":"species.Perameles
        bougainville","count":145,"fq":"species:\"Perameles bougainville\""}],"count":4},{"fieldName":"year","fieldResult":[{"label":"2015[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29%20AND%20year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%20AND%20species%3A%22Perameles%20nasuta%22&facets=year&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanatio[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29%20AND%20year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%20AND%20species%3A%22Perameles%20gunnii%22&facets=year&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanatio[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29%20AND%20year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%20AND%20species%3A%22Perameles%20pallescens%22&facets=year&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explan[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29%20AND%20year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%20AND%20species%3A%22Perameles%20bougainville%22&facets=year&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      expl[...]
