http_interactions:
- request:
    method: get
    uri: https://data-quality-service.ala.org.au/api/v1/data-profiles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production:8080
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":2,"name":"ALA General (pre-pipelines)","shortName":"ALA-legacy","displayOrder":2,"description":"The
        default ALA profile filters out records based on the filter groups outlined
        below.  This is a moderately restricted set of data.","contactName":"Miles
        Nicholls","contactEmail":"dataquality@ala.org.au","categories":[{"id":3,"enabled":true,"name":"Exclude
        spatially suspect records","label":"spatially-suspect","description":"Exclude
        records with a spatially suspect (geospatial kosher) flag.","displayOrder":1,"qualityFilters":[{"id":4,"enabled":true,"description":"Exclude
        all records where spatial validity is \"false\"","filter":"-geospatial_kosher:\"false\"","displayOrder":1}]},{"id":5,"enabled":true,"name":"Exclude
        records based on scientific name quality","label":"scientific-name","description":"Exclude
        records with scientific name related quality assertions","displayOrder":2,"qualityFilters":[{"id":6,"enabled":true,"description":"Exclude
        all records with an assertion that the scientific name provided does not match
        any of the names lists used by the ALA.  For a full explanation of the[...]
[...]
