http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Litoria
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Litoria","scientificNameAuthorship":"Tschudi,
        1838","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:5282f9c3-12ff-4092-a8ae-ea71f2dde7da","rank":"genus","rankID":6000,"lft":183845,"rgt":183997,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Amphibia","classID":"urn:lsid:biodiversity.org.au:afd.taxon:0490a9ba-0d08-473d-a709-6c42e354f118","order":"Anura","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:de0edaae-fd4a-4d37-8c7d-fb4899c81ef7","family":"Hylidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:8350b501-0c97-4e06-af51-7368aa3f8f14","genus":"Litoria","genusID":"urn:lsid:biodiversity.org.au:afd.taxon:5282f9c3-12ff-4092-a8ae-ea71f2dde7da","speciesGroup":["Animals","Amphibians"],"speciesSubgroup":["Tree
        Frogs"],"issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:22:58 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
