http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=cacatuidae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"CACATUIDAE","taxonConceptID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","rank":"family","rankID":5000,"lft":45350,"rgt":45474,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"https://biodiversity.org.au/afd/taxa/65625205-db74-4a87-b566-ca387b119974","order":"Psittaciformes","orderID":"https://biodiversity.org.au/afd/taxa/dc1a2f10-1110-4365-a7b6-2edf17c70505","family":"Cacatuidae","familyID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","speciesGroup":["Animals","Birds"],"speciesSubgroup":["Parrots"],"issues":["noIssue"]}'
  recorded_at: 2023-06-21 00:07:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&disableAllQualityFilters=true&facets=year&facets=basisOfRecord&facets=stateProvince&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17VsFzbSwMF-9Q=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:51 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 9aa85fd8-beb7-4ab3-b23a-ee5b6f0e132d
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":266444,"fq":"year:\"2021\""},{"label":"2020","i18nCode":"year.2020","count":241921,"fq":"year:\"2020\""},{"label":"2022","i18nCode":"year.2022","count":12876,"fq":"year:\"2022\""},{"label":"2023","i18nCode":"year.2023","count":5128,"fq":"year:\"2023\""}],"count":4},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":509676,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""},{"label":"OCCURRENCE","i18nCode":"basisOfRecord.OCCURRENCE","[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22HUMAN_OBSERVATION%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      exp[...]
[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22OCCURRENCE%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanatio[...]
[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22OBSERVATION%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17V1EWFywMF3bQ=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:52 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 9f48bbfa-717e-40a2-9cb6-bc21fdde6737
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":45,"fq":"stateProvince:\"Victoria\""}],"count":1}]'
  recorded_at: 2023-06-21 00:07:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22MATERIAL_SAMPLE%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      expla[...]
[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22MACHINE_OBSERVATION%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17V8HrNywMFzgg=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:53 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 2373be9e-ee17-410d-b3dc-5217e7a956eb
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Queensland","i18nCode":"stateProvince.Queensland","count":7,"fq":"stateProvince:\"Queensland\""},{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":1,"fq":"stateProvince:\"Victoria\""}],"count":2}]'
  recorded_at: 2023-06-21 00:07:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F60389804-5efa-4398-a97b-35a707ebe0a7%29%20AND%20year%3A%5B2020%20TO%20%2A%5D%20AND%20year%3A%222021%22%20AND%20basisOfRecord%3A%22PRESERVED_SPECIMEN%22&facets=stateProvince&disableAllQualityFilters=true&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      ex[...]
[...]
