http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Mammalia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"MAMMALIA","taxonConceptID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","rank":"class","rankID":3000,"lft":67388,"rgt":69420,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","vernacularName":"Mammals","speciesGroup":["Animals","Mammals"],"issues":["noIssue"]}'
  recorded_at: 2023-06-21 00:07:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ala.org.au/occurrences/occurrences/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Fe9e7db31-04df-41fb-bd8d-e0b0f3c332d6%29AND%28year%3A%222020%22%29&disableAllQualityFilters=true&facets=month&flimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-amz-apigw-id: G17VqEDaywMFzSA=
      x-amzn-remapped-connection: keep-alive
      x-amzn-remapped-date: Wed, 21 Jun 2023 00:07:51 GMT
      x-amzn-remapped-server: nginx/1.25.1
      x-amzn-remapped-www-authenticate: Bearer realm="authentication required"
      x-amzn-requestid: 3a419cb2-01cf-404b-be3e-db79f3a32dab
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"month","fieldResult":[{"label":"March","i18nCode":"month.3","count":24130,"fq":"month:\"3\""},{"label":"November","i18nCode":"month.11","count":18928,"fq":"month:\"11\""},{"label":"May","i18nCode":"month.5","count":18908,"fq":"month:\"5\""},{"label":"April","i18nCode":"month.4","count":16600,"fq":"month:\"4\""},{"label":"January","i18nCode":"month.1","count":16260,"fq":"month:\"1\""},{"label":"February","i18nCode":"month.2","count":15109,"fq":"month:\"2\""},{"label":"October","i18nCode":"month.10","count":14041,"fq":"month:\"10\""},{"label":"June","i18nCode":"month.6","count":13969,"fq":"month:\"6\""},{"label":"September","i18nCode":"month.9","count":13860,"fq":"month:\"9\""},{"label":"December","i18nCode":"month.12","count":10290,"fq":"month:\"12\""},{"label":"July","i18nCode":"month.7","count":8668,"fq":"month:\"7\""},{"label":"August","i18nCode":"month.8","count":8261,"fq":"month:\"8\""}],"count":12}]'
  recorded_at: 2023-06-21 00:07:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
