http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Ungültiges
        Sammeldatum","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Gelieferte
        Koordinaten sind Null","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        nicht angegeben","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Unvollständiges
        Sammeldatum","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,[...]
[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?fq=year%3A%5B2020%20TO%20%2A%5D&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2020","i18nCode":"year.2020","count":198757,"fq":"year:\"2020\""}],"count":3}]'
  recorded_at: 2022-10-18 09:01:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
