http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type:
      - application/json;charset=UTF-8
      - application/json
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":7484340,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2022-10-18 09:01:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"9797180","i18nCode":"species_guid.9797180","count":35976,"fq":"species_guid:\"9797180\""}],"count":115504}]'
  recorded_at: 2022-10-18 09:01:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
