http_interactions:
- request:
    method: get
    uri: https://bie-ws.biodiversityatlas.at/search?q=Vulpes%20vulpes&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":222,"facetResults":[],"results":[{"id":"b46d2db6-9779-4ceb-996b-856e2ec98793","guid":"7193880","linkIdentifier":"Vulpes
        vulpes vulpes","idxtype":"TAXON","name":"Vulpes vulpes vulpes","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Vulpes
        vulpes vulpes","scientificNameAuthorship":"(Linnaeus, 1758)","author":"(Linnaeus,
        1758)","nameComplete":"Vulpes vulpes vulpes (Linnaeus, 1758)","nameFormatted":"<span
        class=\"scientific-name rank-subspecies\"><span class=\"name\">Vulpes vulpes
        vulpes<\u002fspan> <span class=\"author\">(Linnaeus, 1758)<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"5219243","rank":"subspecies","rankID":8000,"commonName":"","commonNameSingle":"","occurrenceCount":0,"conservationStatus":null,"infoSourceName":"GBIF
        Backbone Taxonomy","infoSourceURL":"https://collections.ala.org.au/public/show/7ddf754f-d193-4cc9-b351-99906754a03b","kingdomGuid":"1","orderGuid":"732","order":"Carnivora","class":"Mammalia","genus":"Vulpes","phylum":"Chordata","species":"Vulpes
        vulpes","genusGuid":"5219234","family":"Canidae","classGuid":"359","familyGuid":"9701","speciesGuid":"5219243","phylumGuid":"44","subspecies":"Vulpes
        vulpes vulpes","subspeciesGuid":"7193880","highlight":"<b>Vulpes<\u002fb>
        <b>vulpes<\u002fb> <b>vulpes<\u002fb> (Linnaeus, 1758)<br><b>Vulpes vulpes
        vulpes<\u002fb><br><b>vulpes<\u002fb>"},{"id":"5711f9a9-0e86-4698-b9df-09519fff3e77","guid":"5219243","linkIdentifier":null,"idxtype":"TAXON","name":"Vulpes
        vulpes","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Vulpes
        vulpes","scientificNameAuthorship":"(Linnaeus, 1758)","author":"(Linnaeus,
        1758)","nameComplete":"Vulpes vulpes (Linnaeus, 1758)","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Vulpes vulpes<\u002fspan>
        <span class=\"author\">(Linnaeus, 1758)<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"5219234","rank":"species","rankID":7000,"commonName":"\"Rotfuchs\",
        Rotfuchs","commonNameSingle":"\"Rotfuchs\"","occurrenceCount":1738,"conservationStatus":null,"infoSourceName":"GBIF
        Backbone Taxonomy","infoSourceURL":"https://collections.ala.org.au/public/show/7ddf754f-d193-4cc9-b351-99906754a03b","image":"88f37329-6024-4d58-b85a-c618d3e5c0ad","imageUrl":"https://images.biodiversityatlas.at/image/proxyImageThumbnailLarge?imageId=88f37329-6024-4d58-b85a-c618d3e5c0ad","thumbnailUrl":"https://images.biodiversityatlas.at/image/proxyImageThumbnail?imageId=88f37329-6024-4d58-b85a-c618d3e5c0ad","smallImageUrl":"https://images.biodiversityatlas.at/image/proxyImageThumbnailLarge?imageId=88f37329-6024-4d58-b85a-c618d3e5c0ad","largeImageUrl":"https://images.biodiversityatlas.at/image/proxyImage?imageId=88f37329-6024-4d58-b85a-c618d3e5c0ad","kingdomGuid":"1","orderGuid":"732","order":"Carnivora","class":"Mammalia","genus":"Vulpes","phylum":"Chordata","genusGuid":"5219234","family":"Canidae","classGuid":"359","familyGuid":"9701","phylumGuid":"44","species":"Vulpes
        vulpes","speciesGuid":"5219243","highlight":"<b>vulpes<\u002fb><br><b>Vulpes<\u002fb>
        <b>vulpes<\u002fb> (Linnaeus, 1758)<br><b>Vulpes vulpes<\u002fb>"},{"id[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Ungültiges
        Sammeldatum","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Gelieferte
        Koordinaten sind Null","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        nicht angegeben","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Unvollständiges
        Sammeldatum","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,[...]
[...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/offline/download?fq=%28lsid%3A7193880%29AND%28year%3A%221990%22%29&fields=species%2Cyear&qa=none&emailNotify=false&sourceTypeId=2004&reasonTypeId=3&email=ala4r%40ala.org.au&dwcHeaders=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"inQueue","queueSize":1,"statusUrl":"https://biocache-ws.biodiversityatlas.at/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1665546995678","searchUrl":"https://biocache.biodiversityatlas.at/occurrences/search?&q=*%3A*&fq=%28lsid%3A7193880%29AND%28year%3A%221990%22%29"}'
  recorded_at: 2022-10-12 03:56:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrences/offline/status/6a784afe-b089-30b4-ac31-6e64e82dffc5-1665546995678
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"finished","downloadUrl":"https://biocache-ws.biodiversityatlas.at/biocache-download/6a784afe-b089-30b4-ac31-6e64e82dffc5/1665546995678/data.zip"}'
  recorded_at: 2022-10-12 03:56:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
