http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Menschliche
        Beobachtung","i18nCode":"basis_of_record.HumanObservation","count":2645927,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Konserviertes
        Sammlungsobjekt","i18nCode":"basis_of_record.PreservedSpecimen","count":969758,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Literature","i18nCode":"basis_of_record.Literature","count":256284,"fq":"basis_of_record:\"Literature\""}],"count":3}]'
  recorded_at: 2023-01-10 08:46:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
