http_interactions:
- request:
    method: get
    uri: https://collectory.biodiversityatlas.at/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.biodiversityatlas.at/ws/collection
      last-modified: Thu, 13 Jan 2022 16:01:13 GMT
      etag: '"0fa61f6b8c2759262071aa5a86fe1a87"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Biodiversitätsdatenbank Hohe Tauern","uri":"https://collectory.biodiversityatlas.at/ws/collection/co33","uid":"co33"},{"name":"Biodiversitätsdatenbank
        Salzburg","uri":"https://collectory.biodiversityatlas.at/ws/collection/co35","uid":"co35"},{"name":"Floristische
        Kartierung Österreichs","uri":"https://collectory.biodiversityatlas.at/ws/collection/co36","uid":"co36"},{"name":"Herbarium
        der Universität Salzburg","uri":"https://collectory.biodiversityatlas.at/ws/collection/co2","uid":"co2"},{"name":"Herbarium
        GJO","uri":"https://collectory.biodiversityatlas.at/ws/collection/[...]
- request:
    method: get
    uri: https://collectory.biodiversityatlas.at/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.biodiversityatlas.at/ws/dataResource
      last-modified: Tue, 02 Aug 2022 16:15:09 GMT
    [...]
- request:
    method: get
    uri: https://collectory.biodiversityatlas.at/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.biodiversityatlas.at/ws/dataProvider
      last-modified: Fri, 13 May 2022 08:33:01 GMT
    [...]
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Ungültiges
        Sammeldatum","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Gelieferte
        Koordinaten sind Null","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        nicht angegeben","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Unvollständiges
        Sammeldatum","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,[...]
- request:
    method: get
    uri: https://logger.biodiversityatlas.at/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"collection
        management","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"ecological
        research","id":7,"deprecated":false},{"rkey":"logger.download.reason.education","name":"education","id":3,"deprecated":false},{"rkey":"logger.download.reason.environmental","name":"environmental
        assessment","id":2,"deprecated":false},{"rkey":"logger.download.reason.restoration.remediation","name":"restoration/remediation","id":12,"deprecated":false},{"rkey":"logger.download.reason.research","name":"scientific
        research","id":4,"deprecated":false},{"rkey":"logger.download.reason.systematic.research","name":"systematic
        research/taxonomy","id":8,"deprecated":false},{"rkey":"logger.download.reason.other","name":"other","id":6,"deprecated":false},{"rkey":"logger.download.reason.testing","name":"testing","id":10,"deprecated":false},{"rkey":"logger.download.reason.other.scientific.research","name":"other
        scientific research","id":9,"deprecated":true}]'
  recorded_at: 2022-10-18 09:01:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesList/?max=1000&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"listCount":37,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"dr148","listName":"Deutsche
        Namen aus den Roten Listen Niederösterreichs","listType":"PROFILE","dateCreated":"2022-06-06T22:00:00Z","lastUpdated":"2022-06-13T08:48:59Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":547,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr171","listName":"Deutsche
        Namen der Roten Listen gefährdeter Tiere Österreichs","listType":"PROFILE","dateCreated":"2022-06-09T16:14:19Z","lastUpdated":"2022-06-09T16:41:01Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":2689,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr172","listName":"Deutsche
        Pi[...]
[...]
