http_interactions:
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesList/?offset=0&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"listCount":37,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"dr148","listName":"Deutsche
        Namen aus den Roten Listen Niederösterreichs","listType":"PROFILE","dateCreated":"2022-06-06T22:00:00Z","lastUpdated":"2022-06-13T08:48:59Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":547,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr171","listName":"Deutsche
        Namen der Roten Listen gefährdeter Tiere Österreichs","listType":"PROFILE","dateCreated":"2022-06-09T16:14:19Z","lastUpdated":"2022-06-09T16:41:01Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":2689,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr172","listName":"Deutsche
        Pi[...]
