http_interactions:
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesList/?offset=0&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"listCount":37,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"dr148","listName":"Deutsche
        Namen aus den Roten Listen Niederösterreichs","listType":"PROFILE","dateCreated":"2022-06-06T22:00:00Z","lastUpdated":"2022-06-13T08:48:59Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":547,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr171","listName":"Deutsche
        Namen der Roten Listen gefährdeter Tiere Österreichs","listType":"PROFILE","dateCreated":"2022-06-09T16:14:19Z","lastUpdated":"2022-06-09T16:41:01Z","username":"tanja.lumetsberger@donau-uni.ac.at","fullName":null,"itemCount":2689,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr172","listName":"Deutsche
        Pi[...]
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesList/?offset=1000&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"listCount":37,"sort":"listName","order":"asc","max":1000,"offset":"1000","lists":[]}'
  recorded_at: 2023-01-10 08:43:54 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesListItems/dr113?offset=0&max=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '[{"id":14938,"name":"Adonis vernalis","commonName":null,"scientificName":"Adonis
        vernalis","lsid":"7609350","dataResourceUid":"dr113"},{"id":14939,"name":"Anemone
        sylvestris","commonName":null,"scientificName":"Anemone sylvestris","lsid":"3922888","dataResourceUid":"dr113"},{"id":14941,"name":"Betula
        nana","commonName":null,"scientificName":"Betula nana","lsid":"5332004","dataResourceUid":"dr113"},{"id":14942,"name":"Calla
        palustris","commonName":null,"scientificName":"Calla palustris","lsid":"7691090","dataResourceUid":"dr113"},{"id":14943,"name":"Cortusa
        mat[...]
[...]
