http_interactions:
- request:
    method: get
    uri: https://biocache-ws.biodiversityatlas.at/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Menschliche
        Beobachtung","i18nCode":"basis_of_record.HumanObservation","count":2054880,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Konserviertes
        Sammlungsobjekt","i18nCode":"basis_of_record.PreservedSpecimen","count":969758,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Literature","i18nCode":"basis_of_record.Literature","count":256284,"fq":"basis_of_record:\"Literature\""}],"count":3}]'
  recorded_at: 2022-10-18 09:01:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://lists.biodiversityatlas.at/ws/speciesListItems/dr113
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":14938,"name":"Adonis vernalis","commonName":null,"scientificName":"Adonis
        vernalis","lsid":"7609350","dataResourceUid":"dr113"},{"id":14939,"name":"Anemone
        sylvestris","commonName":null,"scientificName":"Anemone sylvestris","lsid":"3922888","dataResourceUid":"dr113"},{"id":14941,"name":"Betula
        nana","commonName":null,"scientificName":"Betula nana","lsid":"5332004","dataResourceUid":"dr113"},{"id":14942,"name":"Calla
        palustris","commonName":null,"scientificName":"Calla palustris","lsid":"7691090","dataResourceUid":"dr113"},{"id":14943,"name":"Cortusa
        matthioli","commonName":null,"s[...]
