http_interactions:
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":12194948,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Human
        observation","i18nCode":"basis_of_record.HumanObservation","count":10725098,"fq":"basis_of_record:\"HumanObservation\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":175084,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":11834,"fq":"basis_of_record:\"MachineObservation\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":10126,"fq":"basis_of_record:\"LivingSpecimen\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":189,"fq":"basis_of_record:\"FossilSpecimen\""}],"count":6}]'
  recorded_at: 2023-01-10 08:51:10 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://specieslist.sibbr.gov.br/ws/speciesList/?offset=0&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"listCount":58,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"drt1565630923841","listName":"
        Imagens principais das espécies ","listType":"SPECIES_CHARACTERS","dateCreated":"2019-08-12T17:28:44Z","lastUpdated":"2021-03-22T18:37:17Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":117,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573739671090","listName":"
        Lista de espécies da sociobiodiversidade brasileira","listType":"SPECIES_CHARACTERS","dateCreated":"2019-11-14T13:54:31Z","lastUpdated":"2019-11-14T15:00:29Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":82,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573761007410","listName":"Descrição[...]
[...]
- request:
    method: get
    uri: https://specieslist.sibbr.gov.br/ws/speciesListItems/drt1565630923841?offset=0&max=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '[{"id":498583,"name":"Melocactus bahiensis","commonName":"Coroa-De-Frade","scientificName":"Melocactus
        bahiensis","lsid":"367866","dataResourceUid":"drt1565630923841"},{"id":498612,"name":"Glaucidium
        hardyi","commonName":"Caburé-Da-Amazônia","scientificName":"Glaucidium hardyi","lsid":"124786","dataResourceUid":"drt1565630923841"},{"id":498514,"name":"Procyon
        cancrivorus","commonName":"Mapache Lavador","scientificName":"Procyon cancrivorus","lsid":"172270","dataResourceUid":"drt1565630923841"},{"id":498515,"name":"Hydrochoerus
        hydrochaeris","commonName":"Capivara","scientificName":"Hydrocho[...]
[...]
