http_interactions:
- request:
    method: get
    uri: https://bie-webservice.sibbr.gov.br/bie-index/search?q=Mammalia&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":1,"facetResults":[],"results":[{"id":"41d62767-94db-4a8d-9e0c-7019d3b9e115","guid":"239610","linkIdentifier":"Mammalia","idxtype":"TAXON","name":"Mammalia","kingdom":"Animalia","nomenclaturalCode":"ICZN","scientificName":"Mammalia","scientificNameAuthorship":"Linnaeus,
        1758","author":"Linnaeus, 1758","nameComplete":"Mammalia Linnaeus, 1758","nameFormatted":"<span
        class=\"scientific-name rank-class\"><span class=\"name\">Mammalia<\u002fspan>
        <span class=\"author\">Linnaeus, 1758<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"239567","rank":"class","rankID":3000,"commonName":"","commonNameSingle":"","occurrenceCount":206117,"conservationStatus":null,"favourite":null,"infoSourceName":"Catálogo
        Taxonômico da Fauna do Brasil e Lista da Flora do Brasil 2020","infoSourceURL":"https://collectory.sibbr.gov.br/collectory                                                                 /public/show/null","image":"6ee8e686-a9b7-4aa7-9ce9-c2a4c26dc8f7","imageUrl":"https://images.sibbr.gov.br/images/image/proxyImageThumbnailLarge?imageId=6ee8e686-a9b7-4aa7-9ce9-c2a4c26dc8f7                           ","thumbnailUrl":"https://images.sibbr.gov.br/images/image/proxyImageThumbnail?imageId=6ee8e686-a9b7-4aa7-9ce9-c2a4c26dc8f7                             ","smallImageUrl":"https://images.sibbr.gov.br/images/image/proxyImageThumbnailLarge?imageId=6ee8e686-a9b7-4aa7-9ce9-c2a4c26dc8f7                           ","largeImageUrl":"https://images.sibbr.gov.br/images/image/proxyImage?imageId=6ee8e686-a9b7-4aa7-9ce9-c2a4c26dc8f7                                          ","kingdomGuid":"395634","phylum":"Chordata","phylumGuid":"239567","class":"Mammalia","classGuid":"239610"}],"queryTitle":"Mammalia"}}'
  recorded_at: 2022-10-18 09:02:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrences/search?fq=%28lsid%3A239610%29&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":206117,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&fq=(lsid%3A239610)","urlParameters":"?q=*%3A*&fq=(lsid%3A239610)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''239610''>CLASS: Mammalia</span>)","value":"239610)"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"(<span
        class=''lsid'' id=''239610''>CLASS: Mammalia</span>)","value":"(lsid:239610)"}]}}'
  recorded_at: 2022-10-18 09:02:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
[...]
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrences/search?fq=%28class%3A%22Mammalia%22%29&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":206117,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&fq=(class%3A%22Mammalia%22)","urlParameters":"?q=*%3A*&fq=(class%3A%22Mammalia%22)","queryTitle":"[all
        records]","activeFacetMap":{"(class":{"name":"(class","displayName":"(Class:\"Mammalia\")","value":"\"Mammalia\")"}},"activeFacetObj":{"class":[{"name":"class","displayName":"(Class:\"Mammalia\")","value":"(class:\"Mammalia\")"}]}}'
  recorded_at: 2022-10-18 09:02:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
