http_interactions:
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":12245489,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Human
        observation","i18nCode":"basis_of_record.HumanObservation","count":10720520,"fq":"basis_of_record:\"HumanObservation\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":194159,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":11834,"fq":"basis_of_record:\"MachineObservation\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":10126,"fq":"basis_of_record:\"LivingSpecimen\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":189,"fq":"basis_of_record:\"FossilSpecimen\""}],"count":6}]'
  recorded_at: 2022-10-18 09:02:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://specieslist.sibbr.gov.br/ws/speciesListItems/drt1565630923841
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":498583,"name":"Melocactus bahiensis","commonName":"Coroa-De-Frade","scientificName":"Melocactus
        bahiensis","lsid":"367866","dataResourceUid":"drt1565630923841"},{"id":498612,"name":"Glaucidium
        hardyi","commonName":"Caburé-Da-Amazônia","scientificName":"Glaucidium hardyi","lsid":"124786","dataResourceUid":"drt1565630923841"},{"id":498514,"name":"Procyon
        cancrivorus","commonName":"Mapache Lavador","scientificName":"Procyon cancrivorus","lsid":"172270","dataResourceUid":"drt1565630923841"},{"id":498515,"name":"Hydrochoerus
        hydrochaeris","commonName":"Capivara","scientificName":"Hydrochoerus hydrochaeris","lsid":"[...]
