http_interactions:
- request:
    method: get
    uri: https://specieslist.sibbr.gov.br/ws/speciesList/?offset=0&max=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"listCount":58,"sort":"listName","order":"asc","max":10,"offset":"0","lists":[{"dataResourceUid":"drt1565630923841","listName":"
        Imagens principais das espécies ","listType":"SPECIES_CHARACTERS","dateCreated":"2019-08-12T17:28:44Z","lastUpdated":"2021-03-22T18:37:17Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":117,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573739671090","listName":"
        Lista de espécies da sociobiodiversidade brasileira","listType":"SPECIES_CHARACTERS","dateCreated":"2019-11-14T13:54:31Z","lastUpdated":"2019-11-14T15:00:29Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":82,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573761007410","listName":"Descrição[...]
