http_interactions:
- request:
    method: get
    uri: https://collectory.sibbr.gov.br/collectory/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.sibbr.gov.br/collectory/ws/collection
      last-modified: Sun, 16 Oct 2022 19:20:48 GMT
      etag: '"b6cfb621901dea5b963b6fbc6f95b0ea"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Acervo de Estruturas Calcificadas de Peixes - Collection
        of Fish Calcified Structures","uri":"https://collectory.sibbr.gov.br/collectory/ws/collection/co454","uid":"co454"},{"name":"Banco
        de Amostras Biológicas do Centro Nacional de Pesquisa e Conservação de Mamíferos
        Carnívoros do ICMBio","uri":"https://collectory.sibbr.gov.br/collectory/ws/collection/co482","uid":"co482"},{"name":"Banco
        de DNA de Espécies da Flora Brasileira","uri":"https://collectory.sibbr.gov.br/collectory/ws/collection/co510","uid":"co510"},{"name":"Banco
        de Fungos Vivos do JBRJ","uri":"https://collectory.sibbr.gov.br/collectory/ws/collection/co513","ui[...]
- request:
    method: get
    uri: https://collectory.sibbr.gov.br/collectory/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.sibbr.gov.br/collectory/ws/dataResource
      last-modified: Mon, 17 Oct 2022 14:11:08 GM[...]
- request:
    method: get
    uri: https://collectory.sibbr.gov.br/collectory/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collectory.sibbr.gov.br/collectory/ws/dataProvider
      last-modified: Mon, 10 Oct 2022 16:47:32 GM[...]
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"The basis of record e.g. Specimen, Observation http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"basisOfRecord","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"catalogNumber","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"catalogNumber","classs":"Occurrence"},{"name":"cl10180","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"https://portal-espacial.sibbr.gov[...]
- request:
    method: get
    uri: https://portal-espacial.sibbr.gov.br/spatial-hub/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: 'HTTP/2 404 '
      content-type: text/html;charset=UTF-8
      content-language: en-US
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html>\n<head>\n    \n</head>\n\n<body>\n\n    <ul
        class=\"errors\">\n        <li>An error has occurred</li>\n    </ul>\n\n</body>\n</html>\n"
  recorded_at: 2022-10-18 09:02:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://specieslist.sibbr.gov.br/ws/speciesList/?max=1000&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"listCount":58,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"drt1565630923841","listName":"
        Imagens principais das espécies ","listType":"SPECIES_CHARACTERS","dateCreated":"2019-08-12T17:28:44Z","lastUpdated":"2021-03-22T18:37:17Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":117,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573739671090","listName":"
        Lista de espécies da sociobiodiversidade brasileira","listType":"SPECIES_CHARACTERS","dateCreated":"2019-11-14T13:54:31Z","lastUpdated":"2019-11-14T15:00:29Z","username":"sibbr.brasil@gmail.com","fullName":null,"itemCount":82,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":false,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"drt1573761007410","listName":"Descrição[...]
[...]
