http_interactions:
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":23739468,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2023-01-10 08:51:12 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-service.sibbr.gov.br/biocache-service/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"243464","i18nCode":"species_guid.243464","count":215619,"fq":"species_guid:\"243464\""}],"count":105083}]'
  recorded_at: 2023-01-10 08:51:12 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
