http_interactions:
- request:
    method: get
    uri: https://data.canadensys.net/collections/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      content-location: https://data.canadensys.net/collections/ws/collection
      last-modified: Thu, 14 Apr 2022 19:01:36 GMT
      etag: '"6af72f4250452309a860137bea63c782"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Agnes Marion Ayre Herbarium","uri":"https://data.canadensys.net/collections/ws/collection/co20","uid":"co20"},{"name":"Atlantic
        Reference Centre Museum of Canadian Atlantic Organisms","uri":"https://data.canadensys.net/collections/ws/collection/co53","uid":"co53"},{"name":"BC
        Coastal Waterbird Survey","uri":"https://data.canadensys.net/collections/ws/collection/co50","uid":"co50"},{"name":"Biodiversity
        of Urban Greenspaces Lab","uri":"https://data.canadensys.net/collections/ws/collection/co100","uid":"co100"},{"name":"Bishop''s
        University Insect Collection","uri":[...]
- request:
    method: get
    uri: https://data.canadensys.net/collections/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      content-location: https://data.canadensys.net/collections/ws/dataResource
      last-modified: Tue, 26 Apr 2022 18:59:26 GMT
  [...]
- request:
    method: get
    uri: https://data.canadensys.net/collections/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      content-location: https://data.canadensys.net/collections/ws/dataProvider
      last-modified: Fri, 29 Sep 2017 21:44:24 GMT
      etag: '"851cc478e98ec4b8be459582d32143c8"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Canadian node of the Ocean Biogeographic Information System","uri":"https://data.canadensys.net/collections/ws/dataProvider/dp1","uid":"dp1"},{"name":"Conservation
        of Arctic Flora and Fauna","uri":"https://data.canadensys.net/collections/ws/dataProvider/dp0","uid":"dp0"}]'
  recorded_at: 2022-10-12 05:33:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://data.canadensys.net/explorer-ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: http://data.canadensys.net/explorer-ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Image
        URLs for this record","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"description":"Assertions
        by user","info":"Atlas user ID of the person who has made an assertion about
        this record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"The
        specific nature of the data record.","info":"The basis of record e.g. Specimen,
        Observation http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"description":"An
        identifier (preferably unique) for the record within the data set or collection.","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Catalogue
        Number","classs":"Occurrence"},{"name":"class","dataType":"string","indexed":true,"stored":true,"multiv[...]
- request:
    method: get
    uri: https://logger.canadensys.net/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"collection
        management","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"ecological
        research","id":7,"deprecated":false},{"rkey":"logger.download.reason.education","name":"education","id":3,"deprecated":false},{"rkey":"logger.download.reason.environmental","name":"environmental
        assessment","id":2,"deprecated":false},{"rkey":"logger.download.reason.restoration.remediation","name":"restoration/remediation","id":12,"deprecated":false},{"rkey":"logger.download.reason.research","name":"scientific
        research","id":4,"deprecated":false},{"rkey":"logger.download.reason.systematic.research","name":"systematic
        research/taxonomy","id":8,"deprecated":false},{"rkey":"logger.download.reason.other","name":"other","id":6,"deprecated":false},{"rkey":"logger.download.reason.testing","name":"testing","id":10,"deprecated":false},{"rkey":"logger.download.reason.other.scientific.research","name":"other
        scientific research","id":9,"deprecated":true}]'
  recorded_at: 2022-10-12 05:33:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
