http_interactions:
- request:
    method: get
    uri: http://data.canadensys.net/explorer-ws/occurrence/facets?facets=multimedia&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"multimedia","fieldResult":[{"label":"None","i18nCode":"multimedia.None","count":6130832,"fq":"multimedia:\"None\""},{"label":"Image","i18nCode":"multimedia.Image","count":211711,"fq":"multimedia:\"Image\""}],"count":2}]'
  recorded_at: 2022-10-13 03:59:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
