http_interactions:
- request:
    method: get
    uri: https://elurikkus.ee/biocache-service/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":6971507,"sort":"score asc","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2022-10-18 08:59:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://elurikkus.ee/biocache-service/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"62543","count":54251,"fq":"species_guid:\"62543\""},{"label":"","count":1646624,"fq":"-species_guid:*"}],"count":65630}]'
  recorded_at: 2022-10-18 08:59:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
