http_interactions:
- request:
    method: get
    uri: https://elurikkus.ee/collectory/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-location: https://elurikkus.ee/collectory/ws/collection
      content-type: application/json;charset=UTF-8
      etag: W/"b07ef7da2964fefcfdfe9546c4d5b483"
      last-modified: Tue, 02 Nov 2021 14:07:45 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Eesti Loodusmuuseumi botaaniline kogu","uri":"https://elurikkus.ee/collectory/ws/collection/co0","uid":"co0"},{"name":"Eesti
        Loodusmuuseumi mükoloogiline kogu","uri":"https://elurikkus.ee/collectory/ws/collection/co2","uid":"co2"},{"name":"Eesti
        Loodusmuuseumi zooloogiline kogu","uri":"https://elurikkus.ee/collectory/ws/collection/co1","uid":"co1"},{"name":"Eesti
        Maaülikooli põllumajandus- ja keskkonnainstituudi entomoloogiline kogu","uri":"https://elurikkus.ee/collectory/ws/collection/co4","uid":"co4"},{"name":"Eesti
        Maaülikooli põllumajandus- ja keskkonnainstituu[...]
- request:
    method: get
    uri: https://elurikkus.ee/collectory/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-location: https://elurikkus.ee/collectory/ws/dataResource
      content-type: application/json;charset=UTF-8
      etag: W/"d7349ca529f0579ed72cf76e356be950"
      last-modified: Tue, 18 Oct 2022 08:31:14 GMT[...]
- request:
    method: get
    uri: https://elurikkus.ee/collectory/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-location: https://elurikkus.ee/collectory/ws/dataProvider
      content-type: application/json;charset=UTF-8
      etag: W/"9ff9a3fd55474c847dba581698357889"
      last-modified: Wed, 25 Oct 2017 14:12:35 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Estonian Environment Agency","uri":"https://elurikkus.ee/collectory/ws/dataProvider/dp1","uid":"dp1"},{"name":"PlutoF
        Platform","uri":"https://elurikkus.ee/collectory/ws/dataProvider/dp0","uid":"dp0"}]'
  recorded_at: 2022-10-18 08:59:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://elurikkus.ee/biocache-service/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://elurikkus.ee/biocache-service/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AdjustedSeedQuantity","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"AdjustedSeedQuantity"},{"name":"CurrentSeedQuantity","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"CurrentSeedQuantity"},{"name":"OriginalSeedQuantity","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"OriginalSeedQuantity"},{"name":"ViabilitySummary","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"ViabilitySummary"},{"name":"_version_","dataType":"long","indexed":true,"stored":true,"multivalue":false},{"name":"abcdIdentificationQualifier","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"abcdIdentificationQualifier"},{"name":"abcdIdentificationQualifierInsertionPoint","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"abcdIdentificationQualifierInsertionPoint"},{"name":"abcdTypeStatus","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"abcdTypeStatus"},{"name":"acceptedNameUsage","dataType":"string","indexed":false,"stored":false,"multivalue":false,"dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","classs":"Taxon"},{"name":"acceptedNameUsageID","dataType":"string","indexed":false,"stored":false,"multivalue":false,"dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","classs":"Taxon"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"downloadName":"images.p"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Record
        issues","jsonName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true},{"name":"associatedMedia","dataType":"string","indexed":false,"stored":false,"multivalue":false,"dwcTerm":"associatedMedia","downloadName":"associatedMedia","classs":"Occurrence"},{"name":"associatedOcc[...]
