http_interactions:
- request:
    method: get
    uri: https://elurikkus.ee/biocache-service/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"HumanObservation","count":4020686,"fq":"basis_of_record:\"HumanObservation\""},{"label":"PreservedSpecimen","count":1598812,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"GenomicDNA","count":1141601,"fq":"basis_of_record:\"GenomicDNA\""},{"label":"Literature","count":95732,"fq":"basis_of_record:\"Literature\""},{"label":"MachineObservation","count":34988,"fq":"basis_of_record:\"MachineObservation\""},{"label":"FossilSpecimen","count":191,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"","count":79497,"fq":"-basis_of_record:*"}],"count":7}]'
  recorded_at: 2022-10-18 08:59:35 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
