http_interactions:
- request:
    method: get
    uri: https://openobs.mnhn.fr/biocache-service/occurrence/facets?facets=basisOfRecord&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"basisOfRecord","fieldResult":[{"label":"OCCURRENCE","i18nCode":"basisOfRecord.OCCURRENCE","count":127005013,"fq":"basisOfRecord:\"OCCURRENCE\""},{"label":"Preserved
        specimen","i18nCode":"basisOfRecord.PRESERVED_SPECIMEN","count":1485027,"fq":"basisOfRecord:\"PRESERVED_SPECIMEN\""}],"count":2}]'
  recorded_at: 2023-01-09 08:12:21 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
