http_interactions:
- request:
    method: get
    uri: http://portail.gbif.fr/biocache-service/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":87443384,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2022-10-18 09:03:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://portail.gbif.fr/biocache-service/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"urn:lsid:dyntaxa.se:Taxon:102998","i18nCode":"species_guid.urn:lsid:dyntaxa.se:Taxon:102998","count":381957,"fq":"species_guid:\"urn:lsid:dyntaxa.se:Taxon:102998\""}],"count":37792}]'
  recorded_at: 2022-10-18 09:03:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
