http_interactions:
- request:
    method: get
    uri: https://taxref.mnhn.fr/api/taxa/search?scientificNames=Vulpes%20vulpes&page=1&size=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/hal+json; version=1;charset=UTF-8
      status: HTTP/1.1 200 OK
    body:
      encoding: ''
      file: no
      string: '{"_embedded":{"taxa":[{"id":60585,"referenceId":60585,"parentId":198937,"scientificName":"Vulpes
        vulpes","authority":"(Linnaeus, 1758)","fullName":"Vulpes vulpes (Linnaeus,
        1758)","fullNameHtml":"<i>Vulpes vulpes</i> (Linnaeus, 1758)","rankId":"ES","rankName":"Espèce","referenceName":"Vulpes
        vulpes (Linnaeus, 1758)","referenceNameHtml":"<i>Vulpes vulpes</i> (Linnaeus,
        1758)","frenchVernacularName":"Renard roux, Renard, Goupil","englishVernacularName":"Red
        Fox","genusName":"Vulpes","familyName":"Canidae","orderName":"Carnivora","className":"Mammalia","phylumName":"Chordata","kingdomName":"Animalia","vernacularGenusName":null,"vernacularFamilyName":"Loups,
        Renards","vernacularOrderName":null,"vernacularClassName":"Mammifères","vernacularPhylumName":"Chordés","vernacularKingdomName":"Animaux","vernacularGroup1":"Chordés","vernacularGroup2":"Mammifères","vernacularGroup3":"Autres","habitat":"3","fr":"P","gf":"A","mar":"A","gua":"A","sm":"A","sb":"A","spm":"C","may":"A","epa":"A","reu":"A","sa":"A","ta":"A","nc":"A","wf":"A","pf":"A","cli":"A","taxrefVersion":"16.0","_links":{"self":{"href":"https://taxref.mnhn.fr/api/taxa/60585"},"reference":{"href":"https://taxref.mnhn.fr/api/taxa/60585"},"parent":{"href":"https://taxref.mnhn.fr/api/taxa/198937"},"synonyms":{"href":"https://taxref.mnhn.fr/api/taxa/60585/synonyms"},"classification":{"href":"https://taxref.mnhn.fr/api/taxa/60585/classification"},"children":{"href":"https://taxref.mnhn.fr/api/taxa/60585/children"},"vernacularNames":{"href":"https://taxref.mnhn.fr/api/taxa/60585/vernacularNames"},"media":{"href":"https://taxref.mnhn.fr/api/taxa/60585/media"},"status":{"href":"https://taxref.mnhn.fr/api/taxa/60585/status/lines"},"interactions":{"href":"https://taxref.mnhn.fr/api/taxa/60585/interactions"},"taxrefHistory":{"href":"https://taxref.mnhn.fr/api/taxa/60585/taxrefHistory"},"externalIds":{"href":"https://taxref.mnhn.fr/api/taxa/60585/externalIds"},"taxonomicRank":{"href":"https://taxref.mnhn.fr/api/taxonomicRanks/ES"},"habitat":{"href":"https://taxref.mnhn.fr/api/habitats/3"},"taxrefUri":{"href":"http://taxref.mnhn.fr/lod/taxon/60585"},"inpnWebpage":{"href":"https://inpn.mnhn.fr/espece/cd_nom/60585"}}},{"id":899247,"referenceId":899247,"parentId":60585,"scientificName":"Vulpes
        vulpes crucigera","authority":"(Bechstein, 1789)","fullName":"Vulpes vulpes
        crucigera (Bechstein, 1789)","fullNameHtml":"<i>Vulpes vulpes crucigera</i>
        (Bechstein, 1789)","rankId":"SSES","rankName":"Sous-Espèce","referenceName":"Vulpes
        vulpes crucigera (Bechstein, 1789)","referenceNameHtml":"<i>Vulpes vulpes
        crucigera</i> (Bechs[...]
