http_interactions:
- request:
    method: get
    uri: https://openobs.mnhn.fr/biocache-service/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"67772","i18nCode":"species_guid.67772","count":1524132,"fq":"species_guid:\"67772\""}],"count":153116}]'
  recorded_at: 2023-01-09 08:15:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
