http_interactions:
- request:
    method: get
    uri: https://openobs.mnhn.fr/biocache-service/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: '[{"name":"abcdTypeStatus","downloadName":"abcdTypeStatus","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"info":"ABCD
        field in use by herbaria"},{"name":"acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage"},{"name":"acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage ID","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID"},{"name":"accessRights","dwcTerm":"dcterms:accessRights","downloadName":"accessRights","dataType":"string","classs":"Record","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Access
        rights"},{"name":"assertionUserId","downloadName":"assertionUserId","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record"},{"name":"assertions","jsonName":"assertions","downloadName":"assertions","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"i18nValues":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions"},{"name":"associatedMedia","dwcTerm":"associatedMedia","downloadName":"associatedMedia","dataType":"string","classs":"Occurrence","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Associated
        Media","info":"http://rs.tdwg.org/dwc/terms/associatedMedia"},{"name":"associatedOccurrences","dwcTerm":"associatedOccurrences","downloadName":"associatedOccurrences","dataType":"string","classs":[...]
