http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"name":"abcdTypeStatus","downloadName":"abcdTypeStatus","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"info":"ABCD
        field in use by herbaria"},{"name":"acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage"},{"name":"acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage ID","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID"},{"name":"accessRights","dwcTerm":"dcterms:accessRights","downloadName":"accessRights","dataType":"string","classs":"Record","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Access
        rights"},{"name":"assertionUserId","downloadName":"assertionUserId","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record"},{"name":"assertions","jsonName":"assertions","downloadName":"assertions","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"i18nValues":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions"},{"name":"associatedMedia","dwcTerm":"associatedMedia","downloadName":"associatedMedia","dataType":"string","classs":"Occurrence","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Associated
        Media","info":"http://rs.tdwg.org/dwc/terms/associatedMedia"},{"name":"associatedOccurrences","dwcTerm":"associatedOccurrences","downloadName":"associatedOccurrences","dataType":"string","classs":[...]
- request:
    method: get
    uri: https://spatial.ala.org.au/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: "[{\"path_1km\":\"\",\"source_link\":\"http://data.daff.gov.au/anrdl/metadata_files/pa_vast_g9abll0032008_11a.xml\",\"datalang\":\"eng\",\"environmentalvaluemin\":\"0\",\"shape\":true,\"lookuptablepath\":\"\",\"respparty_role\":\"distributor\",\"classification2\":\"\",\"pid\":\"\",\"displayname\":\"Vegetation
        types - present\",\"id\":620,\"grid\":false,\"path_orig\":\"layer/present_veg\",\"mdhrlv\":\"\",\"minlongitude\":112.91646,\"maxlatitude\":-9.22397,\"licence_link\":\"http://data.daff.gov.au/anrdl/metadata_files/pa_vast_g9abll0032008_11a.xml\",\"mddatest\":\"2009-08\",\"maxlongitude\":153.6377,\"dt_added\":1317906000000,\"minlatitude\":-43.67225,\"scale\":\"\",\"displaypath\":\"https://spatial.ala.org.au/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:present_veg&format=image/png&styles=\",\"path\":\"/mnt/transfer/MCAS_1k_Datapack/Vegetation/present_veg.tif\",\"name\":\"present_veg\",\"metadatapath\":\"http://www.environment.gov.au/erin/nvis/mvg/index.html
        , http://www.environment.gov.au/erin/nvis/publications/pubs/major-veg-summary.pdf\",\"type\":\"Contextual\",\"notes\":\"Primary
        data with some data gaps filling from Major Vegetation Groups\",\"keywords\":\"\",\"uid\":\"620\",\"licence_notes\":\"All
        material in this publication is licensed under a Creative Commons Attribution
        3.0 Australia Licence, save for content supplied by third parties, logos and
        the Commonwealth Coat of Arms. This publication (and any material sourced
        from it) should be attributed as: Source: ABARES. Users of the data set are
        asked to acknowledge, in any visual or published material, that it was derived
        and compiled by ABARES. Users of the data set are asked to make known to ABARES
        any errors, omissions or suggestions for improvement.\",\"environmentalvaluemax\":\"99\",\"classification1\":\"Vegetation\",\"environmentalvalueunits\":\"class\",\"enabled\":true,\"domain\":\"Terrestrial\",\"description\":\"Current
        major vegetation group (class)\",\"licence_level\":\"3\",\"source\":\"ERIN\",\"citation_date\":\"2006\"},{\"path_1km\":\"\",\"source_link\":\"http://www.agriculture.gov.au/abares/forestsaustralia/publications/display?url=http://143.188.17.20/anrdl/DAFFService/display.php?fid=pb_aif13g9abfs20160527_11a.xml\",\"datalang\":\"\",\"environmentalvaluemin\":\"-32767.0\",\"shape\":true,\"lookuptablepath\":\"\",\"respparty_role\":\"\",\"classification2\":\"\",\"pid\":\"10900\",\"displayname\":\"Australia's
        Indigenous forest estate (2013) v2.0\",\"id\":10900,\"grid\":false,\"path_orig\":\"l[...]
