http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":112998157,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2023-01-06 06:48:27 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=&flimit=1&facets=speciesID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"speciesID","fieldResult":[{"label":"https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5","i18nCode":"speciesID.https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5","count":1633842,"fq":"speciesID:\"https://biodiversity.org.au/afd/taxa/5291343e-fdeb-4a65-8ba5-928f5b96acf5\""}],"count":152362}]'
  recorded_at: 2023-01-06 06:48:27 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
