http_interactions:
- request:
    method: get
    uri: https://openobs.mnhn.fr/biocache-service/occurrences/search?fq=&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":128490040,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2023-01-09 08:12:21 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
