http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset?offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":80409,"results":[{"key":"e6e84027-d15e-4225-8b58-6cf63e8ef494","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.15468/m2s323","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Morphological
        and molecular approaches revealed a new species of snapping shrimp genus Alpheus
        Fabricius, 1798 (Decapoda: Caridea: Alpheidae) from Lakshadweep Islands, India","description":"This
        dataset contains the digitized treatments in Plazi based on the original journal
        article Purushothaman, P., Bharathi, S., Damodhar, A. T., Ajith Kumar, T.
        T., Lal, K. K. (2023): Morphological and molecular approaches revealed a new
        species of snapping shrimp genus Alpheus Fabricius, 1798 (Decapoda: Caridea:
        Alpheidae) from Lakshadweep Islands, India. Zootaxa 5227 (4): 426-442, DOI:
        https://doi.org/10.11646/zootaxa.5227.4.2","language":"eng","homepage":"https://tb.plazi.org/GgServer/summary/DF4E4160FFFFCD12FFC88A25FFFFFFC0","citation":{"text":"Purushothaman
        P, Bharathi S, Damodhar A T, Ajith Kumar T T, Lal K K, plazi (2023). Morphological
        and molecular approaches revealed a new species of snapping shrimp genus Alpheus
        Fabricius, 1798 (Decapoda: Caridea: Alpheidae) from Lakshadweep Islands, India.
        Plazi.org taxonomic treatments database. Checklist dataset https://doi.org/10.15468/m2s323
        accessed via GBIF.org on 2023-01-10.","citationProvidedBySource":false},"contactsCitation":[{"key":4180862,"abbreviatedName":"Purushothaman
        P","firstName":"P.","lastName":"Purushothaman","roles":["ORIGINATOR"],"userId":[]},{"key":4180863,"abbreviatedName":"Bharathi
        S","firstName":"S.","lastName":"Bharathi","roles":["ORIGINATOR"],"userId":[]},{"key":4180864,"abbreviatedName":"Damodhar
        A T","firstName":"A. T.","lastName":"Damodhar","roles":["ORIGINATOR"],"userId":[]},{"key":4180865,"abbreviatedName":"Ajith
        Kumar T T","firstName":"T. T.","lastName":"Ajith Kumar","roles":["ORIGINATOR"],"userId":[]},{"key":4180866,"abbreviatedName":"Lal
        K K","firstName":"K. K.","lastName":"Lal","roles":["ORIGINATOR"],"userId":[]},{"key":4180870,"abbreviatedName":"plazi","lastName":"plazi","roles":["METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2023-01-10T00:57:17.460+00:00","modified":"2023-01-10T01:07:28.666+00:00","contacts":[{"key":4180862,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"P.","lastName":"Purushothaman","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-01-10T01:07:28.645+00:00","modified":"2023-01-10T01:07:28.645+00:00"},{"key":4180863,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"S.","lastName":"Bharathi","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-01-10T01:07:28.648+00:00","modified":"2023-01-10T01:07:28.648+00:00"},{"key":4180864,"type":"ORIGINATOR"[...]
