http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/especies-ws/search?q=Mammalia&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"searchResults":{"totalRecords":5,"facetResults":[],"results":[{"id":"47b937c8-06fa-4715-a22d-8a13fb4576f6","guid":"359","linkIdentifier":"Mammalia","idxtype":"TAXON","name":"Mammalia","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Mammalia","scientificNameAuthorship":null,"author":null,"nameComplete":"Mammalia","nameFormatted":"<span
        class=\"scientific-name rank-class\"><span class=\"name\">Mammalia<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"44","rank":"class","rankID":3000,"commonName":"Mammals,
        Mammifères, Mamífero, Zoogdieren, Mammal, Däggdjur, Pattedyr, Sogdyr, Spendyr,
        Ссавці, 哺乳","commonNameSingle":"Mammals","occurrenceCount":31206,"conservationStatus":null,"favourite":null,"infoSourceName":"GBIF
        Backbone Taxonomy","infoSourceURL":"https://snib.conap.gob.gt/colecciones/public/show/7ddf754f-d193-4cc9-b351-99906754a03b","image":"d3b55585-1cea-441d-98a0-88c23b2567d0","imageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnailLarge?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","thumbnailUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnail?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","smallImageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnailLarge?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","largeImageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImage?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","kingdomGuid":"1","phylum":"Chordata","phylumGuid":"44","class":"Mammalia","classGuid":"359"},{"id":"https://snib.conap.gob.gt/colecciones/ws/dataResource/dr480","guid":"https://snib.conap.gob.gt/colecciones/public/show/dr480","linkIdentifier":null,"idxtype":"DATARESOURCE","name":"Naturalis
        Biodiversity Center (NL) - Mammalia","description":"Database contains specimen
        records from the Mammalia collection of the Naturalis Biodiversity Center
        (Leiden, Netherlands). The zoological specimens come from the National Museum
        of Natural History (RMNH; Rijksmuseum voor Natuurlijke Historie), later National
        Museum of Natural History, Naturalis in Leiden and the Zoological Museum Amsterdam
        (ZMA) and new acquisitions. This database replaces the dataset &#34;Zoological
        Museum Amsterdam, University [...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/occurrences/search?fq=%28lsid%3A359%29&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":31206,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&fq=(lsid%3A359)","urlParameters":"?q=*%3A*&fq=(lsid%3A359)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''359''>CLASS: Mammalia</span>)","value":"359)"}}}'
  recorded_at: 2023-01-10 01:58:37 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/occurrences/search?fq=%28class%3A%22Mammalia%22%29&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":31206,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&fq=(class%3A%22Mammalia%22)","urlParameters":"?q=*%3A*&fq=(class%3A%22Mammalia%22)","queryTitle":"[all
        records]","activeFacetMap":{"(class":{"name":"(class","displayName":"(Class:\"Mammalia\")","value":"\"Mammalia\")"}}}'
  recorded_at: 2023-01-10 01:58:37 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
