http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/grscicoll/collection?offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":6879,"results":[{"key":"a3425f2e-9b05-4651-8ffc-dd27d58db3d6","code":"DMCC","name":"Department
        Microbial Culture Collection","contentTypes":[],"active":true,"personalCollection":false,"email":[],"phone":[],"homepage":"https://medicine.nus.edu.sg/mbio/about-us/department-committees/dmcc.html","preservationTypes":[],"institutionKey":"108d4f5f-9469-4a8c-92d2-e8be2e5de27f","mailingAddress":{"key":44670,"address":"National
        University of Singapore 5 Science Drive 2 Blk MD4, Level 3 Singapore 117545","country":"SG"},"address":{"key":44669,"address":"National
        University of Singapore 5 Science Drive 2 Blk MD4, Level 3 Singapore 117545","country":"SG"},"createdBy":"lily_shrestha","modifiedBy":"lily_shrestha","created":"2023-01-10T09:07:17.676+00:00","modified":"2023-01-10T09:07:17.676+00:00","tags":[],"identifiers":[],"contacts":[],"contactPersons":[],"indexHerbariorumRecord":false,"machineTags":[],"incorporatedCollections":[],"importantCollectors":[],"collectionSummary":{},"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"institutionName":"Department
        of Microbiology and Immunology, National University of Singapore","institutionCode":"NUSDM"},{"key":"d7cad579-06b4-4aff-9869-00239ed8d4b3","code":"UAM:Inv","name":"UAM
        Invertebrate Collection (Arctos)","description":"Marine and freshwater invertebrates
        (excluding aquatic insects) of Alaska and nearby regions. Holdings primarily
        consist of collections from oceanographic surveys in the Bering, Chukchi and
        Beaufort seas.","contentTypes":[],"active":true,"personalCollection":false,"email":[],"phone":[],"preservationTypes":[],"institutionKey":"6f700e1f-03b9-4062-acf8-9d4006a4c48a","mailingAddress":{"key":44667},"address":{"key":44666,"address":"PO
        Box 756960, 907 Yukon Drive","city":"Fairbanks","postalCode":"AK/99775","country":"US"},"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2023-01-06T14:21:46.825+00:00","modified":"2023-01-06T14:22:36.448+00:00","tags":[],"identifiers":[{"key":334941,"type":"DOI","identifier":"10.15468/wrvy1y","createdBy":"mgrosjean","created":"2023-01-06T14:21:46.825+00:00"}],"contacts":[],"contactPersons":[{"key":34196,"firstName":"Andres","lastName":"Lopez","position":["Curator
        of Fishes"],"phone":[],"fax":[],"email":["jalopez2@alaska.edu"],"address":["907
        Yukon Drive"],"city":"Fairbanks","province":"AK","country":"US","postalCode":"99775-6960","primary":true,"taxonomicExpertise":[],"userIds":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2023-01-06T14:21:46.825+00:00","modified":"2023-01-06T14:21:46.825+00:00"},{"key":34197,"firstName":"Andres","lastName":"Lopez","position":["Curator
        of Fishes"],"phone":[],"fax":[],"email":["jalopez2@alaska.edu"],"address":["907
        Yukon Drive"],"city":"Fairbanks","province":"AK","country":"US","postalCode":"99775-6960","primary":true,"taxonomicExpertise":[],"userIds":[],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","[...]
