http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset?offset=0&limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":80375,"results":[{"key":"df1b03cd-806b-4479-adf2-dfd6ba3fd1d2","installationKey":"6b459ded-20ca-46f2-8323-5f4eed4b9fde","publishingOrganizationKey":"d3ed306d-f994-4fb0-abeb-a9a373e20728","doi":"10.15468/xdrxkc","external":false,"numConstituents":0,"type":"SAMPLING_EVENT","title":"Freshwater
        macroinvertebrates sampling of the Delaikoro mountain range, Vanua Levu, Fiji","description":"Freshwater
        macroinvertebrates sampled and identified from water catchments in the Delaikoro
        mountain range in 2013 are recorded in this dataset. The records compiled
        in this dataset were part of a baseline survey for the proposed Greater Delaikoro
        Area protected area under a Global Environment Fund and Food and Agricultural
        Organisation of the United Nations, Forest Protected Area Management project
        conducted in Fiji.","language":"eng","citation":{"text":"Rashni B (2023).
        Freshwater macroinvertebrates sampling of the Delaikoro mountain range, Vanua
        Levu, Fiji. The University of the South Pacific. Sampling event dataset https://doi.org/10.15468/xdrxkc
        accessed via GBIF.org on 2023-01-06.","citationProvidedBySource":false},"contactsCitation":[{"key":4177305,"abbreviatedName":"Rashni
        B","firstName":"Bindiya","lastName":"Rashni","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":["http://orcid.org/0000-0002-7699-9549"]}],"lockedForAutoUpdate":false,"createdBy":"d3ed306d-f994-4fb0-abeb-a9a373e20728","modifiedBy":"crawler.gbif.org","created":"2023-01-05T21:43:33.318+00:00","modified":"2023-01-05T21:44:34.712+00:00","contacts":[{"key":4177305,"type":"ORIGINATOR","primary":true,"userId":["http://orcid.org/0000-0002-7699-9549"],"firstName":"Bindiya","lastName":"Rashni","position":["Regional
        Coordinator Oceania"],"email":["diyarash@gmail.com"],"phone":[],"homepage":[],"organization":"Freshwater
        Biodiversity Observation Network","address":[],"city":"Suva","country":"FJ","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2023-01-05T21:44:34.691+00:00","modified":"2023-01-05T21:44:34.691+00:00"},{"key":4177306,"type":"METADATA_AUTHOR","primary":true,"userId":["http://orcid.org/0000-0002-7699-9549"],"firstName":"Bindiya","lastName":"Rashni","position":["Regional
        Coordinator Oceania"],"email":["diyarash@gmail.com"],"phone":[],"homepage":[],"organization":"Freshwater
        Biodiversity Observation Network","address":[],"city":"S[...]
