http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=1&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1803163327,"results":[],"facets":[]}'
  recorded_at: 2023-01-06 01:57:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
