http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?facet=basisOfRecord&limit=0&facetLimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":2299533990,"results":[],"facets":[{"field":"BASIS_OF_RECORD","counts":[{"name":"HUMAN_OBSERVATION","count":1962601805},{"name":"PRESERVED_SPECIMEN","count":212592678},{"name":"MATERIAL_SAMPLE","count":50427305},{"name":"OBSERVATION","count":23369732},{"name":"OCCURRENCE","count":20306642},{"name":"MACHINE_OBSERVATION","count":15137742},{"name":"FOSSIL_SPECIMEN","count":10107851},{"name":"MATERIAL_CITATION","count":2999062},{"name":"LIVING_SPECIMEN","count":1991173}]}]}'
  recorded_at: 2023-01-06 01:57:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
