http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/grscicoll/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":6875,"results":[{"key":"399d6318-3d9f-4e00-88c8-2b310b5af781","code":"LEUA","name":"LABORATORIO
        DE ENTOMOLOGIA UNIVERSIDAD DE LA AMAZONIA","description":"La Colección Laboratorio
        de Entomología Universidad de la Amazonia - LEUA es una unidad al servicio
        de instituciones, investigadores y sociedad en general, con interés en la
        generación de nuevos conocimientos relacionados con la Entomología en el Neotrópico.
        La colección brinda un espacio adecuado para la preservación de especímenes
        de insectos en seco y líquido, en el que los científicos con interés en el
        reconocimiento de la diversidad de insectos en la región Neotropical pueden
        desarrollar investigaciones en morfología, taxonomía, sistemática, filogenia,
        biología, ecología y biogeografía. Visión: En el año 2030, la Colección Laboratorio
        de Entomología Universidad de la Amazonia –LEUA será reconocida como una colección
        de referencia que es consultada por entomólogos especialistas de todos los
        grupos de insectos. La Colección estará articulada con instituciones regionales,
        nacionales e internacionales, que dediquen esfuerzos al reconocimiento de
        la diversidad de insectos en el Neotrópico. Los investigadores vinculados
        a la Colección enfocarán sus esfuerzos en la generación y socialización de
        nuevos conocimientos a través de publicaciones científicas, desarrollo de
        eventos especializados y la consolidación de redes de conocimiento con la
        comunidad científica internacional.","contentTypes":[],"active":true,"personalCollection":false,"email":["rectoria@uniamazonia.edu.co"],"phone":["(608)
        4358231"],"preservationTypes":[],"institutionKey":"f02c524c-99c8-4879-970e-0a50c7cb05a0","mailingAddress":{"key":44656,"address":"Diagonal
        17 con Carrera 3F, Barrio Porvenir","city":"Florencia","province":"Caquetá","country":"CO"},"address":{"key":44655,"address":"Diagonal
        17 con Carrera 3F, Barrio Porvenir","city":"Florencia","province":"Caquetá","country":"CO"},"createdBy":"daiesco","modifiedBy":"daiesco","created":"2022-12-26T21:05:51.698+00:00","modified":"2022-12-26T21:05:51.698+00:00","tags":[],"identifiers":[],"contacts":[],"contactPersons":[{"key":34168,"firstName":"JEAN
        ALEXÁNDER","lastName":"GAMBOA TABARES","position":["Curador"],"phone":["(57)
        3108772849"],"fax":[],"email":["j.gamboa@udla.edu.co"],"address":[],"city":"Florencia","province":"Caquetá","country":"CO","primary":true,"taxonomicExpertise":["Insectos"],"userIds":[],"createdBy":"daiesco","modifiedBy":"daiesco","created":"2022-12-26T21:07:22.817+00:00","modified":"2022-12-26T21:07:22.817+00:00"}],"indexHerbariorumRecord":false,"machineTags":[],"incorporatedCollections":[],"importantCollectors":[],"collectionSummary":{},"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"institutionName":"Universidad
        de la Amazonia","institutionCode":"HUAZ"},{"key":"3bbf341b-304c-4edc-8b16-c5972332cf63","code":"IFSH","name":"Herbarium","contentTypes":[],"active":true,"personalCollection":false,"email":["herbario.inconfidentes@ifsuldeminas.edu.br"],"phone":["55
        35 3464 9544"],"homepage":"https://portal.ifs.ifsuldeminas.edu.br/index.php/herbario","preservationTypes":[],"institutionKey":"ac3fca3d-6c3f-416e-bb02-862d64d9fef1","mailingAddress":{"key":44654,"address":"Praça
        Tiradentes, 416","city":"Inconfidentes","province":"Minas Gerais","postalCode":"37576000","country":"BR"},"address":{"key":44653,"address":"Avenida
        Alvarenga Peixoto, n° 278","city":"Inconfidentes","province":"Minas Gerais","postalCode":"Minas
        Gerais","country":"BR"},"createdBy":"ih-sync","modifiedBy":"ih-sync","created":"2022-12-21T10:49:25.462+00:00","modified":"2023-01-04T10:47:45.459+00:00","tags":[],"identifiers":[{"key":334679,"type":"IH_IRN","identifier":"gbif:ih:irn:263131","createdBy":"ih-sync","created":"2022-12-21T10:49:25.599+00:00"}],"contacts":[],"contactPersons":[],"indexHerbariorumRecord":true,"numberSpecimens":20,"machineTags":[],"notes":"Entered
        Dec 2022.","incorporatedCollections":[],"importantCollectors":[],"collectionSummary":{"numPteridosImaged":0,"numBryosDatabased":0,"numSeedPlImaged":0,"numSeedPl":0,"numPteridos":0,"numAlgaeImaged":0,"numPteridosDatabased":0,"numSeedPlDatabased":0,"numFungiDatabased":0,"numFungi":0,"numBryosImaged":0,"numBryos":0,"numAlgae":0,"numAlgaeDatabased":0,"numFungiImaged":0},"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"IH","masterSourceMetadata":{"key":8950,"source":"IH_IRN","sourceId":"263131","createdBy":"ih-sync","created":"2022-12-21T10:49:25.658+00:00"},"department":"Coordenadoria
        de Extensão","displayOnNHCPortal":true,"institutionName":"Instituto Federal
        de Educação, Ciência e Tecnologia do Sul de Minas Gerais - IFSULDEMINAS -
        Campus Inconfidentes","institutionCode":"IFSH"},{"key":"4c521834-8a38-4633-ac60-c4a6fdba77d0","code":"FHJ","name":"Herbarium","contentTypes":[],"active":true,"personalCollection":false,"email":["jjazila39@gmail.com"],"phone":[],"preservationTypes":[],"institutionKey":"e3ca85ad-711e-4c30-b715-179e2a6054ba","mai[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/grscicoll/collection?offset=0&limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":6875,"results":[{"key":"399d[...]
