http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":2946751,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":465637,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":26441,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":7716,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":1550,"fq":"basis_of_record:\"LivingSpecimen\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":585,"fq":"basis_of_record:\"MachineObservation\""},{"label":"Literature","i18nCode":"basis_of_record.Literature","count":59,"fq":"basis_of_record:\"Literature\""}],"count":7}]'
  recorded_at: 2022-10-18 09:05:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
