http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/logger/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: 'HTTP/2 500 '
      content-type: text/html;charset=UTF-8
      content-language: en
    body:
      encoding: ''
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\"/>\n    <meta name=\"app.version\" content=\"2.4-SNAPSHOT\"/>\n
        \   <meta name=\"app.build\" content=\"\"/>\n    <meta name=\"description\"
        content=\"Atlas of Living Australia\"/>\n    <meta name=\"author\" content=\"Atlas
        of Living Australia\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n    <link href=\"http://www.ala.org.au/wp-content/themes/ala2011/images/favicon.ico\"
        rel=\"shortcut icon\"  type=\"image/x-icon\"/>\n\n    <title>Error</title>\n\n
        \   \n    <asset:stylesheet src=\"ala.css\" media=\"all\"/>\n    <link href=\"https://snib.conap.gob.gt/css/bootstrap.min.css\"
        rel=\"stylesheet\" media=\"all\" />\n    <link href=\"https://snib.conap.gob.gt/css/bootstrap-responsive.min.css\"
        rel=\"stylesheet\" media=\"all\" />\n    \n        \n            <link href=\"https://snib.conap.gob.gt/css/ala-styles.css\"
        rel=\"stylesheet\" media=\"all\" />\n        \n    \n    <!--[if lt IE 9]>\n
        \   <asset:javascript src=\"html5.js\"/>\n    <![endif]-->\n    <asset:javascript
        src=\"ala-head.js\"/>\n\n\n    \n\t\t\n\t\t<meta name=\"layout\" content=\"main\"/>\n\t\n</head>\n<body
        class=\"\" id=\"\" onload=\"\">\n\n\n\n<!-- Header -->\n<!-- We add this here
        instead of in head because it seems that CAS doesn't load head.html -->\n<!--
        Optional: Material Design Lite Page styles -->\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en\">\n<link
        rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n<link
        rel=\"stylesheet\" href=\"https://snib.conap.gob.gt/material-lite/material.min.css\">\n<!--
        End: Material Design Lite -->\n\n<!-- Experimental: Use of bootstrap-material-design
        compatible with BS3 -->\n<script src=\"https://snib.conap.gob.gt/custom-bootstrap/material.min.js\"></script>\n<script
        src=\"https://snib.conap.gob.gt/custom-bootstrap/ripples.min.js\"></script>\n<link
        rel=\"stylesheet\" href=\"https://snib.conap.gob.gt/custom-bootstrap/bootstrap-material-design.min.css\">\n<link
        rel=\"stylesheet\" href=\"https://snib.conap.gob.gt/custom-bootstrap/ripples.min.css\">\n<script>$(document).ready(function()
        { window.$.material.init(); });</script>\n<!--[if IE]>\n  <s[...]
