http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/especies-ws/search?q=Mammalia&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '{"searchResults":{"totalRecords":5,"facetResults":[],"results":[{"id":"47b937c8-06fa-4715-a22d-8a13fb4576f6","guid":"359","linkIdentifier":"Mammalia","idxtype":"TAXON","name":"Mammalia","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Mammalia","scientificNameAuthorship":null,"author":null,"nameComplete":"Mammalia","nameFormatted":"<span
        class=\"scientific-name rank-class\"><span class=\"name\">Mammalia<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"44","rank":"class","rankID":3000,"commonName":"Mammals,
        Mammifères, Mamífero, Zoogdieren, Mammal, Däggdjur, Pattedyr, Sogdyr, Spendyr,
        Ссавці, 哺乳","commonNameSingle":"Mammals","occurrenceCount":31206,"conservationStatus":null,"favourite":null,"infoSourceName":"GBIF
        Backbone Taxonomy","infoSourceURL":"https://snib.conap.gob.gt/colecciones/public/show/7ddf754f-d193-4cc9-b351-99906754a03b","image":"d3b55585-1cea-441d-98a0-88c23b2567d0","imageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnailLarge?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","thumbnailUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnail?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","smallImageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImageThumbnailLarge?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","largeImageUrl":"https://imagenes.snib.conap.gob.gt/image/proxyImage?imageId=d3b55585-1cea-441d-98a0-88c23b2567d0","kingdomGuid":"1","phylum":"Chordata","phylumGuid":"44","class":"Mammalia","classGuid":"359"},{"id":"https://snib.conap.gob.gt/colecciones/ws/dataResource/dr480","guid":"https://snib.conap.gob.gt/colecciones/public/show/dr480","linkIdentifier":null,"idxtype":"DATARESOURCE","name":"Naturalis
        Biodiversity Center (NL) - Mammalia","description":"Database contains specimen
        records from the Mammalia collection of the Naturalis Biodiversity Center
        (Leiden, Netherlands). The zoological specimens come from the National Museum
        of Natural History (RMNH; Rijksmuseum voor Natuurlijke Historie), later National
        Museum of Natural History, Naturalis in Leiden and the Zoological Museum Amsterdam
        (ZMA) and new acquisitions. This database replaces the dataset &#34;Zoological
        Museum Amsterdam, University [...]
