http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/organization?q=Frog
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":true,"count":3,"results":[{"key":"2884418b-373a-408d-8deb-d4fb7eb8aed6","endorsingNodeKey":"d897a5b9-35ee-4232-94bd-b0bcaac003c2","endorsementApproved":true,"endorsementStatus":"ENDORSED","title":"Froglife","description":"Froglife
        is a national wildlife charity committed to the conservation of amphibians
        and reptiles – frogs, toads, newts, snakes and lizards – and saving the habitats
        they depend on.","language":"eng","email":["info@froglife.org"],"phone":["01733
        602102"],"homepage":["http://www.froglife.org/"],"logoUrl":"https://registry.nbnatlas.org/data/dataProvider/froglifelogosmaller56kb.jpg","address":["1
        Loxley"],"city":"Werrington","province":"Peterborough","country":"GB","postalCode":"PE4
        5BW","latitude":52.61905,"longitude":-0.28572,"numPublishedDatasets":1,"createdBy":"uknbn","modifiedBy":"uknbn","created":"2017-05-09T13:55:09.727+00:00","modified":"2017-06-19T09:08:52.046+00:00","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"63761962-613c-4f66-9f75-80ab27585a9b","endorsingNodeKey":"da44cd31-5901-4687-a106-6d1c7734ee3a","endorsementApproved":false,"endorsementStatus":"ON_HOLD","title":"SOS
        ECUREUIL PROVENCE","description":"SOS Ecureuil Provence is an association
        that wants to act quickly and well to save wild animals, and in particular
        the red squirrel, a species protected and threatened in particular by automobile
        traffic.Recreating environments favorable to animals such a[...]
