http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=1&year=2020%2C%2A&facet=year&limit=0&facetLimit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":431731681,"results":[],"facets":[{"field":"YEAR","counts":[{"name":"2021","count":213172529},{"name":"2020","count":190878007},{"name":"2022","count":27624067},{"name":"2023","count":57078}]}]}'
  recorded_at: 2023-01-10 01:42:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
