http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/grscicoll/search?q=Museum&hl=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"type":"institution","key":"a27138c0-a05b-44ed-bdb5-d57d4c135eb5","code":"POOMS","name":"Poole
        Museum"},{"type":"institution","key":"131a50c9-0371-4a0e-a9bc-7ce47e8da386","code":"SFM","name":"The
        Scottish Fisheries Museum"},{"type":"institution","key":"74010726-f392-43b8-a6ae-140d146f84f3","code":"NMT","name":"National
        Museum of Tanzania"},{"type":"institution","key":"1d808a7c-1f9e-4379-9616-edb749ecf10e","code":"NHMUK","name":"Natural
        History Museum, London"},{"type":"institution","key":"af8f20da-14c5-42c1-80b7-c0060dbd435c","code":"LTR","name":"Uni[...]
