http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/colecciones/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://snib.conap.gob.gt/colecciones/ws/collection
      last-modified: Fri, 17 Sep 2021 19:01:46 GMT
      etag: W/"6bd1e9d43c3d7fe859716b93a8c9cf77"
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Colección de Abejas Nativas de Guatemala","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co5","uid":"co5"},{"name":"Colección
        de insectos del Centro Universitario de Zacapa","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co2","uid":"co2"},{"name":"Colección
        de Mamíferos (USAC-USACM)","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co8","uid":"co8"},{"name":"Herbario
        USCG","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co4","uid":"co4"},{"name":"SISTEMA
        DE COLECCIONES BIOLÓGICAS DE LA ESCUELA DE BIOLOGÍA","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co13","uid":"co13"},{"name":"UNIDAD
        DE INVESTIGACIÓN BIGU, COLECCIÓN BOTÁNICA","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co6","uid":"co6"},{"name":"Universidad
        del Valle de Guatemala","uri":"https://snib.conap.gob.gt/colecciones/ws/collection/co10","uid":"co10"}]'
  recorded_at: 2022-10-18 09:05:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://snib.conap.gob.gt/colecciones/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://snib.conap.gob.gt/colecciones/ws/dataResource
      last-modified: Tue, 11 Oct 2022 20:27:13 GMT
      et[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/colecciones/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://snib.conap.gob.gt/colecciones/ws/dataProvider
      last-modified: Tue, 19 Jul 2022 21:09:21 GMT
      et[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"docvalue":false,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"The basis of record e.g. Specimen, Observation http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Catalogue
        Number","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Catalogue
        Number","classs":"Occurrence"},{"name":"cl10011","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"https://geo[...]
- request:
    method: get
    uri: https://geoespacial.snib.conap.gob.gt/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_link":"","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"","displayname":"Regiones
        Cinergeticas","id":10003,"grid":false,"path_orig":"layer/regionescinergeticas","minlongitude":312456.38131,"maxlatitude":1970836.66533,"licence_link":"","mddatest":"","maxlongitude":744216.56669,"dt_added":1592866195498,"minlatitude":1519247.63042,"displaypath":"https://geoespacial.snib.conap.gob.gt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:regionescinergeticas&format=image/png&styles=","name":"regionescinergeticas","metadatapath":"","type":"Contextual","notes":"","keywords":"","licence_notes":"","environmentalvaluemax":"","classification1":"","environmentalvalueunits":"","enabled":true,"domain":"Terrestrial","description":"","licence_level":"1","source":"","citation_date":""},{"source_link":"","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"Gobierno","displayname":"Regiones
        INAB","id":10008,"grid":false,"path_orig":"layer/regionesinabdiss2","minlongitude":581852.43743,"maxlatitude":1974107.25004,"licence_link":"","mddatest":"","maxlongitude":1012466.99995,"dt_added":1592937814213,"minlatitude":1520777.25,"displaypath":"https://geoespacial.snib.conap.gob.gt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&req[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/logger/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"collection
        management","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"ecological
        research","id":7,"deprecated":false},{"rkey":"logger.download.rea[...]
