http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/organization?offset=0&limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":2448,"results":[{"key":"b8466ab9-5fd4-4846-ac22-54ecef31d812","endorsingNodeKey":"7f48e0c8-5c96-49ec-b972-30748e339115","endorsementApproved":true,"endorsementStatus":"ENDORSED","title":"Società
        Romana di Scienze Naturali","description":"The Society of Natural Sciences
        of Rome (SRSN), established in 1967, is devoted to the Natural Sciences, specifically
        to geodiversity and biodiversity. SRSN has organised over 50 field expeditions
        from Western Europe to the Mid East and North Africa. SRSN owns an extensive
        library (10000 books and 15000 scientific papers), 2 laboratories and several
        collections: Vertebrates (1250 specimens), Mollusca(13000), Arachnida (1500);
        and  Fossils and Minerals (over 800 selected specimens). SRSN is part of the
        international “Fauna Europaea” project (http://www.faunaeur.org/).","language":"eng","email":["info@srsn.it"],"phone":["+393913885175"],"homepage":["http://www.srsn.it/"],"logoUrl":"http://www.srsn.it/images/logo2.png","address":["Via
        Fratelli Maristi 43"],"city":"Roma","province":"Roma","country":"IT","postalCode":"00137","latitude":41.96546,"longitude":12.60657,"numPublishedDatasets":0,"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2023-01-05T11:38:51.467+00:00","modified":"2023-01-05T11:38:51.467+00:00","endorsed":"2023-01-05T12:43:13.385+00:00","contacts":[{"key":4177065,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Nicolò","lastName":"Pellecchia","position":[],"email":["nicolopellecchia99@gmail.com"],"phone":["+393997368"],"homepage":[],"address":[],"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2023-01-05T11:38:51.467+00:00","modified":"2023-01-05T11:38:51.467+00:00"},{"key":4177066,"type":"POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Stefano","lastName":"Doglio","position":[],"email":["finrod_s@libero.it"],"phone":["+393202481618"],"homepage":[],"address":[],"createdBy":"gbif.express","modifiedBy":"gbif.express","created":"2023-01-05T11:38:51.467+00:00","modified":"2023-01-05T11:38:51.467+00:00"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[{"key":33270,"content":"\nIs
        associated with a GBIF-funded project: no\n\n\nExpects to publish:\n\n\n -
        ResourceMetaData\n - OccurrenceData\n\nExpected data content:\n\n> We plan
        to first publish the catalogues of the vertebrates, mollusks, arachnida and
        fossils collections.\n\n\nWill run a server which exposes data: no\n\n\nPlans
        to run publishing software (e.g. an IPT): no\n\n\nNeeds help for data publishing:
        yes\n","createdBy":"gbif.express","modifiedBy":"gbif.express[...]
