http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/dataset/search?q=Mammals&hl=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":1052,"results":[{"key":"5b7e2ecf-162e-4458-a92c-04d706ace8e9","title":"museums-mammals-biodiversity","doi":"10.15468/bh728m","description":"This
        is The Department of Museums and Monuments Mammals Biodiversity Records currentlty
        at Top Mandala Museum in Blantyre. It contains collections of various collectors
        who have been collecting in Malawi","type":"OCCURRENCE","hostingOrganizationKey":"b43aa701-bc51-40a4-9f6c-b37e41d0e660","hostingOrganizationTitle":"National
        Commission for Science and Technology (NCST)","hostingCountry":"MW","publishingCountry":"MW","publishingOrganizationKey":"680699a5-43a7-46d7-9ca4-90c41dc1d47a","publishingOrganizationTitle":"The
        Department of Museums and Monuments","endorsingNodeKey":"2a42e4d7-ad4a-41b3-84c4-de4aa7b74d35","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","decades":[1940,1950,1960,1970,1980,1990],"keywords":["The
        Department of Museums and Monuments","Mammals","Biodiversity","Occurrence","Specimen"],"projectIdentifier":"African
        Biodiversity Challenge 2018","recordCount":845,"nameUsagesCount":0},{"key":"24a25949-4531-428d-885d-ae402177440c","title":"UWIZM
        Mammals","doi":"10.15468/xk58rw","description":"This dataset contains records
        from the majority of the UWIZM mammal collections.","type":"OCCURRENCE","hostingOrganizationKey":"fbca90e3-8aed-48b1-84e3-369afbd000ce","hostingOrganizationTitle":"GBIF
        Secretariat","publishingCountry":"TT","publishingOrganizationKey":"954e32db-634d-4d5f-908c-3d14c961b097","publishingOrganizationTitle":"The
        University of the[...]
