http_interactions:
- request:
    method: get
    uri: https://registos-ws.gbif.pt/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"The basis of record e.g. Specimen, Observation http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Catalogue
        Number","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Catalogue
        Number","classs":"Occurrence"},{"name":"cl10012","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Prov[...]
- request:
    method: get
    uri: https://espacial.gbif.pt/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '[{"source_link":"","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"Províncias
        1936","displayname":"Províncias de 1936","id":10012,"grid":false,"path_orig":"layer/provincias_flora_iso8859_1","minlongitude":-9.49817,"maxlatitude":42.15273,"licence_link":"","mddatest":"","maxlongitude":-6.19071,"dt_added":1579279283431,"minlatitude":36.96101,"displaypath":"https://espacial.gbif.pt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:provincias_flora_iso8859_1&format=image/png&styles=","name":"provincias_flora_iso8859_1","metadatapath":"","type":"Contextual","notes":"","keywords":"","licence_notes":"","environmentalvaluemax":"","classification1":"Limites","environmentalvalueunits":"","enabled":true,"domain":"Terrestrial","description":"","licence_level":"1","source":"","citation_date":""},{"source_link":"http://www.marineregions.org/downloads.php#eez","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"Flanders
        Marine Institute","classification2":"Zona Económica Exclusiva","displayname":"Zona
        Económica Exclusiva","id":10014,"grid":false,"path_orig":"layer/zee_portugal","minlongitude":-35.58558,"maxlatitude":43.06483,"licence_link":"","mddatest":"","maxlongitude":-7.25694,"dt_added":1579284352569,"minlatitude":29.24785,"displaypath":"https://espacial.gbif.pt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:zee_portugal&format=image/png&styles=","name":"zee_portugal","metadatapath":"http://www.marineregions.org/sources.php#marbound","type":"Contextual","notes":"Preferred
        citation:\r\nFlanders Marine Institute (2019). Maritime Boundaries Geodatabase,
        version 11. Available online at http://www.marineregions.org/. https://doi.org/10.14284/382.","keywords":"","licence_notes":"CC
        BY","environmentalvaluemax":"","classification1":"Limites","environmentalvalueunits":"","enabled":true,"domain":"Marine","description":"Maritime
        Boundaries Geodatabase, version 11","licence_level":"1","source":"Flanders
        Marine Institute","citation_date":""},{"source_li[...]
