http_interactions:
- request:
    method: get
    uri: https://registos-ws.gbif.pt/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":14508011,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":725956,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":369245,"fq":"basis_of_record:\"MachineObservation\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":171503,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":114926,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":6998,"fq":"basis_of_record:\"LivingSpecimen\""},{"label":"Literature","i18nCode":"basis_of_record.Literature","count":119,"fq":"basis_of_record:\"Literature\""}],"count":7}]'
  recorded_at: 2023-01-11 06:09:27 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
