http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?verbose=FALSE&name=Mammalia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"usageKey":359,"scientificName":"Mammalia","canonicalName":"Mammalia","rank":"CLASS","status":"ACCEPTED","confidence":94,"matchType":"EXACT","kingdom":"Animalia","phylum":"Chordata","kingdomKey":1,"phylumKey":44,"classKey":359,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2023-01-11 06:09:26 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
