http_interactions:
- request:
    method: get
    uri: https://registos-ws.gbif.pt/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
[...]
- request:
    method: get
    uri: https://registos-ws.gbif.pt/occurrence/facets?fq=year%3A%5B2000%20TO%20%2A%5D&facets=basis_of_record&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":12330166,"fq":"basis_of_record:\"HumanObservation\""}],"count":6}]'
  recorded_at: 2022-10-18 09:05:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
