http_interactions:
- request:
    method: get
    uri: https://registros-ws.gbif.es/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":30270904,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":5391262,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":602729,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":473365,"fq":"basis_of_record:\"MachineObservation\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":254692,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":52926,"fq":"basis_of_record:\"LivingSpecimen\""}],"count":6}]'
  recorded_at: 2022-10-18 09:06:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
