http_interactions:
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: 'HTTP/2 500 '
      content-type: application/json;charset=UTF-8
      content-language: en-US
    body:
      encoding: UTF-8
      file: no
      string: '{"error":{"cause":{"stackTrace":[{"methodName":"executeMethod","fileName":"HttpSolrClient.java","lineNumber":612,"className":"org.apache.solr.client.solrj.impl.HttpSolrClient","nativeMethod":false},{"methodName":"request","fileName":"HttpSolrClient.java","lineNumber":279,"className":"org.apache.solr.client.solrj.impl.HttpSolrClient","nativeMethod":false},{"methodName":"request","fileName":"HttpSolrClient.java","lineNumber":268,"className":"org.apache.solr.client.solrj.impl.HttpSolrClient","nativeMethod":false},{"methodName":"doRequest","fileName":"LBHttpSolrClient.java","lineNumber":447,"className":"org.apache.solr.client.solrj.impl.LBHttpSolrClient","nativeMethod":false},{"methodNa[...]
