http_interactions:
- request:
    method: get
    uri: https://imagenes.gbif.es/ws/licence
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production:9101
    body:
      encoding: ''
      file: no
      string: '[{"id":15174040,"url":"https://creativecommons.org/licenses/by/2.5/au/","name":"Creative
        Commons Attribution (Australia)","imageUrl":"https://licensebuttons.net/l/by/2.5/88x31.png","acronym":"CC
        BY 2.5 AU"},{"id":15174041,"url":"https://creativecommons.org/licenses/by/3.0/","name":"Creative
        Commons Attribution (International)","imageUrl":"https://licensebuttons.net/l/by/3.0/88x31.png","acronym":"CC
        BY 3.0"},{"id":15174042,"url":"https://creativecommons.org/licenses/by/3.0/au/","name":"Creative
        Commons Attribution (Australia)","imageUrl":"https://licensebuttons.net/l/by/3.0/88x31.png","acronym":"CC
        BY 3.0 AU"},{"id":15174043,"url":"http://creat[...]
