http_interactions:
- request:
    method: get
    uri: https://name-matching.gbif.es/api/getByTaxonID?taxonID=359
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Mammalia","taxonConceptID":"359","rank":"class","rankID":3000,"lft":13093748,"rgt":13244882,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"1","phylum":"Chordata","phylumID":"44","classs":"Mammalia","classID":"359","vernacularName":"däggdjur","speciesGroup":["Animals","Mammals"],"issues":["noIssue"]}'
  recorded_at: 2023-01-06 06:21:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
