http_interactions:
- request:
    method: get
    uri: https://data-quality.gbif.es/api/v1/data-profiles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production:8080
    body:
      encoding: ''
      file: no
      string: '[{"id":641,"name":"Perfil General del Portal de Datos","shortName":"LA","displayOrder":8,"description":"El
        perfil predeterminado del Portal de Datos filtra los registros en función
        de los grupos de filtros que se describen a continuación. Este es un conjunto
        de datos moderadamente restringido.","contactName":"Soporte GBIF.ES","contactEmail":"support@gbif.es","categories":[{"id":642,"enabled":true,"name":"Excluir
        registros espacialmente sospechosos","label":"spatially-suspect","description":"Excluir
        registros identificados como sospechosos espacialmente","displayOrder":1,"qualityFilters":[{"id":643,"enabled":true,"description":"Excluir
        todos los registros en los que la validez espacial es \"falsa\"","filter":"-spatiallyValid:\"false\"","displayOrder":1}]},{"id":644,"enabled":true,"name":"Excluir
        registros en función de la calidad del nombre científico","label":"scientific-name","description":"Excluir
        registros con aserciones de calidad relacionadas con el nombre científico","displayOrder":2,"qualityFilters":[{"id":645,"enabled":true,"description":"Excluir
        todos los registros con aserciones que indican que el nombre científico proporcionado
        no coincide con ninguna de l[...]
[...]
- request:
    method: get
    uri: https://data-quality.gbif.es/api/v1/quality/activeProfile?profileName=LA
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production:8080
    body:
      encoding: ''
      file: no
      string: '[...]
