http_interactions:
- request:
    method: get
    uri: https://name-matching.gbif.es/api/searchByClassification?kingdom=Animalia&phylum=Chordata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Chordata","taxonConceptID":"44","rank":"phylum","rankID":2000,"lft":12828751,"rgt":13681133,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"1","phylum":"Chordata","phylumID":"44","vernacularName":"chordadieren","speciesGroup":["Animals"],"issues":["noIssue"]}'
  recorded_at: 2023-01-06 06:21:44 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
