http_interactions:
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":96655597,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":6186684,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":461024,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":74105,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"Living
        specimen","i18nCode":"basis_of_record.LivingSpecimen","count":34433,"fq":"basis_of_record:\"LivingSpecimen\""}],"count":5}]'
  recorded_at: 2022-10-13 00:51:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
