http_interactions:
- request:
    method: get
    uri: https://colecciones.gbif.es/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://colecciones.gbif.es/ws/collection
      last-modified: Thu, 06 Oct 2022 06:55:26 GMT
      etag: '"edfa6fbc52ae4101f01ffb698958a9bd"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"3er Inventario Forestal Nacional. Ministerio de Agricultura,
        Alimentación y Medio Ambiente (España/Spain) (IFN3)","uri":"https://colecciones.gbif.es/ws/collection/co131","uid":"co131"},{"name":"Anfibios
        Propios de la Fonoteca Zoológica, Museo Nacional de Ciencias Naturales","uri":"https://colecciones.gbif.es/ws/collection/co77","uid":"co77"},{"name":"Anthos.
        Sistema de Información de las Plantas de España","uri":"https://colecciones.gbif.es/ws/collection/co83","uid":"co83"},{"name":"Aranzadi
        Ringing Scheme (bird ring-recovery data)","uri":"https://colecciones.gbif.es/ws/collection/co184","uid":"co184"},{"name":"Aves
        Propias de la Fonote[...]
- request:
    method: get
    uri: https://colecciones.gbif.es/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://colecciones.gbif.es/ws/dataResource
      last-modified: Fri, 14 Oct 2022 08:22:49 GMT
      etag: '"0c47dfe491f5[...]
- request:
    method: get
    uri: https://colecciones.gbif.es/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://colecciones.gbif.es/ws/dataProvider
      last-modified: Thu, 21 Jul 2022 10:25:08 GMT
      etag: '"439ef83ae1bde5ed593b12e52acf5dbc"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AIMJB IPT","uri":"https://colecciones.gbif.es/ws/dataProvider/dp5","uid":"dp5"},{"name":"Basque
        Government","uri":"https://colecciones.gbif.es/ws/dataProvider/dp9","uid":"dp9"},{"name":"GBIF
        ES IPT","uri":"https://colecciones.gbif.es/ws/dataProvider/dp2","uid":"dp2"},{"name":"SANT
        IPT","uri":"https://colecciones.gbif.es/ws/dataProvider/dp4","uid":"dp4"}]'
  recorded_at: 2022-10-18 09:06:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://registros-ws.gbif.es/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://registros-ws.gbif.es/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"accepted_name_usage","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Accepted
        Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"accepted_name_usage","classs":"Taxon"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"accessrights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"downloadName":"accessrights"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"docvalue":false,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"nam[...]
- request:
    method: get
    uri: https://espacial.gbif.es/ws/layers/index
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: text/html;charset=UTF-8
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en-AU\">\n<head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\"/>\n    <meta name=\"app.version\" content=\"1.0.6\"/>\n
        \   <meta name=\"app.build\" content=\"{date=2022-05-13 04:17:58}\"/>\n    <meta
        name=\"description\" content=\"Portal de Datos de GBIF.ES\"/>\n    <meta name=\"author\"
        content=\"Portal de Datos de GBIF.ES\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n    <!-- Favicon -->\n    <link href=\"https://www.ala.org.au/app/uploads/2019/01/cropped-favicon-32x32.png\"
        rel=\"shortcut icon\"  type=\"image/x-icon\"/>\n\n    <title>Available Spatial
        Layers</title>\n    \n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/bootstrap.min.css\"
        rel=\"stylesheet\" media=\"screen,print\"/>\n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/bootstrap-theme.min.css\"
        rel=\"stylesheet\" media=\"screen,print\"/>\n    \n    \n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/ala-styles.css\"
        rel=\"stylesheet\"\n              media=\"screen,print\"/>\n    \n\n    \n\n
        \   \n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/autocomplete.min.css\"
        rel=\"stylesheet\" media=\"screen,print\"/>\n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/autocomplete-extra.min.css\"
        rel=\"stylesheet\" media=\"screen,print\"/>\n        <link href=\"https://datos.gbif.es/brand-2020-brunch/css/font-awesome.min.css\"
        rel=\"stylesheet\" media=\"screen,print\"/>\n    \n\n\n    <link rel=\"stylesheet\"
        href=\"/ws/assets/ala-admin-asset-b49e31ab5b68287070729cdb93ef8636.css\" />\n\n
        \   \n        <script type=\"text/javascript\"\n                src=\"https://datos.gbif.es/brand-2020-brunch/js/jquery.min.js\"></script>\n
        \       <script type=\"text/javascript\"\n                src=\"https://datos.gbif.es/brand-2020-brunch/js/jquery-migration.min.js\"></script>\n
        \       <script type=\"text/javascript\"\n                src=\"https://datos.gbif.es/brand-2020-brunch/js/autocomplete.min.js\"></script>\n
        \   \n\n    \n        <script type=\"text/javascript\" src=\"https://datos.gbif.es/brand-2020-brunch/js/application.js\"\n
        \               defer></script>\n    \n    \n        <script type=\"text/javascript\"\n
        \               src=\"https://datos.gbif.es/brand-2020-brunch/js/bootstrap.min.js\"></script>\n
        \   \n    \n    \n    <meta name=\"breadcrumbs\" content=\"/ws/, Spatial Service\"/>\n
        \   <meta name=\"layout\" content=\"ala-main\"/>\n    <script src=\"/ws/static/js/jquery.js\"></script>\n
        \   <script src=\"/ws/static/js/jquery.dataTables.min.js\"></script>\n    <link
        rel=\"stylesheet\" href=\"/ws/static/css/jquery.dataTables.min.css\" type=\"text/css\">\n
        \   <link rel=\"stylesheet\" href=\"/ws/static/css/fluid.css\" type=\"text/css\">\n
        \   <style>\n    #layersTable { font-size: 11px; }\n    </style>\n\n    <link
        rel=\"icon\" href=\"https://datos.gbif.es/brand-2020-brunch//images/favicon-gbif.png\"
        sizes=\"32x32\" />\n<link rel=\"icon\" href=\"https://datos.gbif.es/brand-2020-brunch//images/favicon-gbif.png\"
        sizes=\"192x192\" />\n<link rel=\"apple-touch-icon-precomposed\" href=\"https://datos.gbif.es/brand-2020-brunch//images/favicon-gbif.png\"
        />\n\n<meta name=\"msapplication-TileImage\" content=\"https://datos.gbif.es/brand-2020-brunch//images/favicon-gbif.png\"
        />\n<!-- Google Analytics -->\n<script>\n  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new
        Date;\n  ga('create', 'UA-56381349-1', 'auto');\n  ga('send', 'pageview');\n</script>\n<script
        async src='https://www.google-analytics.com/analytics.js'></script>\n<!--
        End Google Analytics -->\n\n\n</head>\n<body class=\"fluid\" id=\"\" onload=\"\">\n\n<!--
        Header -->\n<link rel=\"stylesheet\" href=\"https://datos.gbif.es/brand-2020-brunch//css/app.css?ae83a84\">\n<script
        src=\"https://datos.gbif.es/brand-2020-brunch//js/vendor.js?ae83a84\"></script>\n<script
        src=\"https://datos.gbif.es/brand-2020-brunch//js/app.js?ae83a84\"></script>\n\n<script>require('js/init');</script>\n\n<script
        type=\"text/html\" id=\"autoCompleteTemplate\">\n  <li class=\"autocomplete-item
        striped\">\n    <div class=\"content-spacing\">\n      <div class=\"autocomplete-heading\">\n
        \       <% if (commonNameMatches.length > 0) { %>\n        <%=commonNameMatches[0]%>\n
        \       <% } else if (scientificNameMatches.length > 0) { %>\n        <%=scientificNameMatches[0]%>\n
        \       <% } else { %>\n        <%=matchedNames[0]%>\n        <% } %>\n      </div>\n
        \   </div>\n  </li>\n</script>\n<header id=\"masthead\" class=\"site-header\">\n
        \ <div id=\"topheader\" class=\"container\">\n    <div id=\"navbarOuterWrapper\"
        class=\"outer-nav-wrapper collapse navbar-collapse\">\n      <div class=\"top-bar
        hidden-xs hidden-sm\">\n        <div class=\"account signedOut\">\n          <a
        href=\"https://auth.gbif.es/userdetails/registration/createAccount\" id=\"auth_bar_signup\"\n
        \            class=\"btn btn-outline-white btn-sm signUpBtn\" role=\"button\"></a>\n
        \         <a href=\"https://auth.gbif.es/userdetails/myprofile/\" id=\"auth_bar_myprofile\"\n
        \            class=\"btn btn-outline-white btn-sm myProfileBtn\" role=\"button\"></a>\n
        \         <a href=\"https://auth.gbif.es/cas/login\" class=\"btn btn-outline-white
        btn-sm loginBtn\" id=\"auth_bar_login\"></a>\n          <a href=\"https://auth.gbif.es/cas/logout\"
        class=\"btn btn-outline-white btn-sm logoutBtn\" role=\"button\" id=\"auth_bar_logout\"></a>\n
        \         <button id=\"top-search-icon-button-big\" class=\"top-search-icon
        search-icon search-trigger hidden-xs hidden-sm collapsed collapse-trigger-button\"\n
        \                 data-toggle=\"collapse\"\n                  data-target=\"#autocompleteSearchALA\"
        onclick=\"focusOnClickSearchButton()\">\n            <i class=\"fa fas fa-search\"></i>\n
        \           <span class=\"collapse visible-on-show\" aria-hidden=\"true\"
        title=\"Close\">&times;</span>\n          </button>\n        </div>\n      </div>\n
        \   </div>\n    <div id=\"navbarSmallOuterWrapper\" class=\"display-flex signedOut\">\n
        \     <a href=\"https://auth.gbif.es/cas/login\" role=\"button\" class=\"account-mobile
        hidden-md hidden-lg loginBtn mobile-login-btn\"\n         title=\"Login button\">\n
        \       <i class=\"fa fas fa-sign-in\"></i>\n      </a>\n   [...]
- request:
    method: get
    uri: https://logger.gbif.es/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"Gestión de bioseguridad","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"Ciencia
        ciudadana","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"Gestión
        de colecciones","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"Investigación
        en ecología","id":7,"deprecated":false},{"rkey":"logger.download.reason.education","name":"Educación","id":3,"deprecated":false},{"rkey":"logger.download.reason.environmental","name":"Evaluación
        ambiental","id":2,"deprecated":false},{"rkey":"logger.download.reason.restoration.remediation","name":"Restauración/remediación","id":12,"deprecated":false},{"rkey":"logger.download.reason.research","name":"Investigación
        científica","id":4,"deprecated":false},{"rkey":"logger.download.reason.systematic.research","name":"Investigación
        sistemática/taxonomía","id":8,"deprecated":false},{"rkey":"logger.download.reason.other","name":"Otros","id":6,"deprecated":false},{"rkey":"logger.download.reason.testing","name":"testing","id":10,"deprecated":false},{"rkey":"logger.download.reason.other.scientific.research","name":"Otro
        tipo de investigación científica","id":9,"deprecated":true}]'
  recorded_at: 2022-10-18 09:06:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
