http_interactions:
- request:
    method: get
    uri: https://species.biodiversitydata.se/ws/search?q=Mammalia&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":1,"facetResults":[],"results":[{"id":"f2de9d97-118b-4182-a7ea-1b5168b2a249","guid":"359","linkIdentifier":null,"idxtype":"TAXON","name":"Mammalia","kingdom":null,"nomenclaturalCode":null,"scientificName":"Mammalia","scientificNameAuthorship":null,"author":null,"nameComplete":"Mammalia","nameFormatted":"<span
        class=\"scientific-name rank-class\"><span class=\"name\">Mammalia<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"44","rank":"class","rankID":3000,"commonName":"","commonNameSingle":"","occurrenceCount":null,"conservationStatus":null,"favourite":null,"infoSourceName":"GBIF
        Backbone Taxonomy","infoSourceURL":"https://collections.biodiversitydata.se/public/show/7ddf754f-d193-4cc9-b351-99906754a03b","class":"Mammalia","classGuid":"359"}],"queryTitle":"Mammalia"}}'
  recorded_at: 2022-10-18 10:06:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
