http_interactions:
- request:
    method: get
    uri: https://listas.gbif.es/ws/speciesList?offset=0&max=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"listCount":6,"sort":"listName","order":"asc","max":10,"offset":"0","lists":[{"dataResourceUid":"dr892","listName":"Catálogo
        Español de Especies Exóticas Invasoras","listType":"SPECIES_CHARACTERS","dateCreated":"2021-12-27T23:00:00Z","lastUpdated":"2021-12-28T08:50:42Z","username":"vjrj@gbif.es","fullName":null,"itemCount":195,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":true,"isThreatened":false},{"dataResourceUid":"dr886","listName":"Especies
        en Peligro de Extinción del Listado de Especies Silvestres en Régimen de Protección
        Especial y Catálogo Español de Especies Amenazadas","listType":"CONSERVATION_LIST","dateCreated":"2021-12-26T23:00:00Z","lastUpdated":"2022-03-29T08:26:10Z","username":"vjrj@gbif.es","fullName":null,"itemCount":201,"region":"ESP","category":"EN","generalisation":"10km","authority":"Comité
        de Flora y Fauna Silvestres","sdsType":"CONSERV[...]
