http_interactions:
- request:
    method: get
    uri: https://collections.biodiversitydata.se/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collections.biodiversitydata.se/ws/dataResource
      last-modified: Tue, 20 Sep 2022 08:27:26 GMT
      etag: '"9b7e8590700bdb7b6feb5c2787ab0de9"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"16S data from: Diversity of Pico- to Mesoplankton along the
        2000 km Salinity Gradient of the Baltic Sea (Hu et al. 2016)","uri":"https://collections.biodiversitydata.se/ws/dataResource/dr632","uid":"dr632"},{"name":"18S
        data from: Diversity of Pico- to Mesoplankton along the 2000 km Salinity Gradient
        of the Baltic Sea (Hu et al. 2016)","uri":"https://collections.biodiversitydata.se/ws/dataResource/dr655","uid":"dr655"},{"name":"Ájtte
        Collection - Version 1.3","uri":"https://collections.biodiversitydata.se/ws/dataResource/dr42","uid":"dr42"},{"name":"Algae
        (S) - Version 4.1","uri":"https://collections.biodiversitydata.se/ws/dataResource/dr41","uid":"dr41"},{"[...]
- request:
    method: get
    uri: https://collections.biodiversitydata.se/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      content-location: https://collections.biodiversitydata.se/ws/dataProvider
      last-modified: Thu, 17 Jun 2021 15:09:22 GMT
      etag: '"e7f5cf1bf8c0c49a9395e12224bf42a4"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"IPT GBIF Sweden","uri":"https://collections.biodiversitydata.se/ws/dataProvider/dp0","uid":"dp0"}]'
  recorded_at: 2022-11-30 00:19:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"What this is a record of e.g. specimen, human observation, fossil
        http://rs.tdwg.org/dwc/terms/basisOfRecord","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/basis_of_record","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"behavior","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Behavior","info":"http://rs.tdwg.org/dwc/terms/behavior","dwcTerm":"behavior","downloadName":"behavior","classs":"Occurrence"},{"name":"bibliographic_citation","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"Bibliographic
        citation for this record","dwcTerm":"dcterms:bibliographicCit[...]
- request:
    method: get
    uri: https://sds.biodiversitydata.se/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '["cl10038"]'
  recorded_at: 2022-11-30 00:19:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://logger.biodiversitydata.se/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"collection
        management","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"ecological
        research","id":7,"deprecated":false},{"rkey":"logger.download.reason.education","name":"education","id":3,"deprecated":false},{"rkey":"logger.download.reason.environmental","name":"environmental
        assessment","id":2,"deprecated":false},{"rkey":"logger.download.reason.restoration.remediation","name":"restoration/remediation","id":12,"deprecated":false},{"rkey":"logger.download.reason.research","name":"scientific
        research","id":4,"deprecated":false},{"rkey":"logger.download.reason.systematic.research","name":"systematic
        research/taxonomy","id":8,"deprecated":false},{"rkey":"logger.download.reason.other","name":"other","id":6,"deprecated":false},{"rkey":"logger.download.reason.testing","name":"testing","id":10,"deprecated":false},{"rkey":"logger.download.reason.other.scientific.research","name":"other
        scientific research","id":9,"deprecated":true}]'
  recorded_at: 2022-11-30 00:19:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
