http_interactions:
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"What this is a record of e.g. specimen, human observation, fossil
        http://rs.tdwg.org/dwc/terms/basisOfRecord","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/basis_of_record","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"behavior","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Behavior","info":"http://rs.tdwg.org/dwc/terms/behavior","dwcTerm":"behavior","downloadName":"behavior","classs":"Occurrence"},{"name":"bibliographic_citation","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"Bibliographic
        citation for this record","dwcTerm":"dcterms:bibliographicCit[...]
- request:
    method: get
    uri: https://sds.biodiversitydata.se/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: ''
      file: no
      string: '["cl10038"]'
  recorded_at: 2023-03-10 01:52:22 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
