http_interactions:
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Vulpes%20vulpes&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":5,"facetResults":[],"results":[{"id":"c7e3e236-5c5b-46d2-92e6-71a916435001","guid":"NBNSYS0000005125","linkIdentifier":null,"idxtype":"TAXON","name":"Vulpes
        vulpes","kingdom":null,"nomenclaturalCode":null,"scientificName":"Vulpes vulpes","scientificNameAuthorship":"Linnaeus,
        1758","author":"Linnaeus, 1758","nameComplete":"Vulpes vulpes Linnaeus, 1758","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Vulpes vulpes<\u002fspan>
        <span class=\"author\">Linnaeus, 1758<\u002fspan><\u002fspan>","taxonomicStatus":"synonym","nomenclaturalStatus":null,"parentGuid":null,"rank":"species","rankID":7000,"commonName":"","commonNameSingle":"","occurrenceCount":0,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","acceptedConceptID":"NHMSYS0000080188","acceptedConceptName":"Vulpes
        vulpes (Linnaeus, 1758)","taxonGroup_s":null,"establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":null,"habitat_m_s":null,"speciesGroup":null,"synonymComplete":null,"species":"Vulpes
        vulpes","speciesGuid":"NBNSYS0000005125","highlight":"<b>Vulpes<\u002fb> <b>vulpes<\u002fb><br><b>Vulpes
        vulpes<\u002fb><br><b>Vulpes<\u002fb> <b>vulpes<\u002fb> Linnaeus, 1758"},{"id":"d89936ec-d8d2-47f8-bf0f-07e01cda1a2a","guid":"NHMSYS0000080188","linkIdentifier":null,"idxtype":"TAXON","name":"Vulpes
        vulpes","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Vulpes
        vulpes","scientificNameAuthorship":"(Linnaeus, 1758)","author":"(Linnaeus,
        1758)","nameComplete":"Vulpes vulpes (Linnaeus, 1758)","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Vulpes vulpes<\u002fspan>
        <span class=\"author\">(Linnaeus, 1758)<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"NBNSYS0000138878","rank":"species","rankID":7000,"commonName":"Cadno,
        Cadnoaid, Fox, gille-màrtainn, gillean-màrtainn, madadh ruadh, madaidh-ruadha,
        Red Fox, sionnach, sionnaich, uilp, uilpean","commonNameSingle":"Red Fox","occurrenceCount":155584,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"terrestrial
        mammal","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":"terrestrial","habitat_m_s":["terrestrial"],"speciesGroup":["Mammals"],"synonymComplete":["Vulpes
        vulpes Linnaeus, 1758"],"superclass":"Tetrapoda","kingdomGuid":"NBNSYS0100001342","orderGuid":"NHMSYS0000376165","order":"Carnivora","class":"Mammalia","genus":"Vulpes","phylum":"Chordata","genusGuid":"NBNSYS0000138878","family":"Canidae","classGuid":"NHMSYS0000376154","familyGuid":"NHMSYS0000376166","superclassGuid":"NHMSYS0021053521","phylumGuid":"NBNSYS0100002380","species":"Vulpes
        vulpes","speciesGuid":"NHMSYS0000080188","highlight":"<b>Vulpes<\u002fb> <b>vulpes<\u002fb><br><b>Vulpes<\u002fb>
        <b>vulpes<\u002fb> Linnaeus, 1758<br><b>Vulpes<\u002fb> <b>vulpes<\u002fb>
        (Linnaeus, 1758)<br><b>Vulpes vulpes<\u002fb><br><b>Vulpes<\u002fb>"},{"id":"afac5916-c672-486c-be34-0b9b32f28409","guid":"NHMSYS0021290444","linkIdentifier":"Caparinia
        vulpis","idxtype":"TAXON","name":"Caparinia vulpis","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Caparinia
        vulpis","scientificNameAuthorship":"(Mégnin, 1880)","author":"(Mégnin, 1880)","nameComplete":"Caparinia
        vulpis (Mégnin, 1880)","nameFormatted":"<span class=\"scientific-name rank-species\"><span
        class=\"name\">Caparinia vulpis<\u002fspan> <span class=\"author\">(M&eacute;gnin,
        1880)<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"NHMSYS0021287609","rank":"species","rankID":7000,"commonName":"","commonNameSingle":"","occurrenceCount":0,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"acarine
        (Acari)","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":"terrestrial","habitat_m_s":["terrestrial"],"speciesGroup":null,"synonymComplete":null,"suborder":"Oribatida","genus":"Caparinia","subclass":"Acari","supercohortGuid":"NHMSYS0021284259","subphylum":"Chelicerata","genusGuid":"NHMSYS0021287609","classGuid":"NHMSYS0021049469","superorder":"Acariformes","superfamilyGuid":"NHMSYS0021284554","superorderGuid":"NHMSYS0021036320","supercohort":"Desmonomatides","kingdomGuid":"NBNSYS0100001342","orderGuid":"NHMSYS0021049471","order":"Sarcoptiformes","subphylumGuid":"NHMSYS0000842068","class":"Arachnida","phylum":"Arthropoda","suborderGuid":"NHMSYS0021036322","family":"Psoroptidae","familyGuid":"NHMSYS0021158010","cohortGuid":"NHMSYS0021284329","phylumGuid":"NHMSYS0020470198","subclassGuid":"NHMSYS0021049470","cohort":"Astigmatina","superfamily":"Sarcoptoidea","species":"Caparinia
        vulpis","speciesGuid":"NHMSYS0021290444","highlight":"Caparinia <b>vulpis<\u002fb><br>Caparinia
        <b>vulpis<\u002fb> (Mégnin, 1880)"},{"id":"5aa7c4e2-14de-4995-8aef-400dd65a49ac","guid":"NBNSYS0000138878","linkIdentifier":"Vulpes","idxtype":"TAXON","name":"Vulpes","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Vulpes","scientificNameAuthorship":"Frisch,
        1775","author":"Frisch, 1775","nameComplete":"Vulpes Frisch, 1775","n[...]
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Meles%20meles&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchR[...]
