http_interactions:
- request:
    method: get
    uri: https://logger.nbnatlas.org/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":true},{"rkey":"logger.download.reason.public","name":"public|Download
        is for personal use only","id":15,"deprecated":false},{"rkey":"logger.download.reason.volunteer.research","name":"volunteer
        researcher/publisher|Download may lead to amateur (non-funded) publication,
        which could include National or Local scheme collators and verifiers","id":16,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":true}[...]
