http_interactions:
- request:
    method: get
    uri: https://lists.nbnatlas.org/ws/speciesListItems/dr556
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":10067,"name":"Abdera biflexuosa","commonName":null,"scientificName":"Abdera
        biflexuosa","lsid":"NBNSYS0000024889","dataResourceUid":"dr556"},{"id":10111,"name":"Abdera
        flexuosa","commonName":null,"scientificName":"Abdera flexuosa","lsid":"NBNSYS0000024890","dataResourceUid":"dr556"},{"id":10081,"name":"Abdera
        quadrifasciata","commonName":null,"scientificName":"Abdera quadrifasciata","lsid":"NBNSYS0000024891","dataResourceUid":"dr556"},{"id":10094,"name":"Aderus
        populneus","commonName":null,"scientificName":"Aderus populneus","lsid":"NBNSYS0000024970","dataResourceUid":"dr556"},{"id":10073,"name":"Anas[...]
