http_interactions:
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"NHMSYS0000530674","i18nCode":"species_guid.NHMSYS0000530674","count":4749017,"fq":"species_guid:\"NHMSYS0000530674\""}],"count":50089}]'
  recorded_at: 2022-10-19 04:05:35 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
