http_interactions:
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/occurrence/facets?facets=basis_of_record&flimit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"basis_of_record","fieldResult":[{"label":"Human observation","i18nCode":"basis_of_record.HumanObservation","count":203598466,"fq":"basis_of_record:\"HumanObservation\""},{"label":"Preserved
        specimen","i18nCode":"basis_of_record.PreservedSpecimen","count":1378821,"fq":"basis_of_record:\"PreservedSpecimen\""},{"label":"Machine
        observation","i18nCode":"basis_of_record.MachineObservation","count":301054,"fq":"basis_of_record:\"MachineObservation\""},{"label":"MaterialSample","i18nCode":"basis_of_record.MaterialSample","count":290102,"fq":"basis_of_record:\"MaterialSample\""},{"label":"Fossil
        specimen","i18nCode":"basis_of_record.FossilSpecimen","count":2453,"fq":"basis_of_record:\"FossilSpecimen\""},{"label":"Image","i18nCode":"basis_of_record.Image","count":40,"fq":"basis_of_record:\"Image\""}],"count":6}]'
  recorded_at: 2022-10-19 04:05:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
