http_interactions:
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/occurrence/facets?fq=&flimit=1&facets=species_guid
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"fieldName":"species_guid","fieldResult":[{"label":"NHMSYS0000530674","i18nCode":"species_guid.NHMSYS0000530674","count":4753012,"fq":"species_guid:\"NHMSYS0000530674\""}],"count":50155}]'
  recorded_at: 2023-01-11 06:14:20 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
