http_interactions:
- request:
    method: get
    uri: https://registry.nbnatlas.org/ws/collection
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-location: https://registry.nbnatlas.org/ws/collection
      last-modified: Sun, 14 Feb 2021 12:34:43 GMT
      etag: '"c8197594a246370c28ce3c88f551829b"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"enter name","uri":"https://registry.nbnatlas.org/ws/collection/co4","uid":"co4","groupClassification":"","networkMembership":null,"dateCreated":"2019-07-03T10:05:32Z","lastUpdated":"2019-07-03T10:05:32Z"},{"name":"enter
        name","uri":"https://registry.nbnatlas.org/ws/collection/co5","uid":"co5","groupClassification":"","networkMembership":null,"dateCreated":"2021-02-14T12:34:43Z","lastUpdated":"2021-02-14T12:34:43Z"}]'
  recorded_at: 2022-10-19 04:24:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://registry.nbnatlas.org/ws/dataResource
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-location: https://registry.nbnatlas.org/ws/dataResource
      last-modified: Thu, 13 Oct 2022 08:10:35 GMT
      etag: '"8940892e524577c57fc89a5d523bed27"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"1","uri":"https://registry.nbnatlas.org/ws/dataResource/dr2459","uid":"dr2459","groupClassification":"","networkMembership":null,"dateCreated":"2021-01-11T18:34:52Z","lastUpdated":"2021-01-11T18:34:52Z","dataCurrency":"","lastChecked":"","resourceType":"species-list","status":"identified"},{"name":"1","uri":"https://registry.nbnatlas.org/ws/dataResource/dr2460","uid":"dr2460","groupClassification":"","networkMembership":null,"dateCreated":"2021-01-11T21:10:15Z","lastUpdated":"2021-01-11T21:10:15Z","dataCurrency":"","lastChecked":"","resourceType":"species-list","status":"identified"},{"name":"1743-2010
        National Marine Aquarium (NMA) United Kingdom Marine Fish Recording Scheme
        - Version 3.0","uri":"https://registry.nbnatlas.org/[...]
- request:
    method: get
    uri: https://registry.nbnatlas.org/ws/dataProvider
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-location: https://registry.nbnatlas.org/ws/dataProvider
      last-modified: Tue, 27 Sep 2022 10:44:27 GMT
      etag: '"14093ae269fa03fd7802d1bf4aefb580"'
      content-type: appl[...]
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://logger.nbnatlas.org/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"biosecurity management/planning","id":1,"deprecated":true},{"rkey":"logger.download.reason.public","name":"public|Download
        is for personal use only","id":15,"deprecated":false},{"rkey":"logger.download.reason.volunteer.research","name":"volunteer
        researcher/publisher|Download may lead to amateur (non-funded) publication,
        which could include National or Local scheme collators and verifiers","id":16,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"citizen
        science","id":11,"deprecated":true}[...]
- request:
    method: get
    uri: https://lists.nbnatlas.org/ws/speciesList?max=1000&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"listCount":440,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"dr572","listName":"
        Protection of Badgers Act (1992)","listType":"CONSERVATION_LIST","dateCreated":"2017-01-18T10:28:43Z","lastUpdated":"2017-01-18T10:28:43Z","username":"r.stroud@nbn.org.uk","fullName":null,"itemCount":1,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr556","listName":"A
        review of the beetles of Great Britain- The Darkling Beetles and their allies","listType":"CONSERVATION_LIST","dateCreated":"2017-01-17T18:20:33Z","lastUpdated":"2017-01-18T10:11:12Z","username":"r.stroud@nbn.org.uk","fullName":null,"itemCount":51,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr555","listName":"A
       [...]
[...]
