http_interactions:
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"acceptedNameUsage","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":"The
        full name, with authorship and date information if known, of the currently
        valid (zoological) or accepted (botanical) taxon.","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","classs":"Taxon"},{"name":"acceptedNameUsageID","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":"An
        identifier for the name usage (documented meaning of the name according to
        a source) of the currently valid (zoological) or accepted (botanical) taxon.","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","classs":"Taxon"},{"name":"accessRights","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"accessRights","classs":"Record"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"downloadName":"images_p"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"description":"Assertions
        by user","info":"Atlas user ID of the person who has made an assertion about
        this record"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating a data quality test has been passed by this record"},{"name":"associatedMedia","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":[...]
