http_interactions:
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Vlpes&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"searchResults":{"totalRecords":0,"facetResults":[],"results":[],"queryTitle":"Vlpes"}}'
  recorded_at: 2023-01-09 22:47:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
