http_interactions:
- request:
    method: get
    uri: https://lists.nbnatlas.org/ws/speciesList?offset=0&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"listCount":446,"sort":"listName","order":"asc","max":1000,"offset":"0","lists":[{"dataResourceUid":"dr572","listName":"
        Protection of Badgers Act (1992)","listType":"CONSERVATION_LIST","dateCreated":"2017-01-18T10:28:43Z","lastUpdated":"2017-01-18T10:28:43Z","username":"r.stroud@nbn.org.uk","fullName":null,"itemCount":1,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr556","listName":"A
        review of the beetles of Great Britain- The Darkling Beetles and their allies","listType":"CONSERVATION_LIST","dateCreated":"2017-01-17T18:20:33Z","lastUpdated":"2017-01-18T10:11:12Z","username":"r.stroud@nbn.org.uk","fullName":null,"itemCount":51,"region":null,"category":null,"generalisation":null,"authority":null,"sdsType":null,"isAuthoritative":true,"isInvasive":false,"isThreatened":false},{"dataResourceUid":"dr555","listName":"A
       [...]
- request:
    method: get
    uri: https://lists.nbnatlas.org/ws/speciesList?offset=1000&max=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"listCount":446,"sort":"listName","order":"asc","max":1000,"offset":"1000","lists":[]}'
  recorded_at: 2023-01-11 06:14:03 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
[...]
