http_interactions:
- request:
    method: get
    uri: https://registry.nbnatlas.org/ws/collection?offset=0&max=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-location: https://registry.nbnatlas.org/ws/collection
      last-modified: Sun, 14 Feb 2021 12:34:43 GMT
      etag: '"c8197594a246370c28ce3c88f551829b"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"name":"enter name","uri":"https://registry.nbnatlas.org/ws/collection/co4","uid":"co4","groupClassification":"","networkMembership":null,"dateCreated":"2019-07-03T10:05:32Z","lastUpdated":"2019-07-03T10:05:32Z"},{"name":"enter
        name","uri":"https://registry.nbnatlas.org/ws/collection/co5","uid":"co5","groupClassification":"","networkMembership":null,"dateCreated":"2021-02-14T12:34:43Z","lastUpdated":"2021-02-14T12:34:43Z"}]'
  recorded_at: 2023-01-11 06:13:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
