http_interactions:
- request:
    method: get
    uri: https://registry.nbnatlas.org/ws/dataProvider?offset=0&max=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-location: https://registry.nbnatlas.org/ws/dataProvider
      last-modified: Thu, 05 Jan 2023 09:44:22 GMT
      etag: '"2ac10c6f37358fcbd9816bb78575791a"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '[{"name":"Aggregate Industries","uri":"https://registry.nbnatlas.org/ws/dataProvider/dp132","uid":"dp132","groupClassification":"Commercial
        company/environmental consultancy","networkMembership":"","dateCreated":"2017-03-13T10:55:30Z","lastUpdated":"2022-09-27T09:59:26Z"},{"name":"Alderney
        Biodiversity Centre","uri":"https://registry.nbnatlas.org/ws/dataProvider/dp268","uid":"dp268","groupClassification":"Local
        Environmental Records Centre","networkMembership":"","dateCreated":"2022-05-13T15:31:20Z","lastUpdated":"2022-05-13T15:38:00Z"},{"name":"Amphibian
        and Reptile Conservation","uri":"https://registry.nbnatlas.org/ws/dataProvider/dp58","uid":"dp58","groupClassification":"Environmental/conservation
        NGO","n[...]
