http_interactions:
- request:
    method: get
    uri: https://registros-ws.gbif.es/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":37342184,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2022-01-20 01:43:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://registros-ws.gbif.es/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"accepted_name_usage","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Accepted
        Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"accepted_name_usage","classs":"Taxon"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"accessrights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"downloadName":"accessrights"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"docvalue":false,"description":"Assertions
        by user","info":"Atlas user ID of the person who has made an assertion about
        this record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"nam[...]
- request:
    method: get
    uri: https://espacial.gbif.es/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_link":"","datalang":"eng","environmentalvaluemin":"0.0","shape":false,"respparty_role":"","classification2":"Clima","displayname":"WorldClim
        10m Precipitation Seasonality","id":10052,"grid":true,"path_orig":"layer/wc2_0_bio_10m_15","minlongitude":-180.0,"maxlatitude":90.0,"licence_link":"http://worldclim.org/version2","mddatest":"2016-06-01","maxlongitude":180.0,"dt_added":1578527459955,"minlatitude":-90.0,"displaypath":"https://espacial.gbif.es/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:wc2_0_bio_10m_15&format=image/png&styles=","name":"wc2_0_bio_10m_15","metadatapath":"","type":"Environmental","notes":"","keywords":"","licence_notes":"Fick,
        S.E. and R.J. Hijmans, 2017. Worldclim 2: New 1-km spatial resolution climate
        surfaces for global land areas. International Journal of Climatology.","environmentalvaluemax":"229.00169372558594","classification1":"Mundo","environmentalvalueunits":"","enabled":true,"domain":"Terrestrial","description":"Precipitation
        Seasonality (Coefficient of Variation)","licence_level":"1","source":"","citation_date":"2020-01-09"},{"source_link":"","datalang":"eng","environmentalvaluemin":"-35.97420883178711","shape":false,"respparty_role":"","classification2":"Clima","displayname":"WorldClim
        10m Mean Temperature of Warmest Quarter","id":10047,"grid":true,"path_orig":"layer/wc2_0_bio_10m_10","minlongitude":-180.0,"maxlatitude":90.0,"licence_link":"http://worldclim.org/version2","mddatest":"2016-06-01","maxlongitude":180.0,"dt_added":1578526991556,"minlatitude":-90.0,"displaypath":"https://espacial.gb[...]
- request:
    method: get
    uri: https://registros-ws.gbif.es/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
- request:
    method: get
    uri: https://logger.gbif.es/service/logger/reasons
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"rkey":"logger.download.reason.biosecurity","name":"Gestión de bioseguridad","id":1,"deprecated":false},{"rkey":"logger.download.reason.citizen.science","name":"Ciencia
        ciudadana","id":11,"deprecated":false},{"rkey":"logger.download.reason.collection.mgmt","name":"Gestión
        de colecciones","id":5,"deprecated":false},{"rkey":"logger.download.reason.conservation","name":"conservation
        management/planning","id":0,"deprecated":false},{"rkey":"logger.download.reason.ecological.research","name":"Investigación
        en ecología","id":7,"deprecated":false},{"rkey":"logger.download.reason.education","name":"Educación","id":3,"deprecated":false},{"rkey":"logger.download.reason.environmental","name":"Evaluación
        ambiental","id":2,"deprecated":false},{"rkey":"logger.download.reason.restoration.remediation","name":"Restauración/remediación","id":12,"deprecated":false},{"rkey":"logger.download.reason.research","name":"Investigación
        científica","id":4,"deprecated":false},{"rkey":"logger.download.reason.systematic.research","name":"Investigación
        sistemática/taxonomía","id":8,"deprecated":false},{"rkey":"logger.download.reason.other","name":"Otros","id":6,"deprecated":false},{"rkey":"logger.download.reason.testing","name":"testing","id":10,"deprecated":false},{"rkey":"logger.download.reason.other.scientific.research","name":"Otro
        tipo de investigación científica","id":9,"deprecated":true}]'
  recorded_at: 2022-01-20 01:43:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
