http_interactions:
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws//occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":3027601,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{}}'
  recorded_at: 2022-01-19 08:26:33 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws//index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"docvalue":false,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"The basis of record e.g. Specimen, Observation http://rs.tdwg.org/dwc/terms/basisOfRecord","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"catalogue_number","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Catalogue
        Number","info":"http://rs.tdwg.org/dwc/terms/catalogNumber","jsonName":"raw_catalogNumber","dwcTerm":"catalogNumber","downloadName":"catalogue_number","downloadDescription":"Catalogue
        Number","classs":"Occurrence"},{"name":"cl10011","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"https://geo[...]
- request:
    method: get
    uri: https://geoespacial.snib.conap.gob.gt/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_link":"","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"","displayname":"Regiones
        Cinergeticas","id":10003,"grid":false,"path_orig":"layer/regionescinergeticas","minlongitude":312456.38131,"maxlatitude":1970836.66533,"licence_link":"","mddatest":"","maxlongitude":744216.56669,"dt_added":1592866195498,"minlatitude":1519247.63042,"displaypath":"https://geoespacial.snib.conap.gob.gt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:regionescinergeticas&format=image/png&styles=","name":"regionescinergeticas","metadatapath":"","type":"Contextual","notes":"","keywords":"","licence_notes":"","environmentalvaluemax":"","classification1":"","environmentalvalueunits":"","enabled":true,"domain":"Terrestrial","description":"","licence_level":"1","source":"","citation_date":""},{"source_link":"","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"Gobierno","displayname":"Regiones
        INAB","id":10008,"grid":false,"path_orig":"layer/regionesinabdiss2","minlongitude":581852.43743,"maxlatitude":1974107.25004,"licence_link":"","mddatest":"","maxlongitude":1012466.99995,"dt_added":1592937814213,"minlatitude":1520777.25,"displaypath":"https://geoespacial.snib.conap.gob.gt/geoserver/gwc/service/wms?service=WMS&version=1.1.0&req[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws//assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
[...]
- request:
    method: get
    uri: https://snib.conap.gob.gt/registros-ws//occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2019","i18nCode":"year.2019","count":607377,"fq":"year:\"2019\""},{"label":"2020","i18nCode":"year.2020","count":495073,"fq":"year:\"2020\""},{"label":"2018","i18nCode":"year.2018","count":444759,"fq":"year:\"2018\""},{"label":"2017","i18nCode":"year.2017","count":322208,"fq":"year:\"2017\""},{"label":"2016","i18nCode":"year.2016","count":224203,"fq":"year:\"2016\""},{"label":"2015","i18nCode":"year.2015","count":125390,"fq":"year:\"2015\""},{"label":"2014","i18nCode":"year.2014","count":67053,"fq":"year:\"2014\""},{"label":"2009","i18nCode":"[...]
