http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2059,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionCode","collectionID"]},{"name":"AMBIGUOUS_INSTITUTION","code":2058,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionID","ownerInstitutionCode","institutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2045,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D&disableAllQualityFilters=true&facets=year&facets=basisOfRecord&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":7155246,"fq":"year:\"2021\""}],"count":6},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":25632439,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""}],"count":6}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22HUMAN_OBSERVATION%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":7064664,"fq":"year:\"2021\""}],"count":6}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22OCCURRENCE%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2018","i18nCode":"year.2018","count":116242,"fq":"year:\"2018\""}],"count":5}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22OBSERVATION%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2018","i18nCode":"year.2018","count":180370,"fq":"year:\"2018\""}],"count":5}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22PRESERVED_SPECIMEN%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2019","i18nCode":"year.2019","count":59957,"fq":"year:\"2019\""}],"count":5}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22MACHINE_OBSERVATION%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2018","i18nCode":"year.2018","count":37463,"fq":"year:\"2018\""}],"count":5}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=year%3A%5B2018%20TO%20%2A%5D%20AND%20%28basisOfRecord%3A%22MATERIAL_SAMPLE%22%29&disableAllQualityFilters=true&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2019","i18nCode":"year.2019","count":5851,"fq":"year:\"2019\""}],"count":5}]'
  recorded_at: 2023-01-06 01:24:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
