http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=cacatuidae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"CACATUIDAE","taxonConceptID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","rank":"family","rankID":5000,"lft":45350,"rgt":45474,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"https://biodiversity.org.au/afd/taxa/65625205-db74-4a87-b566-ca387b119974","order":"Psittaciformes","orderID":"https://biodiversity.org.au/afd/taxa/dc1a2f10-1110-4365-a7b6-2edf17c70505","family":"Cacatuidae","familyID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","speciesGroup":["Animals","Birds"],"speciesSubgroup":["Parrots"],"issues":["noIssue"]}'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2058,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2057,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionCode","institutionID","ownerInstitutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2044,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&facets=year&facets=basisOfRecord&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":498725,"fq":"biome:\"TERRESTRIAL\""}],"count":2},{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":260137,"fq":"year:\"2021\""}],"count":2},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":497345,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""}],"count":2},{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":144015,"fq":"stateProvince:\"Victoria\""}],"count":2}]'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(stateProvince:%22Victoria%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":76723,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22OCCURRENCE%22)%20AND%20(stateProvince:%22Victoria%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":106,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(stateProvince:%22New%20South%20Wales%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":65283,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22OCCURRENCE%22)%20AND%20(stateProvince:%22New%20South%20Wales%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":3,"fq":"biome:\"TERRESTRIAL\""}],"count":1}]'
  recorded_at: 2022-09-06 03:16:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
