http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=cacatuidae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"CACATUIDAE","taxonConceptID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","rank":"family","rankID":5000,"lft":45350,"rgt":45474,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"https://biodiversity.org.au/afd/taxa/65625205-db74-4a87-b566-ca387b119974","order":"Psittaciformes","orderID":"https://biodiversity.org.au/afd/taxa/dc1a2f10-1110-4365-a7b6-2edf17c70505","family":"Cacatuidae","familyID":"https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7","speciesGroup":["Animals","Birds"],"speciesSubgroup":["Parrots"],"issues":["noIssue"]}'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2058,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionCode","collectionID"]},{"name":"AMBIGUOUS_INSTITUTION","code":2057,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["ownerInstitutionCode","institutionCode","institutionID"]},{"name":"BASIS_OF_RECORD_INVALID","code":2044,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&facets=year&facets=basisOfRecord&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":495637,"fq":"biome:\"TERRESTRIAL\""}],"count":2},{"fieldName":"year","fieldResult":[{"label":"2021","i18nCode":"year.2021","count":259541,"fq":"year:\"2021\""}],"count":2},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":495562,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""}],"count":2},{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":142611,"fq":"stateProvince:\"Victoria\""}],"count":2}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":76719,"fq":"stateProvince:\"Victoria\""}],"count":8}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22OCCURRENCE%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"New South Wales","i18nCode":"stateProvince.New
        South Wales","count":3,"fq":"stateProvince:\"New South Wales\""}],"count":2}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MATERIAL_SAMPLE%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Australian Capital
        Territory","i18nCode":"stateProvince.Australian Capital Territory","count":5,"fq":"stateProvince:\"Australian
        Capital Territory\""}],"count":2}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MACHINE_OBSERVATION%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Queensland","i18nCode":"stateProvince.Queensland","count":7,"fq":"stateProvince:\"Queensland\""}],"count":1}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22PRESERVED_SPECIMEN%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Australian Capital
        Territory","i18nCode":"stateProvince.Australian Capital Territory","count":2,"fq":"stateProvince:\"Australian
        Capital Territory\""}],"count":3}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Queensland","i18nCode":"stateProvince.Queensland","count":2,"fq":"stateProvince:\"Queensland\""}],"count":3}]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22OCCURRENCE%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MATERIAL_SAMPLE%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MACHINE_OBSERVATION%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:https://biodiversity.org.au/afd/taxa/60389804-5efa-4398-a97b-35a707ebe0a7)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22PRESERVED_SPECIMEN%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222021%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-08-02 06:34:01 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
