http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=cacatuidae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"CACATUIDAE","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a","rank":"family","rankID":5000,"lft":179669,"rgt":179795,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"urn:lsid:biodiversity.org.au:afd.taxon:5ed80139-31bb-48a8-9f57-42d8015dacbb","order":"Psittaciformes","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:14e84142-af7c-4b26-b923-15c3db4623cc","family":"Cacatuidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a","speciesGroup":["Animals","Birds","Birds"],"speciesSubgroup":["Parrots"],"issues":["noIssue"]}'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=biome&facets=year&facets=basisOfRecord&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"biome","fieldResult":[{"label":"TERRESTRIAL","i18nCode":"biome.TERRESTRIAL","count":236618,"fq":"biome:\"TERRESTRIAL\""}],"count":2},{"fieldName":"year","fieldResult":[{"label":"2020","i18nCode":"year.2020","count":227013,"fq":"year:\"2020\""}],"count":2},{"fieldName":"basisOfRecord","fieldResult":[{"label":"Human
        observation","i18nCode":"basisOfRecord.HUMAN_OBSERVATION","count":236597,"fq":"basisOfRecord:\"HUMAN_OBSERVATION\""}],"count":2},{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":66523,"fq":"stateProvince:\"Victoria\""}],"count":2}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Victoria","i18nCode":"stateProvince.Victoria","count":63840,"fq":"stateProvince:\"Victoria\""}],"count":8}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22UNKNOWN%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"New South Wales","i18nCode":"stateProvince.New
        South Wales","count":21,"fq":"stateProvince:\"New South Wales\""}],"count":1}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22PRESERVED_SPECIMEN%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Queensland","i18nCode":"stateProvince.Queensland","count":2,"fq":"stateProvince:\"Queensland\""}],"count":2}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MATERIAL_SAMPLE%22)%20AND%20(biome:%22TERRESTRIAL%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"Australian Capital
        Territory","i18nCode":"stateProvince.Australian Capital Territory","count":1,"fq":"stateProvince:\"Australian
        Capital Territory\""}],"count":2}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22HUMAN_OBSERVATION%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"stateProvince","fieldResult":[{"label":"New South Wales","i18nCode":"stateProvince.New
        South Wales","count":5,"fq":"stateProvince:\"New South Wales\""}],"count":3}]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22UNKNOWN%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22PRESERVED_SPECIMEN%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=stateProvince&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:1b42665c-e2d5-48a5-95ae-f273a2d66c3a)&fq=year:[2020%20TO%20*]%20AND%20(basisOfRecord:%22MATERIAL_SAMPLE%22)%20AND%20(biome:%22MARINE%22)%20AND%20(year:%222020%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2022-01-21 06:18:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
