http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=dasyurus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Dasyurus","scientificNameAuthorship":"Geoffroy,
        1796","taxonConceptID":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85","rank":"genus","rankID":6000,"lft":67520,"rgt":67542,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Dasyuromorphia","orderID":"https://biodiversity.org.au/afd/taxa/54c4f0b1-45cd-49f0-91fc-0d48bd7f0a5e","family":"Dasyuridae","familyID":"https://biodiversity.org.au/afd/taxa/13cd5615-5d0c-426e-96c9-b8a7cb8651a2","genus":"Dasyurus","genusID":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Carnivorous
        Marsupials"],"issues":["noIssue"]}'
  recorded_at: 2022-10-20 00:02:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2058,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2057,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionCode","ownerInstitutionCode","institutionID"]},{"name":"BASIS_OF_RECORD_INVALID","code":2044,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&disableAllQualityFilters=true&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":672,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year%3A%5B2020%20TO%20*%5D)","urlParameters":"?q=*%3A*&disableAllQualityFilters=true&fq=(lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year%3A%5B2020%20TO%20*%5D)","queryTitle":"[all
        records]","activeFacetMap":{"(lsid":{"name":"(lsid","displayName":"(<span
        class=''lsid'' id=''https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85''>genus:
        Dasyurus</span>)AND(year:[2020 TO *])","value":"https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year:[2020
        TO *])"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"(<span class=''lsid''
        id=''https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85''>genus:
        Dasyurus</span>)AND(year:[2020 TO *])","value":"(lsid:https://biodiversity.org.au/afd/taxa/fbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85)AND(year:[2020
        TO *])"}]}}'
  recorded_at: 2022-10-20 00:02:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2Ffbdd6f9d-42d0-42ec-84f1-fb8a7ad4aa85%29AND%28year%3A%5B2020%20TO%20%2A%5D%29&wkt=MULTIPOLYGON%20%28%28%28146.5425%20-42.63203%2C%20146.8312%20-43.13203%2C%20147.4085%20-43.13203%2C%20147.6972%20-42.63203%2C%20147.4085%20-42.13203%2C%20146.8312%20-42.13203%2C%20146.5425%20-42.63203%29%29%29&disableAllQualityFilters=true&pageSize=0
    body:
      e[...]
