http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=&disableAllQualityFilters=true&facets=month&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"month","fieldResult":[{"label":"October","i18nCode":"month.10","count":11984882,"fq":"month:\"10\""}],"count":12}]'
  recorded_at: 2023-01-06 01:24:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
