http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=month&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"month","fieldResult":[{"label":"October","i18nCode":"month.10","count":10582888,"fq":"month:\"10\""}],"count":12}]'
  recorded_at: 2022-01-04 01:09:58 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
