http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Animalia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"ANIMALIA","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","rank":"kingdom","rankID":1000,"lft":87675,"rgt":508193,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","vernacularName":"animals","speciesGroup":["Animals"],"issues":["noIssue"]}'
  recorded_at: 2021-08-06 02:11:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","parentGuid":null,"nameString":"ANIMALIA","nameComplete":"ANIMALIA","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\"><span class=\"name\">ANIMALIA<\u002fspan><\u002fspan>","author":null,"nomenclaturalCode":"ICZN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"kingdom","nameAuthority":"AFD","rankID":1000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"https://collections.ala.org.au/public/show/dr2699","datasetURL":"https://collections.ala.org.au/public/show/dr2699","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","scientificNameID":"urn:lsid:biodiversity.org.au:afd.name:247775"},"taxonName":[],"classification":{"scientificName":"ANIMALIA","guid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","kingdom":"ANIMALIA","kingdomGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c"},"synonyms":[],"commonNames":[{"nameString":"Animals","status":"standard","priority":400,"language":"en","temporal":"en","locationID":"http://www.marine.csiro.au/caabsearch/caab_search.caab_report?spcode=80500000","locality":null,"countryCode":null,"sex":null,"lifeStage":"au","isPlural":null,"organismPart":null,"taxonRemarks":null,"provenance":null,"labels":"true","infoSourceName":"CAAB","infoSourceURL":"http://www.marine.csiro.au/caabsearch/caab_search.caab_report?spcode=80500000","datasetURL":"https://collections.ala.org.au/public/show/dr2704"},{"nameString":"Animals","status":"common","priority":200,"language":"en","temporal":null,"locationID":null,"locality":null,"countryCode":null,"sex":null,"lifeStage":null,"isPlural":null,"organismPart":null,"taxonRemarks":null,"provenance":null,"labels":null,"infoSourceName":"AFD","infoSourceURL":"http://biodiversity.org.au/afd.name/245118","datasetURL":"https://collections.ala.org.au/public/show/dr2699"}],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"AFD","infoSourceURL":"https://collections.ala.org.au/public/show/dr2699","datasetURL":"https://collections.ala.org.au/public/show/dr2699"},{"identifier":"http://data.nzor.org.nz/names/f38e12bf-0be7-4f13-b739-e2bc1b763ae0","nameString":"Scientific
        Name","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/f38e12bf-0be7-4f13-b739-e2bc1b763ae0","datasetURL":"https://c[...]
