http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=urn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3A08b9a1f0-62ae-45ca-9208-e773b00021ed
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Arothron nigropunctatus","scientificNameAuthorship":"(Bloch
        & Schneider, 1801)","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:08b9a1f0-62ae-45ca-9208-e773b00021ed","rank":"species","rankID":7000,"lft":190356,"rgt":190356,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Actinopterygii","classID":"urn:lsid:biodiversity.org.au:afd.taxon:83e82cc3-be4e-40e8-9e7a-985737c4f726","order":"Tetraodontiformes","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:8996eaa1-2c19-47f4-8833-f408b2a0196d","family":"Tetraodontidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:a60c66b3-f009-40fe-961a-85781c473ad9","genus":"Arothron","genusID":"urn:lsid:biodiversity.org.au:afd.taxon:241e8fed-dc4f-4a88-9adf-01b3760d5df7","species":"Arothron
        nigropunctatus","speciesID":"urn:lsid:biodiversity.org.au:afd.taxon:08b9a1f0-62ae-45ca-9208-e773b00021ed","vernacularName":"Spotted
        Toado","speciesGroup":["Animals","Fishes"],"speciesSubgroup":["Cowfishes"],"issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:30:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=NZOR-6-1742
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Nemamyxine elongata","scientificNameAuthorship":"Richardson,
        1958","taxonConceptID":"NZOR-6-1742","rank":"species","rankID":7000,"lft":173661,"rgt":173661,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","order":"Myxiniformes","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:197e9ce2-86dc-4b8d-85f3-fe4b16209dd7","family":"Myxinidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:75a63498-3a19-4234-aba5-c7541e292053","genus":"Nemamyxine","genusID":"NZOR-6-5494","species":"Nemamyxine
        elongata","speciesID":"NZOR-6-1742","speciesGroup":["Animals","Fishes"],"speciesSubgroup":["Hagfishes"],"issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:30:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=https%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2910467
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Solanum torvum","scientificNameAuthorship":"Sw.","taxonConceptID":"https://id.biodiversity.org.au/node/apni/2910467","rank":"species","rankID":7000,"lft":684555,"rgt":684555,"matchType":"taxonIdMatch","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Solanales","orderID":"https://id.biodiversity.org.au/taxon/apni/51303943","family":"Solanaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51303944","genus":"Solanum","genusID":"https://id.biodiversity.org.au/taxon/apni/51294272","species":"Solanum
        torvum","speciesID":"https://id.biodiversity.org.au/node/apni/2910467","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:30:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
