http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/searchByClassification?genus=Banksia&kingdom=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Banksia","scientificNameAuthorship":"L.f.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51299884","rank":"genus","rankID":6000,"lft":544453,"rgt":545397,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Proteales","orderID":"https://id.biodiversity.org.au/taxon/apni/51370811","family":"Proteaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51370813","genus":"Banksia","genusID":"https://id.biodiversity.org.au/taxon/apni/51299884","vernacularName":"Honeysuckle","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["matchedToMisappliedName"]}'
  recorded_at: 2023-01-11 07:11:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/searchByClassification?genus=Microseris&kingdom=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Microseris","scientificNameAuthorship":"D.Don","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51268656","rank":"genus","rankID":6000,"lft":612911,"rgt":612919,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Asterales","orderID":"https://id.biodiversity.org.au/taxon/apni/51369484","family":"Asteraceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51369485","genus":"Microseris","genusID":"https://id.biodiversity.org.au/taxon/apni/51268656","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2023-01-11 07:11:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
