http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Animalia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"ANIMALIA","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","rank":"kingdom","rankID":1000,"lft":87675,"rgt":508193,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","vernacularName":"animals","speciesGroup":["Animals"],"issues":["noIssue"]}'
  recorded_at: 2021-08-06 02:11:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/urn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3A4647863b-760d-4b59-aaa1-502c8cdf8d3c
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","name":"ACANTHOCEPHALA","nameComplete":"ACANTHOCEPHALA
        Koelreuther, 1771","nameFormatted":"<span class=\"scientific-name rank-phylum\"><span
        class=\"name\">ACANTHOCEPHALA<\u002fspan> <span class=\"author\">Koelreuther,
        1771<\u002fspan><\u002fspan>","author":"Koelreuther, 1771","rank":"phylum","rankID":2000},{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:1f5a5c77-fcef-45b9-84ad-bfea95fd1e62","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","name":"ANNELIDA","nameComplete":"ANNELIDA","nameFormatted":"<span
        class=\"scientific-name rank-phylum\"><span class=\"name\">ANNELIDA<\u002fspan><\u002fspan>","author":null,"rank":"phylum","rankID":2000},{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:ec21b060-78[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","nameString":"ACANTHOCEPHALA","nameComplete":"ACANTHOCEPHALA
        Koelreuther, 1771","nameFormatted":"<span class=\"scientific-name rank-phylum\"><span
        class=\"name\">ACANTHOCEPHALA<\u002fspan> <span class=\"author\">Koelreuther,
        1771<\u002fspan><\u002fspan>","author":"Koelreuther, 1771","nomenclaturalCode":"ICZN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"phylum","nameAuthority":"AFD","rankID":2000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"https://collections.ala.org.au/public/show/dr2699","datasetURL":"https://collections.ala.org.au/public/show/dr2699","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572","scientificNameID":"urn:lsid:biodiversity.org.au:afd.name:517643"},"taxonName":[],"classification":{"kingdom":"ANIMALIA","kingdomGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","scientificName":"ACANTHOCEPHALA","guid":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572","phylum":"ACANTHOCEPHALA","phylumGuid":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572"},"synonyms":[],"commonNames":[{"nameString":"Thorny-Headed
        Worms","status":"common","priority":200,"language":"en","temporal":null,"locationID":null,"locality":null,"countryCode":null,"sex":null,"lifeStage":null,"isPlural":null,"organismPart":null,"taxonRemarks":null,"provenance":null,"labels":null,"infoSourceName":"AFD","infoSourceURL":"http://biodiversity.org.au/afd.name/371304","datasetURL":"https://collections.ala.org.au/public/show/dr2699"}],"imageIdentifier":"3fae2528-7f99-4760-92b7-e3c06d92daf5","conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"urn:lsid:biodiversity.org.au:afd.taxon:3cbb537e-ab39-4d85-864e-76cd6b6d6572","nameString":"Taxon
        Concept","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"AFD","infoSourceURL":"https://collections.ala.org.au/public/show/dr2699","datasetURL":"https://collections.ala.org.au/public/show/dr2699"},{"identifier":"urn:lsid:biodiversity.org.au:afd.taxon:5a60e0e4-003b-4010-9390-bf8d0bf8545a","nameString":"Previous
        AFD LSID","status":"replaced","subject":null,"format":"lsid","provenance":null,"infoSourceName":"AFD","infoSourceURL":"http://biodiversity.org.au/afd.taxon/5a60e0e4-003b-4010-9390-bf8d0bf8545a","da[...]
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/NZOR-6-87998
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"[...]
[...]
