http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=urn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3A08b9a1f0-62ae-45ca-9208-e773b00021ed
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Arothron nigropunctatus","scientificNameAuthorship":"(Bloch
        & Schneider, 1801)","taxonConceptID":"https://biodiversity.org.au/afd/taxa/08b9a1f0-62ae-45ca-9208-e773b00021ed","rank":"species","rankID":7000,"lft":56249,"rgt":56249,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Actinopterygii","classID":"https://biodiversity.org.au/afd/taxa/83e82cc3-be4e-40e8-9e7a-985737c4f726","order":"Tetraodontiformes","orderID":"https://biodiversity.org.au/afd/taxa/8996eaa1-2c19-47f4-8833-f408b2a0196d","family":"Tetraodontidae","familyID":"https://biodiversity.org.au/afd/taxa/a60c66b3-f009-40fe-961a-85781c473ad9","genus":"Arothron","genusID":"https://biodiversity.org.au/afd/taxa/241e8fed-dc4f-4a88-9adf-01b3760d5df7","species":"Arothron
        nigropunctatus","speciesID":"https://biodiversity.org.au/afd/taxa/08b9a1f0-62ae-45ca-9208-e773b00021ed","vernacularName":"Black-spotted
        Puffer","speciesGroup":["Animals","Fishes"],"speciesSubgroup":["Cowfishes"],"issues":["noIssue"]}'
  recorded_at: 2023-01-11 07:11:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=NZOR-6-1742
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientificName":"Nemamyxine elongata","scientificNameAuthorship":"Richardson","taxonConceptID":"NZOR-6-1742","rank":"species","rankID":7000,"lft":39094,"rgt":39094,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","order":"Myxiniformes","orderID":"https://biodiversity.org.au/afd/taxa/197e9ce2-86dc-4b8d-85f3-fe4b16209dd7","family":"Myxinidae","familyID":"https://biodiversity.org.au/afd/taxa/75a63498-3a19-4234-aba5-c7541e292053","genus":"Nemamyxine","genusID":"NZOR-6-5494","species":"Nemamyxine
        elongata","speciesID":"NZOR-6-1742","speciesGroup":["Animals","Fishes"],"speciesSubgroup":["Hagfishes"],"issues":["noIssue"]}'
  recorded_at: 2023-01-11 07:11:52 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=https%3A%2F%2Fid.biodiversity.org.au%2Fnode%2Fapni%2F2910467
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"success":true,"scientif[...]
