http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage"},{"name":"acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage ID","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID"},{"name":"accessRights","dwcTerm":"dcterms:accessRights","downloadName":"accessRights","dataType":"string","classs":"Record","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Access
        rights"},{"name":"assertionUserId","downloadName":"assertionUserId","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record"},{"name":"assertions","jsonName":"assertions","downloadName":"assertions","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"i18nValues":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions"},{"name":"associatedMedia","dwcTerm":"associatedMedia","downloadName":"associatedMedia","dataType":"string","classs":"Occurrence","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Associated
        Media","info":"http://rs.tdwg.org/dwc/terms/associatedMedia"},{"name":"associatedOccurrences","dwcTerm":"associatedOccurrences","downloadName":"associatedOccurrences","dataType":"string","classs":[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?facets=dataResourceUid&flimit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"dataResourceUid","fieldResult":[{"label":"eBird Australia","i18nCode":"dataResourceUid.dr2009","count":26644454,"fq":"dataResourceUid:\"dr2009\""},{"label":"NSW
        BioNet Atlas","i18nCode":"dataResourceUid.dr368","count":12489765,"fq":"dataResourceUid:\"dr368\""},{"label":"BirdLife
        Australia, Birdata","i18nCode":"dataResourceUid.dr359","count":11635460,"fq":"dataResourceUid:\"dr359\""},{"label":"Victorian
        Biodiversity Atlas","i18nCode":"dataResourceUid.dr1097","count":8285400,"fq":"dataResourceUid:\"dr1097\""},{"label":"New
        South Wales Bird Atlassers","i18nCode":"dataResourceUid.dr1089","count":3381819,"fq":"dataResourceUid:\"dr1089\""},{"label":"First
        Bird Atlas","i18nCode":"dataResourceUid.dr571","count":2712345,"fq":"dataResourceUid:\"dr571\""},{"label":"iNaturalist
        Australia","i18nCode":"dataResourceUid.dr1411","count":2678431,"fq":"dataResourceUid:\"dr1411\""},{"label":"SA
        Flora (BDBSA)","i18nCode":"dataResourceUid.dr366","count":1911652,"fq":"dataResourceUid:\"dr366\""},{"label":"Garden
        Bird Surveys","i18nCode":"dataResourceUid.dr466","count":1655345,"fq":"dataResourceUid:\"dr466\""},{"label":"SA
        Fauna (BDBSA)","i18nCode":"dataResourceUid.dr365","count":1645756,"fq":"dataResourceUid:\"dr365\""}],"count":845}]'
  recorded_at: 2022-01-20 01:30:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
