http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Eucalyptus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Eucalyptus","scientificNameAuthorship":"L''Hér.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51360942","rank":"genus","rankID":6000,"lft":565691,"rgt":569757,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Myrtales","orderID":"https://id.biodiversity.org.au/taxon/apni/51376809","family":"Myrtaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51376810","genus":"Eucalyptus","genusID":"https://id.biodiversity.org.au/taxon/apni/51360942","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2022-10-13 04:42:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Banksia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Banksia","scientificNameAuthorship":"L.f.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51299884","rank":"genus","rankID":6000,"lft":544453,"rgt":545397,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Proteales","orderID":"https://id.biodiversity.org.au/taxon/apni/51370811","family":"Proteaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51370813","genus":"Banksia","genusID":"https://id.biodiversity.org.au/taxon/apni/51299884","vernacularName":"Honeysuckle","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["matchedToMisappliedName"]}'
  recorded_at: 2022-10-13 04:42:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Acacia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Acacia","scientificNameAuthorship":"Mill.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51382879","rank":"genus","rankID":6000,"lft":592845,"rgt":596441,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Fabales","orderID":"https://id.biodiversity.org.au/taxon/apni/51408979","family":"Fabaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51392276","genus":"Acacia","genusID":"https://id.biodiversity.org.au/taxon/apni/51382879","vernacularName":"Mulga","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2022-10-13 04:42:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
