http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Acacia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Acacia","scientificNameAuthorship":"Mill.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51311124","rank":"genus","rankID":6000,"lft":604306,"rgt":608094,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Fabales","orderID":"https://id.biodiversity.org.au/taxon/apni/51311090","family":"Fabaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51311092","genus":"Acacia","genusID":"https://id.biodiversity.org.au/taxon/apni/51311124","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-12-17 05:29:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Plantae","scientificNameAuthorship":"Haeckel","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51337710","rank":"kingdom","rankID":1000,"lft":561067,"rgt":740241,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-12-17 05:29:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
