http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/searchByClassification?genus=Acacia&kingdom=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Acacia","scientificNameAuthorship":"Mill.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51382879","rank":"genus","rankID":6000,"lft":592845,"rgt":596441,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51414459","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51414458","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51414457","order":"Fabales","orderID":"https://id.biodiversity.org.au/taxon/apni/51408979","family":"Fabaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51392276","genus":"Acacia","genusID":"https://id.biodiversity.org.au/taxon/apni/51382879","vernacularName":"Mulga","speciesGroup":["Plants","Angiosperms","Dicots"],"speciesSubgroup":["Dicots","Flowering
        plants"],"issues":["noIssue"]}'
  recorded_at: 2022-10-13 04:42:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
