http_interactions:
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2058,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2057,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["institutionID","institutionCode","ownerInstitutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2044,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"COLLECTION_MATCH_FUZZY","code":2062,"description":"Collection
        matc[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcdTypeStatus","downloadName":"abcdTypeStatus","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"info":"ABCD
        field in use by herbaria"},{"name":"acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage"},{"name":"acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","dataType":"string","classs":"Taxon","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Accepted
        name","downloadDescription":"Accepted Name Usage ID","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID"},{"name":"accessRights","dwcTerm":"dcterms:accessRights","downloadName":"accessRights","dataType":"string","classs":"Record","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Access
        rights"},{"name":"assertions","jsonName":"assertions","downloadName":"assertions","dataType":"string","indexed":true,"docvalue":true,"stored":true,"multivalue":true,"i18nValues":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions"},{"name":"associatedMedia","dwcTerm":"associatedMedia","downloadName":"associatedMedia","dataType":"string","classs":"Occurrence","indexed":true,"docvalue":true,"stored":true,"multivalue":false,"description":"Associated
        Media","info":"http://rs.tdwg.org/dwc/terms/associatedMedia"},{"name":"associatedOccurrences","dwcTerm":"associatedOccurrences","downloadName":"associatedOccurrences","dataType":"string","classs":[...]
- request:
    method: get
    uri: https://spatial.ala.org.au/ws//layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: "[{\"path_1km\":\"\",\"source_link\":\"http://www.daff.gov.au/abares/data/mcass\",\"datalang\":\"eng\",\"environmentalvaluemin\":\"3\",\"shape\":false,\"lookuptablepath\":\"\",\"respparty_role\":\"\",\"classification2\":\"Chemistry\",\"pid\":\"\",\"displayname\":\"Ph
        - soil\",\"id\":663,\"grid\":true,\"path_orig\":\"layer/ph\",\"mdhrlv\":\"\",\"minlongitude\":109.49867,\"maxlatitude\":-8.19539,\"licence_link\":\"http://adl.brs.gov.au/anrdl/licence/AuGovBRS.txt,
        http://adl.brs.gov.au/anrdl/metadata_files/pb_dpk09g9abl_01411a02.xml\",\"mddatest\":\"2009-08\",\"maxlongitude\":157.23401,\"dt_added\":1472518286436,\"minlatitude\":-44.38263,\"scale\":\"0.01
        degree (~1km)\",\"displaypath\":\"https://spatial.ala.org.au/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:ph&format=image/png&styles=\",\"path\":\"/mnt/transfer/MCAS_1k_Datapack/Soil/ph.tif\",\"name\":\"ph\",\"metadatapath\":\"http://adl.brs.gov.au/anrdl/php/full.php?fileidentifier=http://adl.brs.gov.au/findit/metadata_files/pa_sphaar9nnd_01611a00.xml\",\"type\":\"Environmental\",\"notes\":\"A
        surface of predicted pH of layer 1 (A Horizon - top soil) surface for the
        intensive agricultural areas of Australia modelled from spot observations
        taken by soil agencies both State and CSIRO. The values have subsequently
        been rounded to the nearest whole number.\",\"keywords\":\"\",\"uid\":\"663\",\"licence_notes\":\"Copyright
        Commonwealth of Australia 2009The Commonwealth gives no warranty regarding
        the Products accuracy, completeness, currency or suitability for any particular
        purpose. Visit the Bureau of Rural Sciences website (http://adl.brs.gov.au/)
        to access the most current version of the Product.\",\"environmentalvaluemax\":\"9\",\"classification1\":\"Substrate\",\"environmentalvalueunits\":\"ph\",\"enabled\":true,\"domain\":\"Terrestrial\",\"description\":\"Soil
        Acidity and Alkalinity (pH)\",\"licence_level\":\"2\",\"source\":\"MCAS\",\"citation_date\":\"2001\"},{\"path_1km\":\"\",\"source_link\":\"http://data.daff.gov.au/anrdl/metadata_files/pa_vast_g9abll0032008_11a.xml\",\"datalang\":\"eng\",\"environmentalvaluemin\":\"0\",\"shape\":true,\"lookuptablepath\":\"\",\"respparty_role\":\"distributor\",\"classification2\":\"\",\"pid\":\"\",\"displayname\":\"Vegetation
        types - present\",\"id\":620,\"grid\":false,\"path_orig\":\"layer/present_veg\",\"mdhrlv\":\"\",\"minlongitude\":112.91646,\"maxlatitude\":-9.22397,\"licence_link\":\"http:/[...]
[...]
