http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Microseris%20lanceolata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Microseris lanceolata","scientificNameAuthorship":"(Walp.)
        Sch.Bip.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51268659","rank":"species","rankID":7000,"lft":699191,"rgt":699191,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Asterales","orderID":"https://id.biodiversity.org.au/taxon/apni/51311309","family":"Asteraceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51311021","genus":"Microseris","genusID":"https://id.biodiversity.org.au/taxon/apni/51268656","species":"Microseris
        lanceolata","speciesID":"https://id.biodiversity.org.au/taxon/apni/51268659","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-08-06 02:12:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
