http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Eucalyptus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Eucalyptus","scientificNameAuthorship":"L''Hér.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51302291","rank":"genus","rankID":6000,"lft":620876,"rgt":624968,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Myrtales","orderID":"https://id.biodiversity.org.au/taxon/apni/51313354","family":"Myrtaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51313356","genus":"Eucalyptus","genusID":"https://id.biodiversity.org.au/taxon/apni/51302291","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Banksia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Banksia","scientificNameAuthorship":"L.f.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51299884","rank":"genus","rankID":6000,"lft":579700,"rgt":580616,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Proteales","orderID":"https://id.biodiversity.org.au/taxon/apni/51312311","family":"Proteaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51312310","genus":"Banksia","genusID":"https://id.biodiversity.org.au/taxon/apni/51299884","speciesGroup":["Plants"],"issues":["matchedToMisappliedName"]}'
  recorded_at: 2021-08-18 05:57:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Wattle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":false,"nameType":"SCIENTIFIC","issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
