http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/searchByClassification?genus=Banksia&kingdom=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Banksia","scientificNameAuthorship":"L.f.","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51299884","rank":"genus","rankID":6000,"lft":579700,"rgt":580616,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Proteales","orderID":"https://id.biodiversity.org.au/taxon/apni/51312311","family":"Proteaceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51312310","genus":"Banksia","genusID":"https://id.biodiversity.org.au/taxon/apni/51299884","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/searchByClassification?genus=Microseris&kingdom=Plantae
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Microseris","scientificNameAuthorship":"D.Don","taxonConceptID":"https://id.biodiversity.org.au/taxon/apni/51268656","rank":"genus","rankID":6000,"lft":699190,"rgt":699200,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Plantae","kingdomID":"https://id.biodiversity.org.au/taxon/apni/51337710","phylum":"Charophyta","phylumID":"https://id.biodiversity.org.au/taxon/apni/51337706","classs":"Equisetopsida","classID":"https://id.biodiversity.org.au/taxon/apni/51337705","order":"Asterales","orderID":"https://id.biodiversity.org.au/taxon/apni/51311309","family":"Asteraceae","familyID":"https://id.biodiversity.org.au/taxon/apni/51311021","genus":"Microseris","genusID":"https://id.biodiversity.org.au/taxon/apni/51268656","speciesGroup":["Plants"],"issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
