http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Vulpes%20vulpes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Vulpes vulpes","scientificNameAuthorship":"Linnaeus,
        1758","taxonConceptID":"https://biodiversity.org.au/afd/taxa/2869ce8a-8212-46c2-8327-dfb7fabb8296","rank":"species","rankID":7000,"lft":69065,"rgt":69067,"matchType":"exactMatch","nameType":"SCIENTIFIC","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Carnivora","orderID":"https://biodiversity.org.au/afd/taxa/ca52f7b4-9541-4fa7-bdcd-ac8e9aa1d3e2","family":"Canidae","familyID":"https://biodiversity.org.au/afd/taxa/db861aa2-93b8-40b1-8868-4a0a41d51414","genus":"Vulpes","genusID":"https://biodiversity.org.au/afd/taxa/593d9519-a473-45ab-b1a9-521453f75842","species":"Vulpes
        vulpes","speciesID":"https://biodiversity.org.au/afd/taxa/2869ce8a-8212-46c2-8327-dfb7fabb8296","vernacularName":"Fox","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Carnivores"],"issues":["noIssue"]}'
  recorded_at: 2022-10-17 01:30:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
