http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=Anas
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Anas (Anas)","scientificNameAuthorship":"Linnaeus,
        1758","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","rank":"subgenus","rankID":6500,"lft":178670,"rgt":178682,"matchType":"exactMatch","nameType":"SCIENTIFIC","synonymType":"SYNONYM","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"urn:lsid:biodiversity.org.au:afd.taxon:5ed80139-31bb-48a8-9f57-42d8015dacbb","order":"Anseriformes","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:b8bb0d5b-27f3-4cd9-a9e6-4806dfadb5aa","family":"Anatidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:61e10186-a256-428a-baf9-331012e4cf29","genus":"Anas","genusID":"urn:lsid:biodiversity.org.au:afd.taxon:ca7b0c33-4059-4324-ae5b-813630bd61c0","speciesGroup":["Animals","Birds","Birds"],"speciesSubgroup":["Ducks,
        Geese, Swans"],"issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/urn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3Aa553c469-6df8-4205-ad85-f5dd8706e7ce
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:f75e95ed-a3ab-4c51-9727-4c6686c2fb12","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","name":"Anas
        (Anas) platyrhynchos","nameComplete":"Anas (Anas) platyrhynchos Linnaeus,
        1758","nameFormatted":"<span class=\"scientific-name rank-species\"><span
        class=\"name\">Anas (Anas) platyrhynchos<\u002fspan> <span class=\"author\">Linnaeus,
        1758<\u002fspan><\u002fspan>","author":"Linnaeus, 1758","rank":"species","rankID":7000},{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:da8a156f-95e2-4fcb-a6e7-52721705a70c","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","name":"Anas
        (Anas) superciliosa","nameComplete":"Anas (Anas) superciliosa Gmelin, 1789","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Anas (Anas) superciliosa<\u002fspan>
        <span class=\"author\">Gmelin, 1789<\u002fspan><\u002fspan>","author":"Gmelin,
        1789","rank":"species","rankID":7000}]'
  recorded_at: 2021-08-18 05:57:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=urn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3Af75e95ed-a3ab-4c51-9727-4c6686c2fb12
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Anas (Anas) platyrhynchos","scientificNameAuthorship":"Linnaeus,
        1758","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:f75e95ed-a3ab-4c51-9727-4c6686c2fb12","rank":"species","rankID":7000,"lft":178675,"rgt":178681,"matchType":"taxonIdMatch","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Aves","classID":"urn:lsid:biodiversity.org.au:afd.taxon:5ed80139-31bb-48a8-9f57-42d8015dacbb","order":"Anseriformes","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:b8bb0d5b-27f3-4cd9-a9e6-4806dfadb5aa","family":"Anatidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:61e10186-a256-428a-baf9-331012e4cf29","genus":"Anas","genusID":"urn:lsid:biodiversity.org.au:afd.taxon:ca7b0c33-4059-4324-ae5b-813630bd61c0","species":"Anas
        platyrhynchos","speciesID":"urn:lsid:biodiversity.org.au:afd.taxon:f75e95ed-a3ab-4c51-9727-4c6686c2fb12","vernacularName":"Mallard","speciesGroup":["Animals","Birds","Birds"],"speciesSubgroup":["Ducks,
        Geese, Swans"],"issues":["noIssue"]}'
  recorded_at: 2021-08-18 05:57:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrences/search?fq=lsid%3Aurn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3Aa553c469-6df8-4205-ad85-f5dd8706e7ce&pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":741776,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*&fq=lsid%3Aurn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3Aa553c469-6df8-4205-ad85-f5dd8706e7ce","urlParameters":"?q=*%3A*&fq=lsid%3Aurn%3Alsid%3Abiodiversity.org.au%3Aafd.taxon%3Aa553c469-6df8-4205-ad85-f5dd8706e7ce","queryTitle":"[all
        records]","activeFacetMap":{"lsid":{"name":"lsid","displayName":"<span class=''lsid''
        id=''urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce''>subgenus:
        Anas (Anas)</span>","value":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce"}},"activeFacetObj":{"lsid":[{"name":"lsid","displayName":"<span
        class=''lsid'' id=''urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce''>subgenus:
        Anas (Anas)</span>","value":"lsid:urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce"}]}}'
  recorded_at: 2021-08-18 05:57:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","parentGuid":"urn:lsid:biodiversity.org.au:afd.taxon:ca7b0c33-4059-4324-ae5b-813630bd61c0","nameString":"Anas
        (Anas)","nameComplete":"Anas (Anas) Linnaeus, 1758","nameFormatted":"<span
        class=\"scientific-name rank-genus\"><span class=\"name\">Anas (Anas)<\u002fspan>
        <span class=\"author\">Linnaeus, 1758<\u002fspan><\u002fspan>","author":"Linnaeus,
        1758","nomenclaturalCode":"ICZN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"subgenus","nameAuthority":"AFD","rankID":6500,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"https://collections.ala.org.au/public/show/dr2699","datasetURL":"https://collections.ala.org.au/public/show/dr2699","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","scientificNameID":"urn:lsid:biodiversity.org.au:afd.name:264751"},"taxonName":[],"classification":{"kingdom":"ANIMALIA","kingdomGuid":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"CHORDATA","phylumGuid":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","class":"AVES","classGuid":"urn:lsid:biodiversity.org.au:afd.taxon:5ed80139-31bb-48a8-9f57-42d8015dacbb","order":"ANSERIFORMES","orderGuid":"urn:lsid:biodiversity.org.au:afd.taxon:b8bb0d5b-27f3-4cd9-a9e6-4806dfadb5aa","family":"ANATIDAE","familyGuid":"urn:lsid:biodiversity.org.au:afd.taxon:61e10186-a256-428a-baf9-331012e4cf29","subfamily":"Anatinae","subfamilyGuid":"urn:lsid:biodiversity.org.au:afd.taxon:d556baf4-5def-44f2-863a-8504a49c87c9","genus":"Anas","genusGuid":"urn:lsid:biodiversity.org.au:afd.taxon:ca7b0c33-4059-4324-ae5b-813630bd61c0","scientificName":"Anas
        (Anas)","guid":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce","subgenus":"Anas
        (Anas)","subgenusGuid":"urn:lsid:biodiversity.org.au:afd.taxon:a553c469-6df8-4205-ad85-f5dd8706e7ce"},"synonyms":[{"nameString":"Boschas","nameComplete":"Boschas
        Swainson, 1831","nameFormatted":"<span class=\"scientific-name rank-unknown\"><span
        class=\"name\">Boschas<\u002fspan> <span class=\"author\">Swainson, 1831<\u002fspan><\u002fspan>","nameGuid":"urn:lsid:biodiversity.org.au:afd.name:f8b01683-0e0f-4a00-b55e-79d90581eeae","nomenclaturalCode":"ICZN","taxonomicStatus":"synonym","nomenclaturalStatus":null,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":"Mathews,
        G.M. 1929, \"Untitled\", Bulletin of the British Ornithologists'' Club, vol.
        50, no. 335, pp. 10-11","namePublishedInYear":"1929","namePublishedInID":null,"nameAuthority":"AFD","taxonRemarks":null,"provenance":null,"infoSourceURL":"https://collectio[...]
[...]
