http_interactions:
- request:
    method: get
    uri: https://registros-ws.gbif.es/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":37315742,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2022-01-04 01:11:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://registros-ws.gbif.es/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"accepted_name_usage","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Accepted
        Name Usage","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"accepted_name_usage","classs":"Taxon"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"accessrights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"downloadName":"accessrights"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Image
        URLs for this record","jsonName":"images","downloadName":"all_image_url"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"docvalue":false,"description":"Assertions
        by user","info":"User ID of the person who has made an assertion about this
        record","downloadName":"assertion_user_id"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"nam[...]
- request:
    method: get
    uri: https://registros-ws.gbif.es/occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2007","i18nCode":"year.2007","count":1311771,"fq":"year:\"2007\""},{"label":"2019","i18nCode":"year.2019","count":917544,"fq":"year:\"2019\""},{"label":"2015","i18nCode":"year.2015","count":898585,"fq":"year:\"2015\""},{"label":"2006","i18nCode":"year.2006","count":837685,"fq":"year:\"2006\""},{"label":"2018","i18nCode":"year.2018","count":833872,"fq":"year:\"2018\""},{"label":"2011","i18nCode":"year.2011","count":830467,"fq":"year:\"2011\""},{"label":"2010","i18nCode":"year.2010","count":819208,"fq":"year:\"2010\""},{"label":"2016","i18nCode":[...]
