http_interactions:
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws//occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":0,"startIndex":0,"totalRecords":101747617,"sort":"score","dir":"asc","status":"OK","occurrences":[],"facetResults":[],"query":"?q=*%3A*","urlParameters":"?q=*%3A*","queryTitle":"[all
        records]","activeFacetMap":{},"activeFacetObj":{}}'
  recorded_at: 2021-08-06 02:10:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws//index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"abcd_identification_qualifier","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"ABCD
        field in use by herbaria","downloadName":"abcd_identification_qualifier"},{"name":"access_rights","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"dwcTerm":"dcterms:accessRights","downloadName":"access_rights","classs":"Record"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/assertions","jsonName":"assertions","downloadName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record","downloadName":"assertions_missing"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test has been passed by this record","downloadName":"assertions_passed"},{"name":"assertions_unchecked","dataType":"string","indexed":true,"stored":true,"multivalue":true,"docvalue":false,"info":"Assertion
        indicating a data quality test was not performed for this record typically
        due to the absence of fields required by the test.","downloadName":"assertions_unchecked"},{"name":"basis_of_record","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Record
        type","info":"What this is a record of e.g. specimen, human observation, fossil
        http://rs.tdwg.org/dwc/terms/basisOfRecord","infoUrl":"https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/basis_of_record","jsonName":"basisOfRecord","dwcTerm":"basisOfRecord","downloadName":"basis_of_record","downloadDescription":"Basis
        Of Record","classs":"Record"},{"name":"behavior","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"description":"Behavior","info":"http://rs.tdwg.org/dwc/terms/behavior","dwcTerm":"behavior","downloadName":"behavior","classs":"Occurrence"},{"name":"bibliographic_citation","dataType":"string","indexed":true,"stored":true,"multivalue":false,"docvalue":false,"info":"Bibliographic
        citation for this record","dwcTerm":"dcterms:bibliographicCit[...]
- request:
    method: get
    uri: https://spatial.biodiversitydata.se/ws//layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"source_link":"https://github.com/biodiversitydata-se/Sweden_Grids/blob/master/Shapefile/SWEREF99TM/Sweden_Grid_5km_Sweref99Tm_Shape.zip","datalang":"","environmentalvaluemin":"","shape":true,"respparty_role":"","classification2":"","displayname":"Sweden_Grid_5km_Wgs84","id":10104,"grid":false,"path_orig":"layer/5km_Wgs84","minlongitude":10.56927,"maxlatitude":69.10392,"licence_link":"","mddatest":"","maxlongitude":24.28894,"dt_added":1605647585781,"minlatitude":55.1169,"displaypath":"https://spatial.biodiversitydata.se/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:5km_Wgs84&format=image/png&styles=","name":"5km_Wgs84","metadatapath":"","type":"Contextual","notes":"","keywords":"","licence_notes":"","environmentalvaluemax":"","classification1":"area
        management","environmentalvalueunits":"km","enabled":true,"domain":"Terrestrial","description":"5
        km grids for Sweden in format Wgs84.","licence_level":"2","source":"SLU","citation_date":""},{"source_link":"http://www.worldclim.org/current","environmentalvaluemin":"0.0","shape":false,"classification2":"","displayname":"WorldClim
        Mean Diurnal Range","id":10001,"grid":true,"path_orig":"layer/worldclim_bio_2","minlongitude":-180.0,"maxlatitude":90.0,"maxlongitude":180.0,"dt_added":1572530462915,"minlatitude":-90.0,"displaypath":"https://spatial.biodiversitydata.se/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:worldclim_bio_2&format=image/png&[...]
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws//assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
[...]
- request:
    method: get
    uri: https://records.biodiversitydata.se/ws//occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2020","i18nCode":"year.2020","count":5727278,"fq":"year:\"2020\""},{"label":"2019","i18nCode":"year.2019","count":5174302,"fq":"year:\"2019\""},{"label":"2018","i18nCode":"year.2018","count":4701077,"fq":"year:\"2018\""},{"label":"2017","i18nCode":"year.2017","count":4651397,"fq":"year:\"2017\""},{"label":"2014","i18nCode":"year.2014","count":4580424,"fq":"year:\"2014\""},{"label":"2016","i18nCode":"year.2016","count":4452866,"fq":"year:\"2016\""},{"label":"2015","i18nCode":"year.2015","count":4276766,"fq":"year:\"2015\""},{"label":"2012","i18n[...]
