http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=fungi
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Fungi","taxonConceptID":"https://id.biodiversity.org.au/taxon/fungi/60082056","rank":"kingdom","rankID":1000,"lft":709243,"rgt":783467,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Fungi","kingdomID":"https://id.biodiversity.org.au/taxon/fungi/60082056","speciesGroup":["Fungi"],"issues":["noIssue"]}'
  recorded_at: 2022-10-09 23:44:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=https%3A%2F%2Fid.biodiversity.org.au%2Ftaxon%2Ffungi%2F60082056
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Fungi","taxonConceptID":"https://id.biodiversity.org.au/taxon/fungi/60082056","rank":"kingdom","rankID":1000,"lft":709243,"rgt":783467,"matchType":"taxonIdMatch","kingdom":"Fungi","kingdomID":"https://id.biodiversity.org.au/taxon/fungi/60082056","speciesGroup":["Fungi"],"issues":["noIssue"]}'
  recorded_at: 2022-10-09 23:44:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/https%3A%2F%2Fid.biodiversity.org.au%2Ftaxon%2Ffungi%2F60082056
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"NZOR-6-79752","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","name":"Dikarya","nameComplete":"Dikarya","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\">Dikarya<\/span>","author":null,"rank":"subkingdom","rankID":1200},{"guid":"https://id.biodiversity.org.au/taxon/fungi/60082051","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","name":"Ascomycota","nameComplete":"Ascomycota","nameFormatted":"<span
        class=\"scientific-name rank-phylum\"><span class=\"name\">Ascomycota<\/span><\/span>","author":null,"rank":"phylum","rankID":2000},{"guid":"https://id.biodiversity.org.au/taxon/fungi/60081923","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","name":"Basidiomycota","nameComplete":"Basidiomycota","nameFormatted":"<span
        class=\"scientific-name rank-phylum\"><span class=\"name\">Basidiomycota<\/span><\/span>","author":null,"rank":"phylum","rankID":2000},{"guid":"NZOR-6-45238","parentGuid":"https://id.biodiversity.or[...]
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/NZOR-6-79752
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"NZOR-6-19335","parentGuid":"NZOR-6-79752","name":"Entorrhizomycota","nameComplete":"Entorrhizomycota
        R. Bauer, Garnica, Oberwinkler, Riess, Weiß & Begerow","nameFormatted":"<span
        class=\"scientific-name rank-phylum\"><span class=\"name\">Entorrhizomycota<\/span>
        <span class=\"author\">R. Bauer, Garnica, Oberwinkler, Riess, Wei&szlig; &amp;
        Begerow<\/span><\/span>","author":"R. Bauer, Garnica, Oberwinkler, Riess,
        Weiß & Begerow","rank":"phylum","rankID":2000}]'
  recorded_at: 2022-10-09 23:44:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/https://id.biodiversity.org.au/taxon/fungi/60082056
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"https://id.biodiversity.org.au/taxon/fungi/60082056","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082094","nameString":"Fungi","nameComplete":"Fungi","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\"><span class=\"name\">Fungi<\/span><\/span>","author":null,"nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"kingdom","nameAuthority":"AusFungi","rankID":1000,"nameAccordingTo":"AusFungi
        (2019), AusFungi 21 Jan. 2019","nameAccordingToID":"https://id.biodiversity.org.au/reference/fungi/60054517","namePublishedIn":"No
        protologue information available","namePublishedInYear":"0","namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"https://id.biodiversity.org.au/taxon/fungi/60082056","datasetURL":null,"taxonConceptID":"https://id.biodiversity.org.au/instance/fungi/60054520","scientificNameID":"https://id.biodiversity.org.au/name/fungi/60013074"},"taxonName":[],"classification":{"kingdom":"Fungi","kingdomGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","scientificName":"Fungi","guid":"https://id.biodiversity.org.au/taxon/fungi/60082056"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"8e43417ba4bde2d9eb861cac5e4bf8b8","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"CoL","infoSourceURL":"https://collections.ala.org.au/public/show/dr2705","datasetURL":"https://collections.ala.org.au/public/show/dr2705"},{"identifier":"http://id.biodiversity.org.au/taxon/lichen/30241764","nameString":"Taxon","status":"unknown","subject":null,"format":null,"provenance":null,"infoSourceName":"ABRSL","infoSourceURL":"https://collections.ala.org.au/public/show/dr17664","datasetURL":"https://collections.ala.org.au/public/show/dr17664"},{"identifier":"https://id.biodiversity.org.a[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/NZOR-6-79752
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NZOR-6-79752","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","nameString":"Dikarya","nameComplete":"Dikarya","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\">Dikarya<\/span>","author":null,"nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"subkingdom","nameAuthority":"NZOR","rankID":1200,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707","scientificNameID":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751"},"taxonName":[],"classification":{"kingdom":"Fungi","kingdomGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","scientificName":"Dikarya","guid":"NZOR-6-79752","subkingdom":"Dikarya","subkingdomGuid":"NZOR-6-79752"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","nameString":"Scientific
        Name","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707"},{"identifier":"NZOR-6-79752","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707"}],"variants":[{"nameString":"Dikarya","nameComplete":"Dikarya","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\">Dikarya<\/span>","identifier":"NZOR-6-79752","nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"nameAuthority":"NZOR","taxonRemarks":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707","priority":3000}]}'
  recorded_at: 2022-10-09 23:44:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/https://id.biodiversity.org.au/node/fungi/60102523
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"https://id.biodi[...]
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/NZOR-6-68860
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NZOR-6-68860","parentGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","nameString":"Microspora","nameComplete":"Microspora","nameFormatted":"<span
        class=\"scientific-name rank-phylum\">Microspora<\/span>","author":null,"nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"phylum","nameAuthority":"NZOR","rankID":2000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604","datasetURL":"https://collections.ala.org.au/public/show/dr2707","scientificNameID":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604"},"taxonName":[],"classification":{"kingdom":"Fungi","kingdomGuid":"https://id.biodiversity.org.au/taxon/fungi/60082056","scientificName":"Microspora","guid":"NZOR-6-68860","phylum":"Microspora","phylumGuid":"NZOR-6-68860"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"NZOR-6-68860","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604","datasetURL":"https://collections.ala.org.au/public/show/dr2707"},{"identifier":[...]
[...]
