http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=perameles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Perameles","scientificNameAuthorship":"Geoffroy,
        1803","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f","rank":"genus","rankID":6000,"lft":202082,"rgt":202110,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"urn:lsid:biodiversity.org.au:afd.taxon:4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"urn:lsid:biodiversity.org.au:afd.taxon:065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"urn:lsid:biodiversity.org.au:afd.taxon:e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Peramelemorphia","orderID":"urn:lsid:biodiversity.org.au:afd.taxon:94032c42-8ed7-4bf1-bff6-952262dab315","family":"Peramelidae","familyID":"urn:lsid:biodiversity.org.au:afd.taxon:359987d0-2904-445a-9d56-ea3a87d415e0","genus":"Perameles","genusID":"urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Bandicoots,
        Bilbies"],"issues":["noIssue"]}'
  recorded_at: 2022-01-19 08:24:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=taxonConceptID&facets=year&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f)&fq=year:[2010%20TO%20*]%20AND%20-(year:%222010%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"taxonConceptID","fieldResult":[{"label":"urn:lsid:biodiversity.org.au:afd.taxon:a72e7e4b-96c4-4967-be05-f93e8f4102d3","i18nCode":"taxonConceptID.urn:lsid:biodiversity.org.au:afd.taxon:a72e7e4b-96c4-4967-be05-f93e8f4102d3","count":20988,"fq":"taxonConceptID:\"urn:lsid:biodiversity.org.au:afd.taxon:a72e7e4b-96c4-4967-be05-f93e8f4102d3\""}],"count":9},{"fieldName":"year","fieldResult":[{"label":"2015","i18nCode":"year.2015","count":6612,"fq":"year:\"2015\""}],"count":9}]'
  recorded_at: 2022-01-19 08:24:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=year&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f)&fq=year:[2010%20TO%20*]%20AND%20-(year:%222010%22)%20AND%20(taxonConceptID:%22urn:lsid:biodiversity.org.au:afd.taxon:a72e7e4b-96c4-4967-be05-f93e8f4102d3%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2015","i18nCode":"year.2015","count":6608,"fq":"year:\"2015\""}],"count":12}]'
  recorded_at: 2022-01-19 08:24:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=year&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f)&fq=year:[2010%20TO%20*]%20AND%20-(year:%222010%22)%20AND%20(taxonConceptID:%22ALA_Perameles_gunnii_Victorian_subspecies%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2019","i18nCode":"year.2019","count":3,"fq":"year:\"2019\""}],"count":4}]'
  recorded_at: 2022-01-19 08:24:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?disableAllQualityFilters=true&facets=year&flimit=1&fq=(lsid:urn:lsid:biodiversity.org.au:afd.taxon:9eae0c93-c97f-4f43-93c8-aef121c68e6f)&fq=year:[2010%20TO%20*]%20AND%20-(year:%222010%22)%20AND%20(taxonConceptID:%22ALA_Perameles_gunnii_gunnii%22)
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"year","fieldResult":[{"label":"2012","i18nCode":"year.2012","count":1,"fq":"year:\"2012\""}],"count":2}]'
  recorded_at: 2022-01-19 08:24:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
