http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=perameles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Perameles","scientificNameAuthorship":"Geoffroy,
        1803","taxonConceptID":"https://biodiversity.org.au/afd/taxa/91e23087-ef6f-4d94-9cb4-bf438b2831b2","rank":"genus","rankID":6000,"lft":68239,"rgt":68263,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Animalia","kingdomID":"https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c","phylum":"Chordata","phylumID":"https://biodiversity.org.au/afd/taxa/065f1da4-53cd-40b8-a396-80fa5c74dedd","classs":"Mammalia","classID":"https://biodiversity.org.au/afd/taxa/e9e7db31-04df-41fb-bd8d-e0b0f3c332d6","order":"Peramelemorphia","orderID":"https://biodiversity.org.au/afd/taxa/94032c42-8ed7-4bf1-bff6-952262dab315","family":"Peramelidae","familyID":"https://biodiversity.org.au/afd/taxa/359987d0-2904-445a-9d56-ea3a87d415e0","genus":"Perameles","genusID":"https://biodiversity.org.au/afd/taxa/91e23087-ef6f-4d94-9cb4-bf438b2831b2","speciesGroup":["Animals","Mammals"],"speciesSubgroup":["Bandicoots,
        Bilbies"],"issues":["noIssue"]}'
  recorded_at: 2022-11-29 22:34:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"AMBIGUOUS_COLLECTION","code":2059,"description":"Ambiguous
        collection","category":"Warning","fatal":false,"termsRequiredToTest":["collectionID","collectionCode"]},{"name":"AMBIGUOUS_INSTITUTION","code":2058,"description":"Ambiguous
        institution","category":"Warning","fatal":false,"termsRequiredToTest":["ownerInstitutionCode","institutionID","institutionCode"]},{"name":"BASIS_OF_RECORD_INVALID","code":2045,"description":"Basis
        of record badly formed","category":"Warning","fatal":false,"termsRequiredToTest":["basisOfRecord"]},{"name":"biosecurityIssue","code":20021,"description":"Biosecurity
        issue","[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29AND%28year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%29&disableAllQualityFilters=true&facets=taxonConceptID&facets=year&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"taxonConceptID","fieldResult":[{"label":"https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f","i18nCode":"taxonConceptID.https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f","count":23951,"fq":"taxonConceptID:\"https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f\""}],"count":7},{"fieldName":"year","fieldResult":[{"label":"2015","i18nCode":"year.2015","count":6645,"fq":"year:\"2015\""}],"count":7}]'
  recorded_at: 2022-11-29 22:34:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://biocache-ws.ala.org.au/ws/occurrence/facets?fq=%28lsid%3Ahttps%3A%2F%2Fbiodiversity.org.au%2Fafd%2Ftaxa%2F91e23087-ef6f-4d94-9cb4-bf438b2831b2%29AND%28year%3A%5B2010%20TO%20%2A%5D%20AND%20-%28year%3A%222010%22%29%20AND%20%28year%3A%222015%22%29%29&disableAllQualityFilters=true&facets=taxonConceptID&flimit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      www-authenticate: Bearer realm="authentication required"
    body:
      encoding: UTF-8
      file: no
      string: '[{"fieldName":"taxonConceptID","fieldResult":[{"label":"https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f","i18nCode":"taxonConceptID.https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f","count":6626,"fq":"taxonConceptID:\"https://biodiversity.org.au/afd/taxa/94ea8cf6-a7e6-4503-b46a-deaba0de577f\""}],"count":3}]'
  recorded_at: 2022-11-29 22:34:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
