http_interactions:
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/search?q=fungi
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Fungi","scientificNameAuthorship":"Engl.","taxonConceptID":"urn:lsid:indexfungorum.org:names:90156","rank":"kingdom","rankID":1000,"lft":740323,"rgt":804393,"matchType":"exactMatch","nameType":"DOUBTFUL","kingdom":"Fungi","kingdomID":"urn:lsid:indexfungorum.org:names:90156","issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:22:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://namematching-ws.ala.org.au/api/getByTaxonID?taxonID=urn%3Alsid%3Aindexfungorum.org%3Anames%3A90156
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"success":true,"scientificName":"Fungi","scientificNameAuthorship":"Engl.","taxonConceptID":"urn:lsid:indexfungorum.org:names:90156","rank":"kingdom","rankID":1000,"lft":740323,"rgt":804393,"matchType":"taxonIdMatch","kingdom":"Fungi","kingdomID":"urn:lsid:indexfungorum.org:names:90156","issues":["noIssue"]}'
  recorded_at: 2022-01-20 01:22:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/urn%3Alsid%3Aindexfungorum.org%3Anames%3A90156
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"ALA_Agaricus_sp_1","parentGuid":"urn:lsid:indexfungorum.org:names:90156","name":"Agaricus
        sp. 1","nameComplete":"Agaricus sp. 1","nameFormatted":"<span class=\"scientific-name
        rank-unknown\"><span class=\"name\">Agaricus sp. 1<\u002fspan><\u002fspan>","author":null,"rank":"unranked","rankID":null},{"guid":"ALA_Agaricus_sp_10","parentGuid":"urn:lsid:indexfungorum.org:names:90156","name":"Agaricus
        sp. 10","nameComplete":"Agaricus sp. 10","nameFormatted":"<span class=\"scientific-name
        rank-unknown\"><span class=\"name\">Agaricus sp. 10<\u002fspan><\u002fspan>","author":null,"rank":"unranked","rankID":null},{"guid":"ALA_Agaricus_sp_11","parentGuid":"urn:lsid:indexfungorum.org:names:90156","name":"Agaricus
        sp. 11","nameComplete":"Ag[...]
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/childConcepts/NZOR-6-79752
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '[{"guid":"NZOR-6-19335","parentGuid":"NZOR-6-79752","name":"Entorrhizomycota","nameComplete":"Entorrhizomycota
        R. Bauer, Garnica, Oberwinkler, Riess, Weiß & Begerow","nameFormatted":"<span
        class=\"scientific-name rank-phylum\"><span class=\"name\">Entorrhizomycota<\u002fspan>
        <span class=\"author\">R. Bauer, Garnica, Oberwinkler, Riess, Wei&szlig; &amp;
        Begerow<\u002fspan><\u002fspan>","author":"R. Bauer, Garnica, Oberwinkler,
        Riess, Weiß & Begerow","rank":"phylum","rankID":2000}]'
  recorded_at: 2022-01-20 01:22:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/urn:lsid:indexfungorum.org:names:90156
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"urn:lsid:indexfungorum.org:names:90156","parentGuid":null,"nameString":"Fungi","nameComplete":"Fungi
        Engl.","nameFormatted":"<span class=\"scientific-name rank-kingdom\"><span
        class=\"name\">Fungi<\u002fspan> <span class=\"author\">Engl.<\u002fspan><\u002fspan>","author":"Engl.","nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"kingdom","nameAuthority":"AusFungi","rankID":1000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"https://collections.ala.org.au/public/show/dr2702","datasetURL":"https://collections.ala.org.au/public/show/dr2702","taxonConceptID":"urn:lsid:indexfungorum.org:names:90156","scientificNameID":"urn:lsid:indexfungorum.org:names:90156"},"taxonName":[],"classification":{"scientificName":"Fungi","guid":"urn:lsid:indexfungorum.org:names:90156","kingdom":"Fungi","kingdomGuid":"urn:lsid:indexfungorum.org:names:90156"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"NZOR-6-121877","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/65e8a38e-0267-43fc-8244-c73a0c8cf3d4","datasetURL":"https://collections.ala.org.au/public/show/dr2707"},{"identifier":"8e43417ba4bde2d9eb861cac5e4bf8b8","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"CoL","infoSourceURL":"https://collections.ala.org.au/public/show/dr2705","datasetURL":"https://collections.ala.org.au/public/show/dr2705"},{"identifier":"27116a98-b435-40e7-b75f-00caf6e74b[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/NZOR-6-79752
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NZOR-6-79752","parentGuid":"urn:lsid:indexfungorum.org:names:90156","nameString":"Dikarya","nameComplete":"Dikarya","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\">Dikarya<\u002fspan>","author":null,"nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"subkingdom","nameAuthority":"NZOR","rankID":1200,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707","scientificNameID":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751"},"taxonName":[],"classification":{"kingdom":"Fungi","kingdomGuid":"urn:lsid:indexfungorum.org:names:90156","scientificName":"Dikarya","guid":"NZOR-6-79752","subkingdom":"Dikarya","subkingdomGuid":"NZOR-6-79752"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","nameString":"Scientific
        Name","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707"},{"identifier":"NZOR-6-79752","nameString":"Taxon","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707"}],"variants":[{"nameString":"Dikarya","nameComplete":"Dikarya","nameFormatted":"<span
        class=\"scientific-name rank-kingdom\">Dikarya<\u002fspan>","identifier":"NZOR-6-79752","nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"nameAuthority":"NZOR","taxonRemarks":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/211d4fd8-2df2-45bc-87e9-6f381c5c5751","datasetURL":"https://collections.ala.org.au/public/show/dr2707","priority":3000}]}'
  recorded_at: 2022-01-20 01:22:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://bie-ws.ala.org.au/ws/species/NZOR-6-68860
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-application-context: application:production
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NZOR-6-68860","parentGuid":"urn:lsid:indexfungorum.org:names:90156","nameString":"Microspora","nameComplete":"Microspora","nameFormatted":"<span
        class=\"scientific-name rank-phylum\">Microspora<\u002fspan>","author":null,"nomenclaturalCode":"ICBN","taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"phylum","nameAuthority":"NZOR","rankID":2000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"provenance":null,"favourite":null,"infoSourceURL":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604","datasetURL":"https://collections.ala.org.au/public/show/dr2707","scientificNameID":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604"},"taxonName":[],"classification":{"kingdom":"Fungi","kingdomGuid":"urn:lsid:indexfungorum.org:names:90156","scientificName":"Microspora","guid":"NZOR-6-68860","phylum":"Microspora","phylumGuid":"NZOR-6-68860"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":{},"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[{"identifier":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604","nameString":"Scientific
        Name","status":"current","subject":null,"format":null,"provenance":null,"infoSourceName":"NZOR","infoSourceURL":"http://data.nzor.org.nz/names/e0f8b938-0e19-4d15-a20a-2a46417d9604","dataset[...]
[...]
