http_interactions:
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/occurrences/search?pageSize=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"pageSize":10,"startIndex":0,"totalRecords":0,"dir":"asc","status":"ERROR","errorMessage":"No
        live SolrServers available to handle this request:[http://172.31.15.129:8983/solr/biocache,
        http://172.31.23.235:8983/solr/biocache, http://172.31.14.216:8983/solr/biocache]"}'
  recorded_at: 2021-08-18 05:54:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/index/fields
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"acceptedNameUsage","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":"The
        full name, with authorship and date information if known, of the currently
        valid (zoological) or accepted (botanical) taxon.","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsage","dwcTerm":"acceptedNameUsage","downloadName":"acceptedNameUsage","classs":"Taxon"},{"name":"acceptedNameUsageID","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":"An
        identifier for the name usage (documented meaning of the name according to
        a source) of the currently valid (zoological) or accepted (botanical) taxon.","info":"http://rs.tdwg.org/dwc/terms/acceptedNameUsageID","dwcTerm":"acceptedNameUsageID","downloadName":"acceptedNameUsageID","classs":"Taxon"},{"name":"accessRights","dataType":"string","indexed":false,"stored":false,"multivalue":false,"downloadName":"accessRights","classs":"Record"},{"name":"all_image_url","dataType":"string","indexed":true,"stored":true,"multivalue":true,"downloadName":"images_p"},{"name":"assertion_user_id","dataType":"string","indexed":true,"stored":false,"multivalue":true,"description":"Assertions
        by user","info":"Atlas user ID of the person who has made an assertion about
        this record"},{"name":"assertions","dataType":"string","indexed":true,"stored":true,"multivalue":true,"description":"Record
        issues","info":"A list of all assertions (user and system supplied) for a
        record resulting from data quality tests","jsonName":"assertions","i18nValues":true},{"name":"assertions_missing","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating missing field values for a record. E.g. missing basis of record"},{"name":"assertions_passed","dataType":"string","indexed":true,"stored":true,"multivalue":true,"info":"Assertion
        indicating a data quality test has been passed by this record"},{"name":"associatedMedia","dataType":"string","indexed":false,"stored":false,"multivalue":false,"description":[...]
- request:
    method: get
    uri: https://layers.nbnatlas.org/ws/layers
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"mddatest":"","mdhrlv":"","respparty_role":"","path_1km":"","domain":"","scale":"","metadatapath":"http://gateway.snh.gov.uk/natural-spaces/index.jsp","classification1":"Scotland","classification2":"Designated
        Areas","notes":"","source_link":"http://gateway.snh.gov.uk/natural-spaces/index.jsp","licence_link":"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/","licence_notes":"Licence
        type: OGL v3.0.  Attribution: Contains SNH information licensed under the
        Open Government Licence v3.0. ","maxlatitude":60.86085,"minlatitude":54.90168,"minlongitude":-8.64996,"maxlongitude":-0.86565,"displaypath":"http://layers.nbnatlas.org/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:nnr_scot_edited&format=image/png&styles=","pid":"","shape":true,"path_orig":"shape/nnr_scot_edited","environmentalvalueunits":"","keywords":"","environmentalvaluemax":"","environmentalvaluemin":"","lookuptablepath":"","citation_date":"21/05/2018","datalang":"en","licence_level":"3","source":"Scottish
        Natural Heritage https://gateway.snh.gov.uk/natural-spaces/index.jsp","description":"National
        Nature Reserves (Scotland)","uid":"122","displayname":"National Nature Reserves
        (Scotland)","enabled":true,"name":"nnr_scot_edited","id":122,"type":"Contextual","path":"/data/ala/data/layers/ready/shape"},{"mddatest":"","mdhrlv":"","respparty_role":"","path_1km":"","domain":"","scale":"","metadatapath":"","classification1":"World","classification2":"Political","notes":"","source_link":"","licence_link":"","licence_notes":"","maxlatitude":83.62742,"minlatitude":-90.0,"minlongitude":-180.00002,"maxlongitude":180.0,"displaypath":"http://layers.nbnatlas.org/geoserver/gwc/service/wms?service=WMS&version=1.1.0&request=GetMap&layers=ALA:world&format=image/png&styles=[...]
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/assertions/codes
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"invalidCollectionDate","code":30007,"isFatal":false,"description":"Invalid
        collection date","category":"error","fatal":false},{"name":"zeroCoordinates","code":4,"isFatal":true,"description":"Supplied
        coordinates are zero","category":"warning","fatal":true},{"name":"nameNotSupplied","code":10015,"isFatal":false,"description":"Name
        not supplied","category":"missing","fatal":false},{"name":"incompleteCollectionDate","code":30010,"isFatal":false,"description":"Incomplete
        collection date","category":"warning","fatal":false},{"name":"badlyFormedBasisOfRecord","code":20002,"isFatal":true,"descri[...]
[...]
- request:
    method: get
    uri: https://records-ws.nbnatlas.org/occurrence/facets?facets=year&flimit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: application/json;charset=UTF-8
      content-language: en-US
    body:
      encoding: UTF-8
      file: no
      string: |
        {
        "message": "No live SolrServers available to handle this request:[http://172.31.9.81:8983/solr/biocache, http://172.31.15.129:8983/solr/biocache, http://172.31.14.216:8983/solr/biocache]", "errorType": "Server error"
        }
  recorded_at: 2021-08-18 05:54:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
